extends layout

block content
  br
  .clearfix
    .gsc-tab-views.style-1
      .clearfix.text-center
       div
       ul.nav.nav-tabs
          h2.title
            span(style="text-transform:uppercase") AEP Senegal
          ol
           li
             a(href="/projets") Nos Projets&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          //-  span /
          //-  li 
          //-  li 
          //-   | &nbspAEP Sénégal
    br
    .gbb-row-wrapper
      .gbb-row.bg-size-default(style="background-image:url('../images/engineering.jpg'); background-repeat:no-repeat; background-position:center bottom")
        .bb-inner.remove_padding
          .bb-container.container
            .row
              .row-wrapper.clearfix
                .gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .gva-portfolio-items.clearfix
                      .row
                        .isotope-items.view-portfolio(data-pid='254jl' data-drupal-views-infinite-scroll-content-wrapper-gvaloadmore='' style='position: relative; height: 4203.26px;')
                          .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 0px; top: 0px;')
                            .views-field.views-field-nothing
                              span.field-content
                                .portfolio-item.v2.margin-bottom-30
                                  .image
                                    a(href='/aepsenegal')
                                      img(src='../images/Images_AEP_Senegale/Champ_solaire_Tombrokto.JPG' alt='Tronon-Sametoutou' typeof='Image')
                                  .content
                                    .content-inner
                                      .title
                                        a(href='/aepsenegal' ) Champ Solaire Tombrokto
                                      .category
                                        a(href='/aepsenegal' ) Projet AEP Sénégal
                          .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 322px; top: 0px;')
                            .views-field.views-field-nothing
                              a(href='/aepsenegal' )
                                span.field-content
                              .portfolio-item.v2.margin-bottom-30
                                a(href='/aepsenegal' )
                                .image
                                  a(href='/aepsenegal' ) 
                                  a(href='/aepsenegal')  
                                    img(src='../images/Images_AEP_Senegale/Coffrage_cuve_multi_village_de_150_m3.JPG' alt='tronon-Dioudoubou' typeof='Image')
                                .content
                                  .content-inner
                                    .title
                                      a(href='/aepsenegal' ) Coffrage cuve multi village de 150 m3
                                    .category
                                      a(href='/aepsenegal' ) Projet AEP Sénégal
                          .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 644px; top: 0px;')
                            .views-field.views-field-nothing
                              a(href='/aepsenegal' )
                                span.field-content
                              .portfolio-item.v2.margin-bottom-30
                                a(href='/aepsenegal' )
                                .image
                                  a(href='/aepsenegal' )
                                  a(href='/aepsenegal')
                                    img(src='../images/Images_AEP_Senegale/Coffrage_cuve_solaire_de_150m3.JPG' alt='tronon-Kougne-sina' typeof='Image')
                                .content
                                  .content-inner
                                    .title
                                      a(href='/aepsenegal' ) Coffrage cuve solaire de 150m3
                                    .category
                                      a(href='/aepsenegal' ) Projet AEP Sénégal
                          .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 0px; top: 323px;')
                            .views-field.views-field-nothing
                              a(href='/aepsenegal' )
                                span.field-content
                              .portfolio-item.v2.margin-bottom-30
                                a(href='/aepsenegal' )
                                .image
                                  a(href='/aepsenegal' )
                                  a(href='/aepsenegal')
                                    img(src='../images/Images_AEP_Senegale/Coffrage_Doud_cuve_de_150_m3.JPG' alt='lot1-digue-route' typeof='Image')
                                .content
                                  .content-inner
                                    .title
                                      a(href='/aepsenegal' ) Coffrage Doud cuve de 150m3
                                    .category
                                      a(href='/aepsenegal' ) Projet AEP Sénégal
                          .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 322px; top: 323px;')
                            .views-field.views-field-nothing
                              a(href='/aepsenegal' )
                                span.field-content
                              .portfolio-item.v2.margin-bottom-30
                                a(href='/aepsenegal' )
                                .image
                                  a(href='/aepsenegal' )
                                  a(href='/aepsenegal')
                                    img(src='../images/Images_AEP_Senegale/cuve_de_Verma_75_m3.JPG' alt='Tronon-Oudoucar' typeof='Image')
                                .content
                                  .content-inner
                                    .title
                                      a(href='/aepsenegal' ) Cuve de Verma 75m3 
                                    .category
                                      a(href='/aepsenegal' ) Projet AEP Sénégal
                          .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 544px; top: 323px;')
                            .views-field.views-field-nothing
                              a(href='/aepsenegal' )
                                span.field-content
                              .portfolio-item.v2.margin-bottom-30
                                a(href='/aepsenegal' )
                                .image
                                  a(href='/aepsenegal' )
                                  a(href='/aepsenegal')
                                    img(src='../images/Images_AEP_Senegale/Echafaudage_pour_cuve_de_150_m3.JPG' alt='Piste-Oudoucar--Bambinar' typeof='Image')
                                .content
                                  .content-inner
                                    .title
                                      a(href='/aepsenegal' ) Echafaudage pour cuve de 150m3
                                    .category
                                      a(href='/aepsenegal' ) Projet AEP Sénégal