extends layout

block content
  br
  .clearfix.banner
    .gsc-tab-views.style-1
      .clearfix.text-center
      div
      ul.nav.nav-tabs
          h2.title
            span(style="text-transform:uppercase") PROJET AGEROUTE SENEGAL
          ol
            li
              a(href="/projets") Projets&nbsp
            //- span /
            //- li 
            //- li 
            //-  | &nbspAgeroute Sénégal
    br
    .gbb-row-wrapper
      .gbb-row.bg-size-default(style="background-image:url('../images/engineering.jpg'); background-repeat:no-repeat; background-position:center bottom")
        .bb-inner.remove_padding
          .bb-container.container
            .row
              .row-wrapper.clearfix
                .gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .gva-portfolio-items.clearfix
                      .row
                        br
                        .isotope-items.view-portfolio(data-pid='254jl' data-drupal-views-infinite-scroll-content-wrapper-gvaloadmore='' style='position: relative; height: 4203.26px;')
                          .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 0px; top: 0px;')
                            .views-field.views-field-nothing
                              span.field-content
                                .portfolio-item.v2.margin-bottom-30
                                  .image
                                    a(href='/ageroutesenegal')
                                      img(src='../images/Radier-de-60-lot1-Tronon-Sametoulou--Samkatan.jpeg' alt='Tronon-Sametoutou' typeof='Image')
                                  .content
                                    .content-inner
                                      .title
                                        a(href='/ageroutesenegal' ) Radier-de-60-lot1-Tronon-Sametoulou--Samkatan
                                      .category
                                        a(href='/ageroutesenegal' ) Ageroute Sénégal
                          .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 322px; top: 0px;')
                            .views-field.views-field-nothing
                              a(href='/ageroutesenegal' )
                                span.field-content
                              .portfolio-item.v2.margin-bottom-30
                                a(href='/ageroutesenegal' )
                                .image
                                  a(href='/ageroutesenegal' )
                                  a(href='/ageroutesenegal')
                                    img(src='../images/radier-de-40m-lot-2-tronon-Dioudoubou---Boraya.jpeg' alt='tronon-Dioudoubou' typeof='Image')
                                .content
                                  .content-inner
                                    .title
                                      a(href='/ageroutesenegal' ) radier-de-40m-lot-2-tronon-Dioudoubou---Boraya 
                                    .category
                                      a(href='/ageroutesenegal' ) Ageroute Sénégal
                          .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 644px; top: 0px;')
                            .views-field.views-field-nothing
                              a(href='/ageroutesenegal' )
                                span.field-content
                              .portfolio-item.v2.margin-bottom-30
                                a(href='/ageroutesenegal' )
                                .image
                                  a(href='/ageroutesenegal' )
                                  a(href='/ageroutesenegal')
                                    img(src='../images/Dalot-3x200x200x-bec-de-canard-lot2-tronon-Kougne-sina.jpeg' alt='tronon-Kougne-sina' typeof='Image')
                                .content
                                  .content-inner
                                    .title
                                      a(href='/ageroutesenegal' ) Dalot-3x200x200x bec de canard lot2 tronon-Kougne-sina
                                    .category
                                      a(href='/ageroutesenegal' ) Ageroute Sénégal
                          .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 0px; top: 323px;')
                            .views-field.views-field-nothing
                              a(href='/ageroutesenegal' )
                                span.field-content
                              .portfolio-item.v2.margin-bottom-30
                                a(href='/ageroutesenegal' )
                                .image
                                  a(href='/ageroutesenegal' )
                                  a(href='/ageroutesenegal')
                                    img(src='../images/Dalot3x200x150-lot1-digue-route.jpeg' alt='lot1-digue-route' typeof='Image')
                                .content
                                  .content-inner
                                    .title
                                      a(href='/ageroutesenegal' ) Dalot3x200x150 lot1 digue route
                                    .category
                                      a(href='/ageroutesenegal' ) Ageroute Sénégal
                          .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 322px; top: 323px;')
                            .views-field.views-field-nothing
                              a(href='/ageroutesenegal' )
                                span.field-content
                              .portfolio-item.v2.margin-bottom-30
                                a(href='/ageroutesenegal' )
                                .image
                                  a(href='/ageroutesenegal' )
                                  a(href='/ageroutesenegal')
                                    img(src='../images/Digue-route-Tronon-Oudoucar---Bambinar.jpeg' alt='Tronon-Oudoucar' typeof='Image')
                                .content
                                  .content-inner
                                    .title
                                      a(href='/ageroutesenegal' ) Digue route Tronon Oudoucar Bambinar 
                                    .category
                                      a(href='/ageroutesenegal' ) Ageroute Sénégal
                          .col-lg-4.col-md-4.col-sm-4.col-xs-12.14(data-uk-filter=' 14' style='position: absolute; left: 644px; top: 323px;')
                            .views-field.views-field-nothing
                              a(href='/ageroutesenegal' )
                                span.field-content
                              .portfolio-item.v2.margin-bottom-30
                                a(href='/ageroutesenegal' )
                                .image
                                  a(href='/ageroutesenegal' )
                                  a(href='/ageroutesenegal')
                                    img(src='../images/Piste-Oudoucar---Bambinar.jpeg' alt='Piste-Oudoucar---Bambinar' typeof='Image')
                                .content
                                  .content-inner
                                    .title
                                      a(href='/ageroutesenegal' )
                                        | Piste Oudoucar Bambinar
                                    .category
                                      a(href='/ageroutesenegal' ) Ageroute Sénégal
