extends layout

block content
  .main.main-page(role='main')
          .clearfix
          .help.show
            .container
              .control-panel
                i.fa.fa-cogs
              .content-inner
                div
          .clearfix
          .clearfix
          #content.content.content-full
            .container-full
              .content-main-inner
                #page-main-content.main-content
                  .main-content-inner
                    .content-main
                      div
                        #block-gavias-buildpro-content.block.block-system.block-system-main-block.no-title
                          .content.block-content
                            // Start Display article for detail page
                            article.node.node--type-page.node--view-mode-full(data-history-node-id='4' role='article' typeof='schema:WebPage')
                              header
                                .container
                                  .widget.gsc-heading.align-left.style-1.padding-bottom-20
                                    h2.node__title.title
                                      span
                                        span(property='schema:name') Accueil
                                      span.heading-line
                              .node__content.clearfix
                                .field.field--name-field-block-builder.field--type-blockbuilder.field--label-hidden.field__item
                                  .gavias-blockbuilder-content
                                    .gavias-blockbuilder-content
                                      .gbb-row-wrapper
                                        .gbb-row.bg-size-cover(style='')
                                          .bb-inner.remove_margin.remove_padding.remove_padding_col
                                            .bb-container.container-fw
                                              .row
                                                .row-wrapper.clearfix
                                                  .gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-block-drupal.title-align-left.hidden-title-off.remove-margin-on.text-dark
                                                          #block-gaviassliderlayerslideraccueilfr.block.block-gavias-sliderlayer.block-gavias-sliderlayer-blockgavias-sliderlayer-block____5.no-title
                                                            .content.block-content
                                                              .gavias_sliderlayer.rev_slider_wrapper.fullwidthbanner-container(style='height:780px')
                                                                #4uzi1.rev_slider.fullwidthabanner(data-version='5.4.1')
                                                                  ul
                                                                    li(data-transition='random' data-easein='Power0.easeIn' data-easeout='Power1.easeOut' data-slotamount='7' data-kenburns='off' data-masterspeed='default' data-index='rs-1')
                                                                      img.rev-slidebg(src='../images/IMG_Page-2.jpg' alt='' data-duration='300' data-bgparallax='8' data-scalestart='0' data-scaleend='0' data-kenburns='off' data-bgrepeat='no-repeat' style='background-color:#f2f2f2' data-bgfit='cover' data-bgposition='center top')
                                                                      .tp-caption.text.text-center.slide-style-4(data-x='center' data-y='260' data-start='568.49' data-transform_idle='o:1;' data-transform_in='x:inherit;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:easeOutExpo;' style='z-index:5')
                                                                        | SAED MALI
                                                                      .tp-caption.text.text-white.text-center.slide-style-1.tp-resizeme.splitted(data-x='center' data-y='315' data-start='1180.82' data-transform_idle='o:1;' data-splitin='chars' data-elementdelay='0.1' data-transform_in='x:inherit;y:[100%];z:0;rX:inherit;rY:inherit;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:easeOutExpo;' data-transform_out='x:inherit;y:inherit;z:inherit;rX:inherit;rY:inherit;rZ:inherit;sX:0;sY:0;skX:inherit;skY:inherit;opacity:0;s:300;e:;' style='z-index:4')
                                                                        | BUREAU D'ÉTUDES
                                                                      .tp-caption.text.text-white.text-center.slide-style-5(data-x='center' data-y='410' data-start='1853.42' data-transform_idle='o:1;' data-transform_in='x:inherit;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:easeOutExpo;' style='z-index:3')
                                                                        | « Études préliminaires, Audits, Expertises »
                                                                      .tp-caption.text.text-center.btn-slide-line(data-x='center' data-y='470' data-start='2139.73' data-transform_idle='o:1;' data-transform_in='x:inherit;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:easeOutExpo;' style='z-index:2')
                                                                        a(href='/references') Voir nos références
                                                                    li(data-transition='random' data-easein='Power0.easeIn' data-easeout='Power1.easeOut' data-slotamount='7' data-kenburns='off' data-masterspeed='default' data-index='rs-2')
                                                                      img.rev-slidebg(src='../images/Mise-en-eau-du-canal-secondaire-et-parcelle-par-Bassin.jpg' alt='' data-duration='300' data-bgparallax='8' data-scalestart='0' data-scaleend='0' data-kenburns='off' data-bgrepeat='no-repeat' style='background-color:#f2f2f2' data-bgfit='cover' data-bgposition='center top')
                                                                      .tp-caption.text.text-white.slide-style-1(data-x='130' data-y='275' data-start='1000.00' data-transform_idle='o:1;' data-transform_in='x:inherit;y:inherit;z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:600;e:easeOutExpo;' style='z-index:5')
                                                                        | CARRIÈRE à SAED
                                                                      .tp-caption.text.btn-slide-white(data-x='300' data-y='390' data-start='1447.37' data-transform_idle='o:1;' data-transform_in='x:inherit;y:inherit;z:0;rX:0;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:600;e:easeInOutCubic;' style='z-index:4')
                                                                        | Nous sommes un bureau d'études privé formé d’Ingénieurs et de Techniciens de 
                                                                        br
                                                                        | compétences diverses, familiarisés avec les techniques modernes de travail.
                                                                      .tp-caption.text.btn-slide-line(data-x='510' data-y='470' data-start='2000.00' data-transform_idle='o:1;' data-transform_in='x:inherit;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:easeOutExpo;' style='z-index:3')
                                                                        a(href='/nous-contacter') Nous contacter
                                                                      .tp-caption.text.slide-style-4(data-x='455' data-y='220' data-start='14.62' data-end='2514.62' data-transform_idle='o:1;' data-transform_in='x:inherit;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:easeOutExpo;' style='z-index:2')
                                                                        | LEADERSHIP
                                                                    li(data-transition='random' data-easein='Power0.easeIn' data-easeout='Power1.easeOut' data-slotamount='7' data-kenburns='off' data-masterspeed='default' data-index='rs-3')
                                                                      img.rev-slidebg(src='../images/PM-Koumbri.jpeg' alt='' data-duration='300' data-bgparallax='8' data-scalestart='0' data-scaleend='0' data-kenburns='off' data-bgrepeat='no-repeat' style='background-color:#f2f2f2' data-bgfit='cover' data-bgposition='center top')
                                                                      .tp-caption.text.text-center.text-white.slide-style-3(data-x='259' data-y='210' data-start='1000.00' data-transform_idle='o:1;' data-transform_in='x:inherit;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:easeOutExpo;' style='z-index:4')
                                                                        | Pourquoi SAED MALI ?
                                                                      .tp-caption.text.text-center.text-white.slide-style-5(data-x='280' data-y='320' data-start='1500.00' data-transform_idle='o:1;' data-transform_in='x:inherit;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:easeOutExpo;' style='z-index:3')
                                                                        | Études de conception, Assistance pour la dévolution des travaux, 
                                                                        br 
                                                                        | Control et réception des travaux, Collaboration effective avec les maîtres d'ouvrages.
                                                                      .tp-caption.text.btn-slide-line(data-x='430' data-y='440' data-start='2000.00' data-transform_idle='o:1;' data-transform_in='x:inherit;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:easeOutExpo;' style='z-index:2')
                                                                        a(href='/propos') Découvrez ce que nous faisons
                                                                  .tp-bannertimer.tp-top
                                                              script(type='text/javascript').
                                                                jQuery(document).ready(function($){
                                                                jQuery('#4uzi1').show().revolution({"delay":5000,"gridheight":780,"gridwidth":1170,"minHeight":0,"autoHeight":"off","sliderType":"standard","sliderLayout":"auto","fullScreenAutoWidth":"on","fullScreenAlignForce":"off","fullScreenOffsetContainer":"","fullScreenOffset":"0","hideCaptionAtLimit":0,"hideAllCaptionAtLimit":0,"hideSliderAtLimit":0,"disableProgressBar":"off","stopAtSlide":-1,"stopAfterLoops":-1,"shadow":"0","dottedOverlay":"none","startDelay":0,"lazyType":"none","spinner":"spinner0","shuffle":"off","debugMode":0,"parallax":{"type":"mouse","origo":"slidercenter","speed":2000,"levels":[4,5,6,7,12,16,10,50,46,47,48,49,50,55]},"navigation":{"onHoverStop":"on","touch":{"touchenabled":"on"},"arrows":{"enable":true,"left":{"h_align":"left","v_align":"center","h_offset":20,"v_offset":0},"right":{"h_align":"right","v_align":"center","h_offset":20,"v_offset":0}},"bullets":{"enable":true,"v_align":"bottom","h_align":"center","v_offset":20,"space":10,"tmp":""}}});
                                                                });
                                      .gbb-row-wrapper
                                        .style-content-row-v1.gbb-row.bg-size-cover(style='')
                                          .bb-inner.remove_padding
                                            .bb-container.container
                                              .row
                                                .row-wrapper.clearfix
                                                  .gsc-column.col-lg-3.col-md-3.col-sm-6.col-xs-12.hidden-sm.hidden-xs
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-icon-box.top-center.text-light
                                                          .highlight-icon
                                                            span.icon-container.fa-1x.text-theme
                                                              span.icon
                                                                img(src='http://cira-sas.com/sites/default/files/metiers/Mali_Pont-kayo1_Page11.JPG')
                                                          .highlight_content
                                                            .title
                                                              a(href='/nos-metiers/infrastructures-de-transport')  Infrastructures de Transport 
                                                  .gsc-column.col-lg-3.col-md-3.col-sm-6.col-xs-12.hidden-sm.hidden-xs
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-icon-box.top-center.text-light
                                                          .highlight-icon
                                                            span.icon-container.fa-1x.text-theme
                                                              span.icon
                                                                img(src='http://cira-sas.com/sites/default/files/metiers/AH.jpg')
                                                          .highlight_content
                                                            .title
                                                              a(href='/nos-metiers/amenagements-hdro-agricoles-et-developpement-rural')  Aménagements Hydro-agricoles et Développement Rural 
                                                  .gsc-column.col-lg-3.col-md-3.col-sm-6.col-xs-12.hidden-sm.hidden-xs
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-icon-box.top-center.text-light
                                                          .highlight-icon
                                                            span.icon-container.fa-1x.text-theme
                                                              span.icon
                                                                img(src='http://cira-sas.com/sites/default/files/metiers/Approvisionnement%20en%20eau.jpg')
                                                          .highlight_content
                                                            .title
                                                              a(href='/nos-metiers/approvisionnement-eau-assainissement')  Approvisionnement en Eau et Assainissement 
                                                  .gsc-column.col-lg-3.col-md-3.col-sm-6.col-xs-12.hidden-sm.hidden-xs
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-icon-box.top-center.text-light
                                                          .highlight-icon
                                                            span.icon-container.fa-1x.text-theme
                                                              span.icon
                                                                img(src='http://cira-sas.com/sites/default/files/metiers/BCI.jpg')
                                                          .highlight_content
                                                            .title
                                                              a(href='/nos-metiers/batiments-civils-et-industriels')  Bâtiments Civils et Industriels 
                                      .gbb-row-wrapper
                                        .gbb-row.bg-size-default(style="background-image:url('/sites/default/files/gbb-uploads/bg-9.jpg'); background-repeat:no-repeat; background-position:center bottom")
                                          .bb-inner.remove_padding
                                            .bb-container.container
                                              .row
                                                .row-wrapper.clearfix
                                                  .gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-heading.align-center.style-2.text-dark
                                                          h2.title
                                                            span
                                                              | CIRA SAS apporte son expertise dans toutes les phases de la réalisation d’un Projet de développement.
                                                          .title-desc
                                                            p
                                                              | CIRA SAS (Conseil Ingénierie et Recherche Appliquée) est un Bureau d’Études privé présent dans plus de vingt pays en Afrique. Nous livrons des projets d'envergure dans les domaines du développement économique et social.
                                                        .clearfix
                                                  .gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                  .gsc-column.col-lg-4.col-md-4.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-icon-box.top-left-title.text-dark
                                                          .highlight_content
                                                            .title-inner
                                                              .highlight-icon
                                                                span.icon-container.fa-1x.text-theme
                                                                  span.icon
                                                                    img(src='../images/PM-Koumbri.jpeg')
                                                              .title
                                                                | Études de définition et de faisabilité
                                                        .widget.gsc-icon-box.top-left-title.text-dark
                                                          .highlight_content
                                                            .title-inner
                                                              .highlight-icon
                                                                span.icon-container.fa-1x.text-theme
                                                                  span.icon
                                                                    img(src='../images/PM-Nampossela.jpeg')
                                                              .title
                                                                | Élaboration des dossiers de consultation des entreprises
                                                  .gsc-column.col-lg-4.col-md-4.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-icon-box.top-left-title.text-dark
                                                          .highlight_content
                                                            .title-inner
                                                              .highlight-icon
                                                                span.icon-container.fa-1x.text-theme
                                                                  span.icon
                                                                    img(src='../images/Tronon-Oudoucar--Bambinar.jpeg')
                                                              .title
                                                                | Études d’avant-projet sommaire et détaillé
                                                        .widget.gsc-icon-box.top-left-title.text-dark
                                                          .highlight_content
                                                            .title-inner
                                                              .highlight-icon
                                                                span.icon-container.fa-1x.text-theme
                                                                  span.icon
                                                                    img(src='../images/Mise-en-eau-du-canal-secondaire-et-parcelle-par-Bassin.jpg')
                                                              .title
                                                                | Contrôle et coordination de l’exécution des travaux
                                                  .gsc-column.col-lg-4.col-md-4.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-icon-box.top-left-title.text-dark
                                                          .highlight_content
                                                            .title-inner
                                                              .highlight-icon
                                                                span.icon-container.fa-1x.text-theme
                                                                  span.icon
                                                                    img(src='../images/IMG_Page-2.jpg')
                                                              .title
                                                                | Études d’exécution pour le compte des entreprises
                                                        .widget.gsc-icon-box.top-left-title.text-dark
                                                          .highlight_content
                                                            .title-inner
                                                              .highlight-icon
                                                                span.icon-container.fa-1x.text-theme
                                                                  span.icon
                                                                    img(src='http://cira-sas.com/sites/default/files/inline-images/businessmen-team-working-with-time.png')
                                                              .title
                                                                | Maîtrise d'ouvrage déléguée et Assistance Technique
                                                      span Actualités
                                                        .clearfix
                                                        div
                                                          .widget.block.gsc-block-view.gsc-block-drupal.block-view.title-align-left.text-dark.remove-margin-off
                                                            .views-element-container
                                                              .post-grid-2.gva-view.js-view-dom-id-3248470fdf6e5a80b36c8dd8395dd742aef370c575d9331dc6d6ab6cde9d92bd
                                                                .owl-carousel.init-carousel-owl(data-items='3' data-items_lg='3' data-items_md='2' data-items_sm='2' data-items_xs='1' data-loop='1' data-speed='200' data-auto_play='1' data-auto_play_speed='1000' data-auto_play_timeout='3000' data-auto_play_hover='1' data-navigation='1' data-rewind_nav='1' data-pagination='1' data-mouse_drag='1' data-touch_drag='1')
                                                                  .item
                                                                    div
                                                                      .views-field.views-field-nothing
                                                                        span.field-content
                                                                          .post-block
                                                                            .post-image
                                                                              img(src='/sites/default/files/styles/large/public/2020-08/AEP-Santana-1.jpeg?itok=r9lGiuVK' alt='AEP Santana' typeof='Image')
                                                                            .post-content.text-left
                                                                              .post-meta
                                                                                span.post-created 26 aoû 20 
                                                                              .post-title
                                                                                a(href='/fr/actualites/le-projet-daep-de-la-ville-de-santana-et-de-centre-dagua-ize-recu-la-visite-du-premier' hreflang='fr') Le Projet d’AEP de la… 
                                                                              .post-link
                                                                                a(href='/fr/actualites/le-projet-daep-de-la-ville-de-santana-et-de-centre-dagua-ize-recu-la-visite-du-premier' hreflang='fr') Détails
                                                                  .item
                                                                    div
                                                                      .views-field.views-field-nothing
                                                                        span.field-content
                                                                          .post-block
                                                                            .post-image
                                                                              img(src='/sites/default/files/styles/large/public/2020-07/IMG-20200625-WA0003.jpg?itok=dd2w8b0e' alt='Moundou' typeof='Image')
                                                                            .post-content.text-left
                                                                              .post-meta
                                                                                span.post-created 01 juil 20 
                                                                              .post-title
                                                                                a(href='/fr/actualites/le-gouverneur-de-la-province-du-logone-occidental-m-dago-yacoub-sur-le-projet' hreflang='fr') Le Gouverneur de la Province du… 
                                                                              .post-link
                                                                                a(href='/fr/actualites/le-gouverneur-de-la-province-du-logone-occidental-m-dago-yacoub-sur-le-projet' hreflang='fr') Détails
                                                                  .item
                                                                    div
                                                                      .views-field.views-field-nothing
                                                                        span.field-content
                                                                          .post-block
                                                                            .post-image
                                                                              img(src='/sites/default/files/styles/large/public/2020-06/Photo-President.jpg?itok=7naFOH_L' alt='Monsieur Seydou Mamadou COULIBALY, Président de CIRA SAS' typeof='Image')
                                                                            .post-content.text-left
                                                                              .post-meta
                                                                                span.post-created 23 juin 20 
                                                                              .post-title
                                                                                a(href='/fr/actualites/mise-en-place-de-la-chambre-de-commerce-canada-mali' hreflang='fr') Mise en place de la chambre de Commerce Canada-Mali.
                                                                              .post-link
                                                                                a(href='/fr/actualites/mise-en-place-de-la-chambre-de-commerce-canada-mali' hreflang='fr') Détails
                                                                  .item
                                                                    div
                                                                      .views-field.views-field-nothing
                                                                        span.field-content
                                                                          .post-block
                                                                            .post-image
                                                                              img(src='/sites/default/files/styles/large/public/2020-06/Publication-RN2-1.JPG?itok=01thjBRp' alt='Projet de réhabilitation de la RN2 à l’île de Grandes Comores' typeof='Image')
                                                                            .post-content.text-left
                                                                              .post-meta
                                                                                span.post-created 08 juin 20 
                                                                              .post-title
                                                                                a(href='/fr/actualites/visite-de-son-excellence-monsieur-azali-assoumani-president-de-lunion-des-comores-sur-le' hreflang='fr') Visite de son… 
                                                                              .post-link
                                                                                a(href='/fr/actualites/visite-de-son-excellence-monsieur-azali-assoumani-president-de-lunion-des-comores-sur-le' hreflang='fr') Détails
                                                                  .item
                                                                    div
                                                                      .views-field.views-field-nothing
                                                                        span.field-content
                                                                          .post-block
                                                                            .post-image
                                                                              img(src='/sites/default/files/styles/large/public/2019-11/station-1_0.jpg?itok=S_wOExK3' alt='Contrôle et Surveillance des Travaux de construction d’une station de traitement d’eau potable à Irobo, de réhabilitation de sa prise d’eau et de sa piste d’accès, et de pose de conduite de l’eau brute' typeof='Image')
                                                                            .post-content.text-left
                                                                              .post-meta
                                                                                span.post-created 01 nov 19 
                                                                              .post-title
                                                                                a(href='/fr/actualites/demarrage-du-projet-de-construction-rehabilitation-modernisation-et-extension-des' hreflang='fr') Démarrage du projet de… 
                                                                              .post-link
                                                                                a(href='/fr/actualites/demarrage-du-projet-de-construction-rehabilitation-modernisation-et-extension-des' hreflang='fr') Détails
                                      .gbb-row-wrapper
                                        .gbb-row.gva-parallax-background.bg-size-cover(style="padding-top:50px; padding-bottom:50px; background-image:url('/sites/default/files/gbb-uploads/bg-1.jpg'); background-repeat:no-repeat; background-position:center center")
                                          .bb-inner.default
                                            .bb-container.container
                                              .row
                                                .row-wrapper.clearfix
                                                  .gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12.margin-bottom-40
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-heading.align-center.style-1.text-light
                                                          h2.title
                                                            span Nos valeurs fondamentales
                                                        .clearfix
                                                  .gsc-column.col-lg-3.col-md-3.col-sm-6.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-icon-box.top-center.width-200.text-light
                                                          .highlight-icon
                                                            span.icon-container.fa-1x.text-theme
                                                              span.icon
                                                                img(src='http://cira-sas.com/sites/default/files/gbb-uploads/icon-4.png')
                                                          .highlight_content
                                                            .title
                                                              a(href='#')  Engagement 
                                                            .desc
                                                              p
                                                                span(style="color: #ffffff; font-family: 'Open Sans', sans-serif; font-size: 14px; text-align: justify;")
                                                                  | Faire preuve d’engagement, c'est chercher à comprendre les besoins et attentes de nos clients, collègues ou partenaires.
                                                  .gsc-column.col-lg-3.col-md-3.col-sm-6.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-icon-box.top-center.width-200.text-light
                                                          .highlight-icon
                                                            span.icon-container.fa-1x.text-theme
                                                              span.icon
                                                                img(src='http://cira-sas.com/sites/default/files/gbb-uploads/icon-5.png')
                                                          .highlight_content
                                                            .title
                                                              a(href='#')  Ambition 
                                                            .desc
                                                              p
                                                                span(style="font-family: 'Open Sans', sans-serif; font-size: 14px; text-align: justify; color: #ffffff;")
                                                                  | Depuis sa création, CIRA SAS s’est toujours fixé des objectifs élevés et met en œuvre les moyens pour les atteindre.
                                                  .gsc-column.col-lg-3.col-md-3.col-sm-6.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-icon-box.top-center.width-200.text-light
                                                          .highlight-icon
                                                            span.icon-container.fa-1x.text-theme
                                                              span.icon
                                                                img(src='http://cira-sas.com/sites/default/files/gbb-uploads/icon-6.png')
                                                          .highlight_content
                                                            .title
                                                              a(href='#')  Développement durable 
                                                            .desc
                                                              p
                                                                span(style="color: #ffffff; font-family: 'Open Sans', sans-serif; font-size: 14px; text-align: justify;")
                                                                  | Nous sommes convaincus que nous devons utiliser nos ressources pour exister positivement dans notre environnement.
                                                  .gsc-column.col-lg-3.col-md-3.col-sm-6.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-icon-box.top-center.width-200.text-light
                                                          .highlight-icon
                                                            span.icon-container.fa-1x.text-theme
                                                              span.icon
                                                                img(src='http://cira-sas.com/sites/default/files/gbb-uploads/icon-7.png')
                                                          .highlight_content
                                                            .title
                                                              a(href='#')  Intégrité et respect 
                                                            .desc
                                                              p
                                                                span(style="color: #ffffff; font-family: 'Open Sans', sans-serif; font-size: 14px; text-align: justify;")
                                                                  | Nous tenons nos promesses et mettons toujours tout en œuvre pour faire preuve d’un haut niveau d’intégrité.
                                          .gva-parallax-inner.skrollable.skrollable-between.bg-size-cover(style='background-repeat: no-repeat;background-position:center center;' data-bottom-top='top: -68%;' data-top-bottom='top: 0%;')
                                      .gbb-row-wrapper
                                        .gbb-row.bg-size-cover.gsc-equal-height(style='')
                                          .bb-inner.remove_padding_bottom
                                            .bb-container.container
                                              .row
                                                .row-wrapper.clearfix
                                                  .gsc-column.col-lg-6.col-md-6.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-default(style='background-image:url(http://cira-sas.com//sites/default/files/gbb-uploads/map.png); background-repeat:no-repeat; background-attachment:scroll; background-position:center center')
                                                      .column-content-inner
                                                        .column-content.text-center
                                                          .clients-world
                                                            .number-client
                                                              strong +288
                                                              |  Clients
                                                            p Dans le monde entier
                                                  .gsc-column.col-lg-6.col-md-6.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-heading.align-left.style-1.text-dark
                                                          h2.title
                                                            span Reconnu par les principaux bailleurs de fonds
                                                          .title-desc
                                                            p
                                                              | Nos interlocuteurs financiers opérant dans la région nous ont accordé leur confiance.
                                                        .clearfix
                                      .gbb-row-wrapper
                                        .gbb-row.bg-size-cover.gsc-equal-height(style='')
                                          .bb-inner.remove_padding
                                            .bb-container.container
                                              .row
                                                .row-wrapper.clearfix
                                                  .gsc-column.col-lg-5.col-md-5.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .column-content
                                                          .video-iframe
                                                            .video
                                                              iframe(src='https://www.youtube.com/embed/JXldBGD5gJY' width='560' height='315' frameborder='0' allowfullscreen='allowfullscreen')
                                                            p.link-video
                                                              a(href='https://youtu.be/JXldBGD5gJY')
                                                                strong CIRA SAS
                                                            p.button-interview Faites connaissance avec nos collaborateurs
                                                  .gsc-column.col-lg-7.col-md-7.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        div
                                                          .widget.block.gsc-block-view.gsc-block-drupal.block-view.title-align-left.text-dark.remove-margin-off
                                                            .views-element-container
                                                              .text-center.banner-grid.gva-view.js-view-dom-id-43d5515f8c740074390aebd567a420eec2de2085b827570d40c11aee43ef513a
                                                                .views-view-grid.horizontal.cols-4.clearfix
                                                                  .views-row.row.clearfix.row-1
                                                                    .views-col.col-1.col-lg-3.col-md-3.col-sm-6.col-xs-12(style='width: 25%;')
                                                                      .views-field.views-field-field-image
                                                                        .field-content
                                                                          img(src='/sites/default/files/banner/BanqueMondiale_0.jpg' alt='Banque Mondiale' typeof='foaf:Image')
                                                                    .views-col.col-2.col-lg-3.col-md-3.col-sm-6.col-xs-12(style='width: 25%;')
                                                                      .views-field.views-field-field-image
                                                                        .field-content
                                                                          img(src='/sites/default/files/banner/DB.jpg' alt='BID' typeof='foaf:Image')
                                                                    .views-col.col-3.col-lg-3.col-md-3.col-sm-6.col-xs-12(style='width: 25%;')
                                                                      .views-field.views-field-field-image
                                                                        .field-content
                                                                          img(src='/sites/default/files/banner/BanqueOuestAfriaineDevelopment_0.jpg' alt='BOAD' typeof='foaf:Image')
                                                                    .views-col.col-4.col-lg-3.col-md-3.col-sm-6.col-xs-12(style='width: 25%;')
                                                                      .views-field.views-field-field-image
                                                                        .field-content
                                                                          img(src='/sites/default/files/banner/BIDC_1_0.jpg' alt='BIDC' typeof='foaf:Image')
                                                                  .views-row.row.clearfix.row-2
                                                                    .views-col.col-1.col-lg-3.col-md-3.col-sm-6.col-xs-12(style='width: 25%;')
                                                                      .views-field.views-field-field-image
                                                                        .field-content
                                                                          img(src='/sites/default/files/banner/BDEAC_0.jpg' alt='BDEAC' typeof='foaf:Image')
                                                                    .views-col.col-2.col-lg-3.col-md-3.col-sm-6.col-xs-12(style='width: 25%;')
                                                                      .views-field.views-field-field-image
                                                                        .field-content
                                                                          img(src='/sites/default/files/banner/BADEA_0.jpg' alt='BADEA' typeof='foaf:Image')
                                                                    .views-col.col-3.col-lg-3.col-md-3.col-sm-6.col-xs-12(style='width: 25%;')
                                                                      .views-field.views-field-field-image
                                                                        .field-content
                                                                          img(src='/sites/default/files/banner/BanqueAfricaineDevelopement1.jpg' alt='BAd' typeof='foaf:Image')
                                                                    .views-col.col-4.col-lg-3.col-md-3.col-sm-6.col-xs-12(style='width: 25%;')
                                                                      .views-field.views-field-field-image
                                                                        .field-content
                                                                          img(src='/sites/default/files/banner/Logo-AFD1.jpg' alt='AFD' typeof='foaf:Image')
                                      .gbb-row-wrapper
                                        .gbb-row.bg-size-cover.gsc-equal-height(style='padding-top:30px; padding-bottom:30px')
                                          .bb-inner.remove_padding
                                            .bb-container.container
                                              .row
                                                .row-wrapper.clearfix
                                                  .gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.clearfix.gsc-divider.one-line
                                                          .line-1
                                                          .line-2
                                                          .line-3
                                      .gbb-row-wrapper
                                        .row-border.gbb-row.gva-parallax-background.bg-size-cover(style="padding-top:50px; padding-bottom:50px; background-image:url('/sites/default/files/gbb-uploads/bg-10.jpg'); background-repeat:no-repeat; background-position:center top")
                                          .bb-inner.default
                                            .bb-container.container
                                              .row
                                                .row-wrapper.clearfix
                                                  .gsc-column.col-lg-3.col-md-3.col-sm-6.col-xs-12
                                                    .column-inner.bg-size-default
                                                      .column-content-inner
                                                        .widget.milestone-block.position-icon-bottom.text-light
                                                          .milestone-right
                                                            .milestone-number  500 +
                                                            .milestone-text Collaborateurs
                                                          .milestone-icon
                                                            img(src='http://cira-sas.com/sites/default/files/gbb-uploads/icon-8.png')
                                                  .gsc-column.col-lg-3.col-md-3.col-sm-6.col-xs-12
                                                    .column-inner.bg-size-default
                                                      .column-content-inner
                                                        .widget.milestone-block.position-icon-bottom.text-light
                                                          .milestone-right
                                                            .milestone-number +460
                                                            .milestone-text Projets réalisés 
                                                          .milestone-icon
                                                            img(src='http://cira-sas.com/sites/default/files/gbb-uploads/icon-9.png')
                                                  .gsc-column.col-lg-3.col-md-3.col-sm-6.col-xs-12
                                                    .column-inner.bg-size-default
                                                      .column-content-inner
                                                        .widget.milestone-block.position-icon-bottom.text-light
                                                          .milestone-right
                                                            .milestone-number +8
                                                            .milestone-text Implantations à travers l'Afrique
                                                          .milestone-icon
                                                            img(src='http://cira-sas.com/sites/default/files/gbb-uploads/icon-10.png')
                                                  .gsc-column.col-lg-3.col-md-3.col-sm-6.col-xs-12
                                                    .column-inner.bg-size-default
                                                      .column-content-inner
                                                        .widget.milestone-block.position-icon-bottom.text-light
                                                          .milestone-right
                                                            .milestone-number 21,68
                                                            .milestone-text Chiffre d'affaires en milliard de F CFA (En 2018)
                                                          .milestone-icon
                                                            img(src='http://cira-sas.com/sites/default/files/gbb-uploads/icon-11.png')
                                          .gva-parallax-inner.skrollable.skrollable-between.bg-size-cover(style='background-repeat: no-repeat;background-position:center top;' data-bottom-top='top: -68%;' data-top-bottom='top: 0%;')
                                      .gbb-row-wrapper
                                        .gbb-row.bg-size-cover(style="padding-top:50px; padding-bottom:50px; background-image:url('../images/Tronon-Oudoucar--Bambinar.jpeg'); background-repeat:no-repeat; background-position:center top")
                                          .bb-inner.remove_padding
                                            .bb-container.container
                                              .row
                                                .row-wrapper.clearfix
                                                  .gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-call-to-action.button-right.text-light(style='')
                                                          .content-inner.clearfix
                                                            .content
                                                              h2.title
                                                                span VOUS SOUHAITEZ EN SAVOIR PLUS SUR NOUS ? 
                                                              .desc
                                                            .button-action
                                                              a.btn-white(href='/propos') Cliquez ici
                                      .gbb-row-wrapper
                                        .gbb-row.bg-size-default(style='padding-top:30px; padding-bottom:30px')
                                          .bb-inner.default
                                            .bb-container.container
                                              .row
                                                .row-wrapper.clearfix
                                                  .gsc-column.col-lg-5.col-md-5.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-image.text-center
                                                          .widget-content
                                                            img(src='../images/presentation3.png' alt='')
                                                  .gsc-column.col-lg-7.col-md-7.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-box-info.text-dark
                                                          .widget-title.title CONTACTEZ-NOUS
                                                          .content
                                                            p
                                                              | Société Africaine d’Etudes pour le Développement
                                                          .info-item.address
                                                            i.gv-icon-1139
                                                            span
                                                              strong
                                                                | BP : E1409 Bamako ACI SOTUBA 
                                                          .info-item.email
                                                            i.gv-icon-239
                                                            span
                                                              strong saedmali@orangemali.net / info@saedmali.com
                                                          .info-item.phone
                                                            i.gv-icon-266
                                                            span
                                                              strong (00223) 20 71 73 21 / 20 24 73 21TEL/GSM : 63 98 11 61 / 76 47 53 13 / 66 71 45 10
                                                              br
                                                              a(href='https://www.linkedin.com/company/cira-sas')
                                                                i.fa.fa-linkedin
                                                              a(href='https://www.youtube.com/channel/cirasas')
                                                                i.fa.fa-youtube
block content