doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    meta(name='MobileOptimized' content='width')
    meta(name='HandheldFriendly' content='true')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='icon' href='../images/logo.png' type='image/png')
    link(rel='canonical' href='/')
    title #{title}
    link(rel='stylesheet' href='../stylesheets/css_WlBPbdnlZQ9LEhkur6Xp45sMhpNLZpGroAAOINCWv7g.css?q91nbw' media='all')
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' media='all')
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Montserrat:400,600,700' media='all')
    link(rel='stylesheet' href='../stylesheets/css_CBrT8DxuW0xG75KDzvLTjtQZjB5p9VS4R1Vgljxa2gw.css?q91nbw' media='all')
    link(rel='stylesheet' href='../stylesheets/css__QzOwe9J415No9IUda1e_ZWiaH8WZKlwDom3ms5aY-w.css?q91nbw' media='all')
    link(rel='stylesheet' href='../stylesheets/style.css')
    script(type='application/json' data-drupal-selector='drupal-settings-json').
      {"path":{"baseUrl":"\\/","scriptPath":null,"pathPrefix":"fr\/","currentPath":"node\/4","currentPathIsAdmin":false,"isFront":true,"currentLanguage":"fr"},"pluralDelimiter":"\u0003","ajaxPageState":{"libraries":"asset_injector\/css\/__portfolio,core\/html5shiv,gavias_blockbuilder\/gavias_blockbuilder.assets.frontend,gavias_buildpro\/gavias_buildpro.skin.green,gavias_buildpro\/global-styling,gavias_sliderlayer\/gavias_sliderlayer.assets.frontend,system\/base,views\/views.ajax,views\/views.module","theme":"gavias_buildpro","theme_token":null},"ajaxTrustedUrl":{"form_action_p_pvdeGsVG5zNF_XLGPTvYSKCf43t8qZYSwcfZl2uzM":true},"gavias_blockbuilder":{"url_edit":"\/fr\/admin\/structure\/gavias_blockbuilder\/edit\/-----"},"views":{"ajax_path":"\/fr\/views\/ajax","ajaxViews":{"views_dom_id:43d5515f8c740074390aebd567a420eec2de2085b827570d40c11aee43ef513a":{"view_name":"banner","view_display_id":"block_1","view_args":"","view_path":"\/","view_base_path":null,"view_dom_id":"43d5515f8c740074390aebd567a420eec2de2085b827570d40c11aee43ef513a","pager_element":0},"views_dom_id:3248470fdf6e5a80b36c8dd8395dd742aef370c575d9331dc6d6ab6cde9d92bd":{"view_name":"post_other","view_display_id":"block_9","view_args":"","view_path":"\/","view_base_path":"blogs-grid","view_dom_id":"3248470fdf6e5a80b36c8dd8395dd742aef370c575d9331dc6d6ab6cde9d92bd","pager_element":0},"views_dom_id:877c62bc3eb145e2635c9f5fefee4231c0ff85e2fff9abbbed4f9494c76b0513":{"view_name":"portefolio","view_display_id":"block_4","view_args":"","view_path":"\/","view_base_path":"nos-realisations","view_dom_id":"877c62bc3eb145e2635c9f5fefee4231c0ff85e2fff9abbbed4f9494c76b0513","pager_element":0},"views_dom_id:cb20b774da7ebda6433efd0bbeee727120d0ab7109b5ae2e3461a41b6f43fb95":{"view_name":"portefolio","view_display_id":"block_3","view_args":"","view_path":"\/","view_base_path":"nos-realisations","view_dom_id":"cb20b774da7ebda6433efd0bbeee727120d0ab7109b5ae2e3461a41b6f43fb95","pager_element":0},"views_dom_id:0e0d027c93bb20c58152a17610161ecad3a7b0489e8ce05563ab9c2876290886":{"view_name":"portefolio","view_display_id":"block_2","view_args":"","view_path":"\/","view_base_path":"nos-realisations","view_dom_id":"0e0d027c93bb20c58152a17610161ecad3a7b0489e8ce05563ab9c2876290886","pager_element":0},"views_dom_id:7aef69dc476e8463d7d4e9016375eae395eefb88246f49039e82ab06265acffb":{"view_name":"portefolio","view_display_id":"block_1","view_args":"","view_path":"\/","view_base_path":"nos-realisations","view_dom_id":"7aef69dc476e8463d7d4e9016375eae395eefb88246f49039e82ab06265acffb","pager_element":0}}},"user":{"uid":0,"permissionsHash":"d3141f52f0c0a3dc0fd234786a071600f43ab17ce977668c0490228b569ff6ad"}}
    //if lte IE 8
      script(src='/sites/default/files/js/js_VtafjXmRvoUgAzqzYTA3Wrjkx9wcWhjP0G4ZnnqRamA.js')
    script(src='../javascripts/js_LLONbndbg3diYNlWxfRBxakQAtjC7NG7rsXHSKDVNWE.js')
    script(src='//maps.googleapis.com/maps/api/js?key&ver=4.9.8&libraries=places,weather,panoramio&language=en&ver=4.9.3')
    script(src='../javascripts/js_E0KYTfZoaQVG_KPnJ6Q51HQW6TVymTyL9eTc4-ckYeE.js')
    <script src="https://kit.fontawesome.com/5d5e23a2e2.js" crossorigin="anonymous"></script>
    link(rel='stylesheet' href='../stylesheets/update.css' media='screen')
    style(type='text/css').
      .site-branding-logo img{ max-height: 60px;}.gsc-tab-views.style-1 ul.nav-tabs > li > a {font-size: 10px;color: white;}.portfolio-filter-v2 .portfolio-filter ul.nav > li > a {font-size: 10px;}.gsc-tab-views.style-1 ul.nav-tabs {background-color: #009984;}.gsc-tab-views.style-1 ul.nav-tabs > li.active a{color: white;}.navigation .gva_menu > li > a { font-size: 12px;padding-left: 10px;padding-right: 7px;} .nav-tabs > li > a{padding: 15px 7px !important;}.gsc-tab-views.style-1 ul.nav-tabs > li:hover a, .gsc-tab-views.style-1 ul.nav-tabs > li:focus a, .gsc-tab-views.style-1 ul.nav-tabs > li:active a{background-color: #b4f9e9;color: #009673;text-decoration: wavy !important;}.portfolio-item.v2:after {background : rgba(0, 0, 0, 0.5);}.portfolio-filter ul.nav-tabs > li > a.active, .portfolio-filter ul.nav-tabs > li > a:hover, .portfolio-filter ul.nav-tabs > li > a:focus,.portfolio-filter ul.nav-tabs > li > a:active.gsc-tab-views.style-1 ul.nav-tabs > li.active a,{background-color: #b4f9e9;color: #009673;text-decoration: wavy !important;}.gsc-tab-views.style-1 ul.nav-tabs > li > a: hover{color: white;}.style-content-row-v1 .row-wrapper {transform: translateY(-25%);}.portfolio-filter ul.nav-tabs > li > a.active, .portfolio-filter ul.nav-tabs > li > a:hover, .portfolio-filter ul.nav-tabs > li > a:focus, .portfolio-filter ul.nav-tabs > li > a:active {color: #009673;background-color: #b4f9e9;text-decoration: wavy !important;}.portfolio-filter ul.nav-tabs > li > a:active{text-decoration: wavy !important;}.portfolio-filter ul.nav-tabs > li > a:focus{text-decoration: wavy !important;}.breadcrumb-content-inner .gva-breadcrumb-content .gva-block-breadcrumb.text-white .breadcrumb-links li, .breadcrumb-content-inner .gva-breadcrumb-content .gva-block-breadcrumb.text-light .breadcrumb-links li{text-transform: initial;}.lookat{background-color: #c5c5c5;text-align: -webkit-center;text-transform: uppercase;}
    style.customize.
  body.hidden-title.footer-background.layout-no-sidebars.wide.not-preloader.frontpage.node--type-page
    .dialog-off-canvas-main-canvas(data-off-canvas-main-canvas='')
      .drupal-message
        .close x
        div
      .body-page.gva-body-page
        header#header.header-v1
          .header-main.gv-sticky-menu
            .container.header-content-layout
              .header-main-inner.p-relative
                .row
                  .col-md-2.col-sm-3.col-xs-4.branding
                    div
                      a.site-branding-logo(href='/' title=title rel='home')
                        img(src='../images/logo.png' alt='Accueil')
                  .col-md-10.col-sm-9.col-xs-8.p-static
                    .header-inner.clearfix
                      .main-menu
                        .area-main-menu
                          .area-inner
                            .gva-offcanvas-mobile
                              .close-offcanvas.hidden
                               i.fa.fa-times
                              div
                                 nav#block-gavias-buildpro-main-menu.block.block-menu.navigation.menu--main(role='navigation' aria-labelledby='block-gavias-buildpro-main-menu-menu')
                                 h2#block-gavias-buildpro-main-menu-menu.visually-hidden.block-title.block-title
                                   span Menu principal
                                  .block-content
                                    .gva-navigation
                                      ul.clearfix.gva_menu.gva_menu_main
                                        li.menu-item
                                          a(href='/')
                                            | Accueil
                                        li.menu-item
                                          a(href='/propos')
                                            | Qui sommes nous
                                        li.menu-item
                                          a(href='/notre-mission')
                                            | Notre mission
                                        //- li.menu-item
                                        //-   a(href='/nos-domaines')
                                        //-     | Nos domaines d'interventions
                                        li.menu-item
                                          a(href='/nos-moyens')
                                            | Nos moyens matériels
                                        li.menu-item
                                          a(href='/references')
                                            | Nos références
                                        li.menu-item
                                          a(href='/projets')
                                            | Nos projets
                                        //- li.menu-item
                                        //-   a(href='/ageroutesenegal')
                                        //-     | Projet Ageroute Sénégal
                                        //- li.menu-item
                                        //-   a(href='/sodagri')
                                        //-     | Projet Sodagri Plaine de Anambe
                                        //- li.menu-item
                                        //-   a(href='/perimetre')
                                        //-     | Projet Périmètre maraîcher
                                        //- li.menu-item
                                          a(href='/nous-contacter')
                                            | Nous Contacter
                            #menu-bar.menu-bar.hidden-lg.hidden-md
                              span.one
                              span.two
                              span.three
      block content 
      footer#footer.footer
        .footer-inner
          .footer-center
            .container
              .row
                .footer-first.col-lg-4.col-md-4.col-sm-12.col-xs-12.column
                  div
                    #block-footerpresentation.block.block-block-content.block-block-content8ccf9bd9-8e27-4eaa-bfc8-084a8e2fcfd9.no-title
                      .content.block-content
                        .field.field--name-body.field--type-text-with-summary.field--label-hidden.field__item
                          h2 Qui sommes nous
                          p
                            | La S.A.E.D. est un bureau d’études privé, formé d’Ingénieurs et de Techniciens de compétences diverses, familiarisés avec les techniques modernes de travail.
                          p
                            | La S.A.E.D. a été créée en janvier 1999 et inscrit au registre du commerce de Bamako sous le 
                            | numéro 14 585 du 16 /03 /1999 régularisé le 02/02/05 sous le numéro MA-BKO-2005-B-425.
                .footer-second.col-lg-4.col-md-4.col-sm-12.col-xs-12.column
                  div
                    #block-gavias-buildpro-linkfooter.block.block-block-content.block-block-contentf68ff84d-6af0-4c49-8b85-ae338addc541
                      h2.block-title
                        span Liens Utiles
                      .content.block-content
                        .field.field--name-body.field--type-text-with-summary.field--label-hidden.field__item
                          .row
                            .col-sm-6
                              ul.menu
                                li
                                  a(href='/propos') À  PROPOS DE NOUS
                                li
                                  a(href='/notre-mission') NOTRE MISSION
                                li
                                  a(href='/nos-domaines') NOS DOMAINES
                                li
                                  a(href='/nos-moyens') NOS MOYENS
                                li
                                  a(href='/references') REFERENCES
                            .col-sm-6
                              ul.menu
                                li
                                  a(href='/ageroutesenegal') AGEROUTE SENEGAL
                                li
                                  a(href='/sodagri') SODAGRI
                                li
                                  a(href='/perimetre') PERIMETRE
                                li
                                  a(href='/projets') NOS PROJETS
                                li
                                  a(href='/nous-contacter') CONTACT
                .footer-four.col-lg-4.col-md-4.col-sm-12.col-xs-12.column
                  div
                    #block-gavias-buildpro-simplenewssubscription.simplenews-subscriptions-block-835cd89f-b15a-48ec-b0a6-401ae3d0beb2.simplenews-subscriber-form.block.block-simplenews.block-simplenews-subscription-block(data-drupal-selector='simplenews-subscriptions-block-835cd89f-b15a-48ec-b0a6-401ae3d0beb2')
                      h2.block-title
                        span NewsLetter
                      .content.block-content
                        form#simplenews-subscriptions-block-835cd89f-b15a-48ec-b0a6-401ae3d0beb2(action='/fr' method='post' accept-charset='UTF-8')
                          #edit-subscriptions-wrapper.field--type-simplenews-subscription.field--name-subscriptions.field--widget-simplenews-subscription-select.js-form-wrapper.form-wrapper(data-drupal-selector='edit-subscriptions-wrapper')
                          #edit-message.js-form-item.form-item.js-form-type-item.form-item-message.js-form-item-message.form-no-label
                            | Abonnez-vous pour recevoir nos dernières nouvelles
                          input(autocomplete='off' data-drupal-selector='form-edny-ybarel0-pavfjaze4rye9eqtz3tbhzi-xe9dz8' type='hidden' name='form_build_id' value='form-edNY_YBaReL0_PAvFjAzE4RYe9EQtz3tBhZi_xE9dZ8')
                          input(data-drupal-selector='edit-simplenews-subscriptions-block-835cd89f-b15a-48ec-b0a6-401ae3d0beb2' type='hidden' name='form_id' value='simplenews_subscriptions_block_835cd89f-b15a-48ec-b0a6-401ae3d0beb2')
                          #edit-mail-wrapper.field--type-email.field--name-mail.field--widget-email-default.js-form-wrapper.form-wrapper(data-drupal-selector='edit-mail-wrapper')
                            .js-form-item.form-item.js-form-type-email.form-item-mail-0-value.js-form-item-mail-0-value
                              label.js-form-required.form-required(for='edit-mail-0-value') Email
                              input#edit-mail-0-value.form-email.required(data-drupal-selector='edit-mail-0-value' aria-describedby='edit-mail-0-value--description' type='email' name='mail[0][value]' value='' size='60' maxlength='254' placeholder='' required='required' aria-required='true')
                              #edit-mail-0-value--description.description
                                | L'adresse email de l'abonné.
                          #edit-actions.form-actions.js-form-wrapper.form-wrapper(data-drupal-selector='edit-actions')
                            input#edit-subscribe.button.js-form-submit.form-submit(data-drupal-selector='edit-subscribe' type='submit' name='op' value='souscrire')
        .copyright
          .container
            .copyright-inner
              div
                #block-gavias-buildpro-copyright.block.block-block-content.block-block-content61f17841-749f-436d-9799-1dfeefd7ad43.no-title
                  .content.block-content
                    .field.field--name-body.field--type-text-with-summary.field--label-hidden.field__item
                      .text-center
                        | © Copyright 2020 | SAED Mali Tous les droits réservés. 
    script(src='../javascripts/js_XU-Qv1nVtb1VGjR_f8qkGERHgf9xcV7VKXqKZ8NVQvM.js')
    //- script(src='../javascripts/util.js')
    //- script(src='../javascripts/js')
    script(src='../javascripts/index.js')
    