extends layout

block content
 br
 .clearfix
    .gsc-tab-views.style-1
      .clearfix.text-center
       div
       ul.nav.nav-tabs
          h2.title
            span(style="text-transform:uppercase") Nos moyens materiels
          ol
           li
             a(href="/") Acceuil&nbsp
           span /
           li 
           li 
            | &nbspMoyens Materiels
    br
    .gbb-row-wrapper
      .gbb-row.bg-size-default(style="background-image:url('../images/engineering.jpg'); background-repeat:no-repeat; background-position:center bottom")
        .bb-inner.remove_padding
          .bb-container.container
            .row
              .row-wrapper.clearfix
                .gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12(style="margin:15px")
                    // Body
                    #top.body
                      .container
                        
                            // Begin Content
                            #item-page
                              div.page-header
                                div.moyens-materiels
                                h2.moyens
                                  a(href="/nos-moyens" ) 
                                    //- rel="bookmark"
                                  span Nos moyens materiels
                              div
                                p
                                  | Pour la réalisation des différentes missions d’études qui lui sont confiées, 
                                  strong SAED Sarl
                                  |  dispose de matériels techniques performants dont l’usage est parfaitement maîtrisé par un personnel compétent ayant acquit une formation adéquate et une documentation riche et variée en la matière leur permettant ainsi de répondre avec satisfactions aux attentes des clients et usagers.
                                p
                                  | La liste des matériels de la 
                                  strong SAED
                                  strong  sarl  
                                  | est ci-dessus indiquée :
                                br
                            .clearfix
                            // End Content
                            .w3-content(style='max-width:1200px')
                              //- #scroller(style='height: 400px; width: 100%; overflow: auto;')
                              //-  iframe#iframe(src="../images/moyens-materiels.pdf", frameborder="0", height="100%", scrolling="no", width="100%")
                              iframe(id="theFrame", src='../assets/Moyens_Materiels.pdf', allow="fullscreen", style="width:100%; height:79rem; ", scrolling="yes")
    
                              //-  iframe(src="../images/moyens-materiels.pdf", frameborder="0", style="width:100%; height:50rem; ", scrolling="yes")
                              //- object(data="../images/moyens-materiels.pdf", type="application/pdf", style="width:100%; height:79rem; ", scrolling="no")
                              //- embed(src="../images/moyens-materiels.pdf", type="application/pdf", style="width:100%; height:50rem; ", scrolling="no", pluginspage="http://www.adobe.com/products/acrobat/readstep2.html") 
                   
                    .column-content-inner.presentation
                                          br
                                          div
                                          .action
                                          a.btn-theme(target="_blank" href="../assets/Moyens_Materiels.pdf") Telecharger le document
                                        br
                        
                              