extends layout

block content
  br
  .clearfix
    .gsc-tab-views.style-1
      .clearfix.text-center
       div
       ul.nav.nav-tabs
          h2.title
            span(style="text-transform:uppercase") Notre Mission
          ol
           li
             a(href="/") Acceuil&nbsp
           span /
           li 
           li 
            | &nbspMission
    br
    .gbb-row-wrapper
      .gbb-row.bg-size-default(style="background-image:url('../images/engineering.jpg'); background-repeat:no-repeat; background-position:center bottom")
        .bb-inner.remove_padding
          .bb-container.container
            .row
              .row-wrapper.clearfix
                .gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12
    
      
                                          //- .column-inner.bg-size-cover
                                          //-   .column-content-inner
                                          //-     .gsc-our-gallery
                                          //-       .owl-carousel.init-carousel-owl.owl-loaded.owl-drag(data-items='1' data-items_lg='1' data-items_md='1' data-items_sm='2' data-items_xs='1' data-loop='1' data-speed='500' data-auto_play='1' data-auto_play_speed='2000' data-auto_play_timeout='5000' data-auto_play_hover='1' data-navigation='1' data-rewind_nav='0' data-pagination='0' data-mouse_drag='1' data-touch_drag='1')
                                          //-         .owl-stage-outer
                                          //-           .owl-stage(style='transform: translate3d(-1233.31px, 0px, 0px); transition: all 0s ease 0s; width: 3700px;')
                                          //-             .owl-item.cloned(style='width: 616.656px;')
                                          //-               .item
                                          
                    div
                      
                                
                                  .gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                    .column-inner.bg-size-cover
                                      .column-content-inner
                                        .widget.gsc-heading.align-center.style-2.text-dark
                                          .title-desc
                                        .clearfix
                                  .gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                    .column-inner.bg-size-cover
                                      .column-content-inner
                                  .gsc-column.col-lg-4.col-md-4.col-sm-12.col-xs-12
                                    .column-inner.bg-size-cover
                                      .column-content-inner
                                        .widget.gsc-icon-box.top-left-title.text-dark
                                          .highlight_content
                                            .title-inner
                                              .highlight-icon
                                                span.icon-container.fa-1x.text-theme
                                                  span.icon
                                                    i.fas.fa-chart-pie.fa-2x
                                              .title
                                                | Études de définition et de faisabilité
                                        .widget.gsc-icon-box.top-left-title.text-dark
                                          .highlight_content
                                            .title-inner
                                              .highlight-icon
                                                span.icon-container.fa-1x.text-theme
                                                  span.icon
                                                    i.fas.fa-file-alt.fa-2x
                                              .title
                                                | Élaboration des dossiers de consultation des entreprises
                                  .gsc-column.col-lg-4.col-md-4.col-sm-12.col-xs-12
                                    .column-inner.bg-size-cover
                                      .column-content-inner
                                        .widget.gsc-icon-box.top-left-title.text-dark
                                          .highlight_content
                                            .title-inner
                                              .highlight-icon
                                                span.icon-container.fa-1x.text-theme
                                                  span.icon
                                                    i.fas.fa-book.fa-2x
                                              .title
                                                | Études d’avant-projet sommaire et détaillé
                                        .widget.gsc-icon-box.top-left-title.text-dark
                                          .highlight_content
                                            .title-inner
                                              .highlight-icon
                                                span.icon-container.fa-1x.text-theme
                                                  span.icon
                                                    i.fas.fa-funnel-dollar.fa-2x
                                              .title
                                                | Contrôle et coordination de l’exécution des travaux
                                  .gsc-column.col-lg-4.col-md-4.col-sm-12.col-xs-12
                                    .column-inner.bg-size-cover
                                      .column-content-inner
                                        .widget.gsc-icon-box.top-left-title.text-dark
                                          .highlight_content
                                            .title-inner
                                              .highlight-icon
                                                span.icon-container.fa-1x.text-theme
                                                  span.icon
                                                    i.fas.fa-cogs.fa-2x
                                              .title
                                                | Études d’exécution pour le compte des entreprises
                                        .widget.gsc-icon-box.top-left-title.text-dark
                                          .highlight_content
                                            .title-inner
                                              .highlight-icon
                                                span.icon-container.fa-1x.text-theme
                                                  span.icon
                                                    i.fas.fa-sitemap.fa-2x
                                              .title
                                                | Maîtrise d'ouvrage déléguée et Assistance Technique
                                          br
                                          
                                   div
                              
                                            p
                                              strong La S.A.E.D sarl répond aux interrogations préliminaires des clients en réalisant les prestations suivantes:
                                              ul.feature-list.MsoNormal(style='text-align: justify')
                                                li Études préliminaires
                                                li Audits
                                                li Expertises
                                            P  
                                            strong Il s’agit notamment de : 
                                            ul.feature-list.MsoNormal(style='text-align: justify')
                                              li Études–diagnostics
                                              li Études de faisabilité
                                              li Études de programmations
                                              li Schémas directeurs
                                              li Études d’impacts  
                                              li Dossiers d’autorisation
                                              li Expertise immobilière (bâtiments, terrains unités de production….)
                                              li Sensibilisation et formation des populations        
                                            p
                                              strong  Pour une meilleure exécution des ouvrages en rapport qualité/prix, la S.A.E.D. assure la mission de :
                                            p Maîtrise d’œuvre :
                                            p
                                              strong Études de conception :
                                            ul.feature-list.MsoNormal(style='text-align: justify')
                                              li Conception générale des ouvrages
                                              li Dimensionnement
                                              li Estimation des coûts d’investissement
                                              li Estimation des coûts d’exploitation
                                            p
                                              strong Assistance pour la dévolution des travaux :
                                            ul.feature-list.MsoNormal(style='text-align: justify')
                                              li Rédaction des cahiers de charges et spécifications
                                              li Consultation des entreprises
                                              li Mise au point technique et financier des marchés des  travaux
                                            p
                                              strong Contrôle et réception des travaux :
                                            ul.feature-list.MsoNormal(style='text-align: justify')
                                              li Direction et surveillance des travaux
                                              li Planification, ordonnancement, pilotage de projet
                                              li Organisation et Gestion des Chantiers
                                              li Contrôle de performances et préparation des réceptions
                                            p
                                              strong
                                                |En fin la SAED sarl collabore efficacement avec les maîtres d’ouvrages dans les tâches suivantes :
                                            ul.feature-list.MsoNormal(style='text-align: justify')
                                              li Suivi de programmation
                                              li Assistance administrative et réglementaire
                                              li Assistance technique.
              br
                                              
                                          
