extends layout

block content
  p Bienvenu sur #{title}
  .clearfix
   
  
      ul.nav.nav-tabs
        h2.title
          span NOTRE MISSION
        h4 
        |Société Africaine d'Etudes pour le developpement
                            
      div.nm
                p
                  | La S.A.E.D. répond aux interrogations préliminaires des clients en réalisant les prestations suivantes:
                ul
                  li Études préliminaires
                  li Audits
                  li Expertises
               p 
                  |Il s’agit notamment de :
                ul
                  li Études–diagnostics
                  li Études de faisabilité;
                  li Études de programmations
                  li Schémas directeurs
                  li Études d’impacts
                  li Dossiers d’autorisation
                  li Expertise immobilière (bâtiments, terrains unités de production….)
                  li Sensibilisation et formation des populations
                p
                  | Pour une meilleure exécution des ouvrages en rapport qualité/prix, la S.A.E.D. assure la mission de :
                p Maîtrise d’œuvre :
                p
                  strong Études de conception :
                ul
                  li Conception générale des ouvrages
                  li Dimensionnement
                  li Estimation des coûts d’investissement
                  li Estimation des coûts d’exploitation
                p
                  strong Assistance pour la dévolution des travaux :
                ul
                  li Rédaction des cahiers de charges et spécifications
                  li Consultation des entreprises
                  li Mise au point technique et financier des marchés des  travaux
                p
                  strong Contrôle et réception des travaux :
                ul
                  li Direction et surveillance des travaux
                  li Planification, ordonnancement, pilotage de projet
                  li Organisation et Gestion des Chantiers
                  li Contrôle de performances et préparation des réceptions
                p
                  strong
                    | En fin la SAED collabore efficacement avec les maîtres d’ouvrages dans les tâches suivantes :
                ul
                  li Suivi de programmation
                  li Assistance administrative et réglementaire
                  li Assistance technique.
