extends layout

block content
                          .clearfix.banner
                                .gsc-tab-views.style-1
                                  .clearfix.text-center
                                  div
                                  ul.nav.nav-tabs
                                      h2.title
                                        span(style="text-transform:uppercase") PROJET PERIMETRE MARAICHER
                                      ol
                                       li
                                          a(href="/") Acceuil&nbsp
                                        span /
                                       li 
                                       li 
                                        | &nbspPérimètre Maraîcher
                                 br
                            .isotope-items.view-portfolio(data-pid='254jl' data-drupal-views-infinite-scroll-content-wrapper-gvaloadmore='' style='position: relative; height: 4203.26px;')
                               .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 322px; top: 323px;')
                                    .views-field.views-field-nothing
                                      a(href='/projets' )
                                        span.field-content
                                      .portfolio-item.v2.margin-bottom-30
                                        a(href='/projets' )
                                        .image
                                          a(href='/projets' )
                                          a(href='/projets')
                                            img(src='../images/PM-Deguena-Fla-wr.jpeg' alt='PM-Deguena-Fla-wr' typeof='Image')
                                        .content
                                          .content-inner
                                            .title
                                              a(href='/projets' ) PERIMETRE MARAICHER-Deguena-Fla-wr 
                                            .category
                                              a(href='/projets' ) Périmetre maraîcher
                               .col-lg-4.col-md-4.col-sm-4.col-xs-12.14(data-uk-filter=' 14' style='position: absolute; left: 644px; top: 323px;')
                                    .views-field.views-field-nothing
                                      a(href='/projets' )
                                        span.field-content
                                      .portfolio-item.v2.margin-bottom-30
                                        a(href='/projets' )
                                        .image
                                          a(href='/projets' )
                                          a(href='/projets')
                                            img(src='../images/PM-Lofin.jpeg' alt='PM-Lofin' typeof='Image')
                                        .content
                                          .content-inner
                                            .title
                                              a(href='/projets' )
                                                | PERIMETRE MARAICHER-Lofin
                                            .category
                                              a(href='/projets' ) Périmetre maraîcher
                               .col-lg-4.col-md-4.col-sm-4.col-xs-12.14(data-uk-filter=' 14' style='position: absolute; left: 644px; top: 323px;')
                                    .views-field.views-field-nothing
                                      a(href='/projets' )
                                        span.field-content
                                      .portfolio-item.v2.margin-bottom-30
                                        a(href='/projets' )
                                        .image
                                          a(href='/projets' )
                                          a(href='/projets')
                                            img(src='../images/PM-Koumbri.jpeg' alt='PM-Koumbri' typeof='Image')
                                        .content
                                          .content-inner
                                            .title
                                              a(href='/projets' )
                                                | PERIMETRE MARAICHER Koumbri
                                            .category
                                              a(href='/projets' ) Périmetre maraîcher
      