extends layout

block content
                                  .gbb-row-wrapper
                                        .gbb-row.bg-size-cover.gsc-equal-height(style='padding-top:30px; padding-bottom:30px')
                                          .bb-inner.remove_padding
                                            .bb-container.container
                                              .row
                                                .row-wrapper.clearfix
                                                  .gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.clearfix.gsc-divider.one-line
                                                          .line-1
                                                          .line-2
                                                          .line-3
                                      .gbb-row-wrapper
                                        .gbb-row.bg-size-cover(style='')
                                          .bb-inner.remove_padding_bottom
                                            .bb-container.container-fw
                                              .row
                                                .row-wrapper.clearfix
                                                  .gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-heading.align-center.style-1.text-dark
                                                          h2.title
                                                            span Nos projets récents
                                                        .clearfix
                                                        .gsc-tab-views.style-1
                                                          .clearfix.text-center
                                                            ul.nav.nav-tabs
                                                              li.active
                                                                a(data-toggle='tab' href='#tab-item-rxhpx1') Infrastructures de transports
                                                              li
                                                                a(data-toggle='tab' href='#tab-item-rxhpx2') Aménagements Hydro-agricoles et développement rural
                                                              li
                                                                a(data-toggle='tab' href='#tab-item-rxhpx3') Approvisionnement en eau et assainissement
                                                              li
                                                                a(data-toggle='tab' href='#tab-item-rxhpx4') Bâtiments civils et industriels
                                                          .tab-content
                                                            #tab-item-rxhpx1.tab-pane.fade.in.active
                                                              .views-element-container
                                                                .portfolio-filter-v2.gva-view.js-view-dom-id-7aef69dc476e8463d7d4e9016375eae395eefb88246f49039e82ab06265acffb
                                                                  .gva-view-onefour
                                                                    .big-row.row
                                                                      .item.index-1.first-item.col-md-6.col-sm-12.col-xs-12
                                                                        div
                                                                          .views-field.views-field-nothing-1
                                                                            span.field-content
                                                                              .portfolio-item.v2
                                                                                .portfolio-content
                                                                                  .image
                                                                                    img(src='/sites/default/files/styles/height/public/2020-06/SembeNtamL2.jpg?itok=2ghvddrL' alt='Sembe Ntam Lot 2' typeof='Image')
                                                                                  .content-inner
                                                                                    .title
                                                                                      a(href='/fr/portefolio/controle-et-surveillance-des-travaux-damenagement-et-de-bitumage-de-la-route-sembe-0' hreflang='fr') Contrôle et Surveillance des travaux d’aménagement et de bitumage de la… 
                                                                                    .category
                                                                                      a(href='/fr/portefolio/controle-et-surveillance-des-travaux-damenagement-et-de-bitumage-de-la-route-sembe-0' hreflang='fr') Infrastructures de transport
                                                                                    .view-node
                                                                                      a(href='/fr/portefolio/controle-et-surveillance-des-travaux-damenagement-et-de-bitumage-de-la-route-sembe-0' hreflang='fr') Détails
                                                                      .small-items.col-md-6.col-sm-12.col-xs-12
                                                                        .row
                                                                          .item.index-2.col-sm-6.col-xs-12
                                                                            div
                                                                              .views-field.views-field-nothing-1
                                                                                span.field-content
                                                                                  .portfolio-item.v2
                                                                                    .portfolio-content
                                                                                      .image
                                                                                        img(src='/sites/default/files/styles/height/public/2020-06/sembeNtamL1-1.jpg?itok=s0ixVqUX' alt='Sembe Ntam Lot 1' typeof='Image')
                                                                                      .content-inner
                                                                                        .title
                                                                                          a(href='/fr/portefolio/controle-et-surveillance-des-travaux-damenagement-et-de-bitumage-de-la-route-sembe-ntam' hreflang='fr') Contrôle et Surveillance des Travaux d’Aménagement et de Bitumage de la… 
                                                                                        .category
                                                                                          a(href='/fr/portefolio/controle-et-surveillance-des-travaux-damenagement-et-de-bitumage-de-la-route-sembe-ntam' hreflang='fr') Infrastructures de transport
                                                                                        .view-node
                                                                                          a(href='/fr/portefolio/controle-et-surveillance-des-travaux-damenagement-et-de-bitumage-de-la-route-sembe-ntam' hreflang='fr') Détails
                                                                          .item.index-3.col-sm-6.col-xs-12
                                                                            div
                                                                              .views-field.views-field-nothing-1
                                                                                span.field-content
                                                                                  .portfolio-item.v2
                                                                                    .portfolio-content
                                                                                      .image
                                                                                        img(src='/sites/default/files/styles/height/public/2020-06/Evodoula-1.jpg?itok=aDjmcGID' alt='Evodoula' typeof='Image')
                                                                                      .content-inner
                                                                                        .title
                                                                                          a(href='/fr/portefolio/controle-et-surveillance-des-travaux-de-rehabilitation-de-la-route-evodoula-ndom-avec' hreflang='fr') Contrôle et Surveillance des travaux de réhabilitation de la route… 
                                                                                        .category
                                                                                          a(href='/fr/portefolio/controle-et-surveillance-des-travaux-de-rehabilitation-de-la-route-evodoula-ndom-avec' hreflang='fr') Infrastructures de transport
                                                                                        .view-node
                                                                                          a(href='/fr/portefolio/controle-et-surveillance-des-travaux-de-rehabilitation-de-la-route-evodoula-ndom-avec' hreflang='fr') Détails
                                                                        .row
                                                                          .item.index-4.col-sm-6.col-xs-12
                                                                            div
                                                                              .views-field.views-field-nothing-1
                                                                                span.field-content
                                                                                  .portfolio-item.v2
                                                                                    .portfolio-content
                                                                                      .image
                                                                                        img(src='/sites/default/files/styles/height/public/2020-06/IMG-20200625-WA0013.jpg?itok=QeFO8yIK' alt='Mintom Lele' typeof='Image')
                                                                                      .content-inner
                                                                                        .title
                                                                                          a(href='/fr/portefolio/controle-et-surveillance-des-travaux-damenagement-de-la-route-mintom-lele-ntam-mbalam' hreflang='fr') Contrôle et Surveillance des Travaux d’Aménagement de la route Mintom –… 
                                                                                        .category
                                                                                          a(href='/fr/portefolio/controle-et-surveillance-des-travaux-damenagement-de-la-route-mintom-lele-ntam-mbalam' hreflang='fr') Infrastructures de transport
                                                                                        .view-node
                                                                                          a(href='/fr/portefolio/controle-et-surveillance-des-travaux-damenagement-de-la-route-mintom-lele-ntam-mbalam' hreflang='fr') Détails
                                                                          .item.index-5.col-sm-6.col-xs-12
                                                                            div
                                                                              .views-field.views-field-nothing-1
                                                                                span.field-content
                                                                                  .portfolio-item.v2
                                                                                    .portfolio-content
                                                                                      .image
                                                                                        img(src='/sites/default/files/styles/height/public/2020-06/IMG_3967_0.JPG?itok=1ll74FZJ' alt='Batchenga' typeof='Image')
                                                                                      .content-inner
                                                                                        .title
                                                                                          a(href='/fr/portefolio/controle-et-surveillance-des-travaux-damenagement-et-de-bitumage-de-la-route-batchenga' hreflang='fr') Contrôle et Surveillance des travaux d’aménagement et de bitumage de la… 
                                                                                        .category
                                                                                          a(href='/fr/portefolio/controle-et-surveillance-des-travaux-damenagement-et-de-bitumage-de-la-route-batchenga' hreflang='fr') Infrastructures de transport
                                                                                        .view-node
                                                                                          a(href='/fr/portefolio/controle-et-surveillance-des-travaux-damenagement-et-de-bitumage-de-la-route-batchenga' hreflang='fr') Détails
                                                            #tab-item-rxhpx2.tab-pane.fade.in
                                                              .views-element-container
                                                                .portfolio-filter-v2.gva-view.js-view-dom-id-0e0d027c93bb20c58152a17610161ecad3a7b0489e8ce05563ab9c2876290886
                                                                  .gva-view-onefour
                                                                    .big-row.row
                                                                      .item.index-1.first-item.col-md-6.col-sm-12.col-xs-12
                                                                        div
                                                                          .views-field.views-field-nothing-1
                                                                            span.field-content
                                                                              .portfolio-item.v2
                                                                                .portfolio-content
                                                                                  .image
                                                                                    img(src='/sites/default/files/styles/height/public/2019-04/fadci.jpg?itok=xpyhfWoW' alt='FADCI' typeof='Image')
                                                                                  .content-inner
                                                                                    .title
                                                                                      a(href='/fr/portefolio/recrutement-dun-bureau-dingenieur-conseil-bic-en-vue-dassurer-le-suivi-technique-et' hreflang='fr') Recrutement d’un Bureau d'Ingénieur-Conseil (BIC) en vue d’assurer le… 
                                                                                    .category
                                                                                      a(href='/fr/portefolio/recrutement-dun-bureau-dingenieur-conseil-bic-en-vue-dassurer-le-suivi-technique-et' hreflang='fr') Aménagements Hydro-agricoles et développement rural
                                                                                    .view-node
                                                                                      a(href='/fr/portefolio/recrutement-dun-bureau-dingenieur-conseil-bic-en-vue-dassurer-le-suivi-technique-et' hreflang='fr') Détails
                                                                      .small-items.col-md-6.col-sm-12.col-xs-12
                                                                        .row
                                                                          .item.index-2.col-sm-6.col-xs-12
                                                                            div
                                                                              .views-field.views-field-nothing-1
                                                                                span.field-content
                                                                                  .portfolio-item.v2
                                                                                    .portfolio-content
                                                                                      .image
                                                                                        img(src='/sites/default/files/styles/height/public/2019-01/Photo0026.jpg?itok=bppk_Gx6' alt='' typeof='Image')
                                                                                      .content-inner
                                                                                        .title
                                                                                          a(href='/fr/portefolio/etudes-de-faisabilite-aps-apd-dao-controle-et-surveillance-des-travaux-de-rehabilitation' hreflang='fr') Études de faisabilité / APS, APD, DAO, contrôle et surveillance des… 
                                                                                        .category
                                                                                          a(href='/fr/portefolio/etudes-de-faisabilite-aps-apd-dao-controle-et-surveillance-des-travaux-de-rehabilitation' hreflang='fr') Aménagements Hydro-agricoles et développement rural
                                                                                        .view-node
                                                                                          a(href='/fr/portefolio/etudes-de-faisabilite-aps-apd-dao-controle-et-surveillance-des-travaux-de-rehabilitation' hreflang='fr') Détails
                                                                          .item.index-3.col-sm-6.col-xs-12
                                                                            div
                                                                              .views-field.views-field-nothing-1
                                                                                span.field-content
                                                                                  .portfolio-item.v2
                                                                                    .portfolio-content
                                                                                      .image
                                                                                        img(src='/sites/default/files/styles/height/public/2019-01/100_4716_3.JPG?itok=TGMqI9dT' alt='' typeof='Image')
                                                                                      .content-inner
                                                                                        .title
                                                                                          a(href='/fr/portefolio/mission-detude-dactualisation-de-lapd-et-du-dao-assistance-la-passation-des-marches' hreflang='fr') Mission d’étude d’actualisation de l’APD et du DAO, assistance à la… 
                                                                                        .category
                                                                                          a(href='/fr/portefolio/mission-detude-dactualisation-de-lapd-et-du-dao-assistance-la-passation-des-marches' hreflang='fr') Aménagements Hydro-agricoles et développement rural
                                                                                        .view-node
                                                                                          a(href='/fr/portefolio/mission-detude-dactualisation-de-lapd-et-du-dao-assistance-la-passation-des-marches' hreflang='fr') Détails
                                                                        .row
                                                                          .item.index-4.col-sm-6.col-xs-12
                                                                            div
                                                                              .views-field.views-field-nothing-1
                                                                                span.field-content
                                                                                  .portfolio-item.v2
                                                                                    .portfolio-content
                                                                                      .image
                                                                                        img(src='/sites/default/files/styles/height/public/2019-01/IMG1.jpg?itok=itWRwd_v' alt='' typeof='Image')
                                                                                      .content-inner
                                                                                        .title
                                                                                          a(href='/fr/portefolio/etude-davant-projet-detaille-et-elaboration-du-dossier-dappel-doffres-pour-lamenagement' hreflang='fr') Étude d'Avant-Projet Détaillé et élaboration du Dossier d'… 
                                                                                        .category
                                                                                          a(href='/fr/portefolio/etude-davant-projet-detaille-et-elaboration-du-dossier-dappel-doffres-pour-lamenagement' hreflang='fr') Aménagements Hydro-agricoles et développement rural
                                                                                        .view-node
                                                                                          a(href='/fr/portefolio/etude-davant-projet-detaille-et-elaboration-du-dossier-dappel-doffres-pour-lamenagement' hreflang='fr') Détails
                                                                          .item.index-5.col-sm-6.col-xs-12
                                                                            div
                                                                              .views-field.views-field-nothing-1
                                                                                span.field-content
                                                                                  .portfolio-item.v2
                                                                                    .portfolio-content
                                                                                      .image
                                                                                        img(src='/sites/default/files/styles/height/public/2018-12/Tienkonou-1.jpg?itok=YEoM2XCL' alt='' typeof='Image')
                                                                                      .content-inner
                                                                                        .title
                                                                                          a(href='/fr/portefolio/controle-et-surveillance-des-travaux-de-reconversion-en-maitrise-totale-de-leau-du' hreflang='fr') Contrôle et Surveillance des travaux de reconversion en maîtrise totale de l’… 
                                                                                        .category
                                                                                          a(href='/fr/portefolio/controle-et-surveillance-des-travaux-de-reconversion-en-maitrise-totale-de-leau-du' hreflang='fr') Aménagements Hydro-agricoles et développement rural
                                                                                        .view-node
                                                                                          a(href='/fr/portefolio/controle-et-surveillance-des-travaux-de-reconversion-en-maitrise-totale-de-leau-du' hreflang='fr') Détails
                                                            #tab-item-rxhpx3.tab-pane.fade.in
                                                              .views-element-container
                                                                .portfolio-filter-v2.gva-view.js-view-dom-id-cb20b774da7ebda6433efd0bbeee727120d0ab7109b5ae2e3461a41b6f43fb95
                                                                  .gva-view-onefour
                                                                    .big-row.row
                                                                      .item.index-1.first-item.col-md-6.col-sm-12.col-xs-12
                                                                        div
                                                                          .views-field.views-field-nothing-1
                                                                            span.field-content
                                                                              .portfolio-item.v2
                                                                                .portfolio-content
                                                                                  .image
                                                                                    img(src='/sites/default/files/styles/height/public/2019-04/AEP-Moroni.jpg?itok=Z740OAhM' alt='AEP Moroni' typeof='Image')
                                                                                  .content-inner
                                                                                    .title
                                                                                      a(href='/fr/portefolio/etude-de-lalimentation-en-eau-des-localites-hautes-de-bambao-et-ditsandra-dans' hreflang='fr')
                                                                                        | Étude de l’Alimentation en Eau des Localités Hautes de Bambao et d’Itsandra dans…
                                                                                    .category
                                                                                      a(href='/fr/portefolio/etude-de-lalimentation-en-eau-des-localites-hautes-de-bambao-et-ditsandra-dans' hreflang='fr') Approvisionnement en eau et assainissement
                                                                                    .view-node
                                                                                      a(href='/fr/portefolio/etude-de-lalimentation-en-eau-des-localites-hautes-de-bambao-et-ditsandra-dans' hreflang='fr') Détails
                                                                      .small-items.col-md-6.col-sm-12.col-xs-12
                                                                        .row
                                                                          .item.index-2.col-sm-6.col-xs-12
                                                                            div
                                                                              .views-field.views-field-nothing-1
                                                                                span.field-content
                                                                                  .portfolio-item.v2
                                                                                    .portfolio-content
                                                                                      .image
                                                                                        img(src='/sites/default/files/styles/height/public/2019-04/Kabala-2.jpg?itok=b2mGXrID' alt='' typeof='Image')
                                                                                      .content-inner
                                                                                        .title
                                                                                          a(href='/fr/portefolio/etudes-dapd-preparation-des-dao-revue-des-etudes-apd-et-dao-de-bnetd-du-lot-1-assistance' hreflang='fr') Études d’APD, préparation des DAO, revue des études APD et DAO de BNETD… 
                                                                                        .category
                                                                                          a(href='/fr/portefolio/etudes-dapd-preparation-des-dao-revue-des-etudes-apd-et-dao-de-bnetd-du-lot-1-assistance' hreflang='fr') Approvisionnement en eau et assainissement
                                                                                        .view-node
                                                                                          a(href='/fr/portefolio/etudes-dapd-preparation-des-dao-revue-des-etudes-apd-et-dao-de-bnetd-du-lot-1-assistance' hreflang='fr') Détails
                                                                          .item.index-3.col-sm-6.col-xs-12
                                                                            div
                                                                              .views-field.views-field-nothing-1
                                                                                span.field-content
                                                                                  .portfolio-item.v2
                                                                                    .portfolio-content
                                                                                      .image
                                                                                        img(src='/sites/default/files/styles/height/public/2019-01/DSC07196.JPG?itok=XGjj4HPS' alt='' typeof='Image')
                                                                                      .content-inner
                                                                                        .title
                                                                                          a(href='/fr/portefolio/actualisation-des-etudes-davant-projet-detaille-elaboration-des-dossiers-dappel-doffres' hreflang='fr') Actualisation des études d’avant projet détaillé, élaboration des… 
                                                                                        .category
                                                                                          a(href='/fr/portefolio/actualisation-des-etudes-davant-projet-detaille-elaboration-des-dossiers-dappel-doffres' hreflang='fr') Approvisionnement en eau et assainissement
                                                                                        .view-node
                                                                                          a(href='/fr/portefolio/actualisation-des-etudes-davant-projet-detaille-elaboration-des-dossiers-dappel-doffres' hreflang='fr') Détails
                                                                        .row
                                                                          .item.index-4.col-sm-6.col-xs-12
                                                                            div
                                                                              .views-field.views-field-nothing-1
                                                                                span.field-content
                                                                                  .portfolio-item.v2
                                                                                    .portfolio-content
                                                                                      .image
                                                                                        img(src='/sites/default/files/styles/height/public/2019-01/IMG1-10-VILLES.jpg?itok=h0jd8vUH' alt='' typeof='Image')
                                                                                      .content-inner
                                                                                        .title
                                                                                          a(href='/fr/portefolio/etude-de-collecte-et-de-traitement-des-eaux-usees-et-des-dechets-solides-dans-46-villes' hreflang='fr') Étude de collecte et de traitement des eaux usées et des déchets solides… 
                                                                                        .category
                                                                                          a(href='/fr/portefolio/etude-de-collecte-et-de-traitement-des-eaux-usees-et-des-dechets-solides-dans-46-villes' hreflang='fr') Approvisionnement en eau et assainissement
                                                                                        .view-node
                                                                                          a(href='/fr/portefolio/etude-de-collecte-et-de-traitement-des-eaux-usees-et-des-dechets-solides-dans-46-villes' hreflang='fr') Détails
                                                                          .item.index-5.col-sm-6.col-xs-12
                                                                            div
                                                                              .views-field.views-field-nothing-1
                                                                                span.field-content
                                                                                  .portfolio-item.v2
                                                                                    .portfolio-content
                                                                                      .image
                                                                                        img(src='/sites/default/files/styles/height/public/2019-01/IMG1-KMS3.jpg?itok=IBuuVmZ2' alt='' typeof='Image')
                                                                                      .content-inner
                                                                                        .title
                                                                                          a(href='/fr/portefolio/controle-et-supervision-des-travaux-de-fourniture-et-pose-dune-canalisation-entre-laval' hreflang='fr') Contrôle et supervision des travaux de fourniture et pose d’une… 
                                                                                        .category
                                                                                          a(href='/fr/portefolio/controle-et-supervision-des-travaux-de-fourniture-et-pose-dune-canalisation-entre-laval' hreflang='fr') Approvisionnement en eau et assainissement
                                                                                        .view-node
                                                                                          a(href='/fr/portefolio/controle-et-supervision-des-travaux-de-fourniture-et-pose-dune-canalisation-entre-laval' hreflang='fr') Détails
                                                            #tab-item-rxhpx4.tab-pane.fade.in
                                                              .views-element-container
                                                                .portfolio-filter-v2.gva-view.js-view-dom-id-877c62bc3eb145e2635c9f5fefee4231c0ff85e2fff9abbbed4f9494c76b0513
                                                                  .gva-view-onefour
                                                                    .big-row.row
                                                                      .item.index-1.first-item.col-md-6.col-sm-12.col-xs-12
                                                                        div
                                                                          .views-field.views-field-nothing-1
                                                                            span.field-content
                                                                              .portfolio-item.v2
                                                                                .portfolio-content
                                                                                  .image
                                                                                    img(src='/sites/default/files/styles/height/public/2018-12/Gabon1_Page%2027.JPG?itok=kRMvKNaP' alt='Mission de Contrôle des travaux du Plan Complet de Réinstallation des populations affectées par l’aménagement des bassins versants de Gué-Gué, Lowé-IAI et Terre Nouvelle.' typeof='Image')
                                                                                  .content-inner
                                                                                    .title
                                                                                      a(href='/fr/portefolio/mission-de-controle-des-travaux-du-plan-complet-de-reinstallation-des-populations' hreflang='fr') Mission de contrôle des travaux du plan complet de réinstallation des… 
                                                                                    .category
                                                                                      a(href='/fr/portefolio/mission-de-controle-des-travaux-du-plan-complet-de-reinstallation-des-populations' hreflang='fr') Bâtiments civils et industriels.
                                                                                    .view-node
                                                                                      a(href='/fr/portefolio/mission-de-controle-des-travaux-du-plan-complet-de-reinstallation-des-populations' hreflang='fr') Détails
                                                                      .small-items.col-md-6.col-sm-12.col-xs-12
                                                                        .row
                                                                          .item.index-2.col-sm-6.col-xs-12
                                                                            div
                                                                              .views-field.views-field-nothing-1
                                                                                span.field-content
                                                                                  .portfolio-item.v2
                                                                                    .portfolio-content
                                                                                      .image
                                                                                        img(src='/sites/default/files/styles/height/public/2018-12/Congo-Cameroun_PCUF7_Page26.jpg?itok=5k_YVNF8' alt='' typeof='Image')
                                                                                      .content-inner
                                                                                        .title
                                                                                          a(href='/fr/portefolio/controle-et-surveillance-des-travaux-de-construction-du-poste-de-controle-unique' hreflang='fr') Contrôle et Surveillance des travaux de construction du Poste de Contrôle… 
                                                                                        .category
                                                                                          a(href='/fr/portefolio/controle-et-surveillance-des-travaux-de-construction-du-poste-de-controle-unique' hreflang='fr') Bâtiments civils et industriels.
                                                                                        .view-node
                                                                                          a(href='/fr/portefolio/controle-et-surveillance-des-travaux-de-construction-du-poste-de-controle-unique' hreflang='fr') Détails
                                          .gva-parallax-inner.skrollable.skrollable-between.bg-size-cover(style='background-repeat: no-repeat;background-position:center center;' data-bottom-top='top: -68%;' data-top-bottom='top: 0%;')
                                      .gbb-row-wrapper
                                        .gbb-row.bg-size-default(style="background-image:url('/sites/default/files/gbb-uploads/bg-2.jpg'); background-repeat:repeat; background-position:center center")
                                          .bb-inner.default
                                            .bb-container.container
                                              .row
                                                .row-wrapper.clearfix
                                                  .gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-call-to-action.button-right.text-light(style='')
                                                          .content-inner.clearfix
                                                            .content
                                                              h2.title
                                                                span En savoir plus sur nos projets
                                                              .desc
                                                            .button-action
                                                              a.btn-white(href='/fr/nos-realisations') CLIQUEZ ICI
                                      .gbb-row-wrapper
                                        .gbb-row.bg-size-cover(style="background-image:url('/sites/default/files/gbb-uploads/map.png'); background-repeat:no-repeat; background-position:center top")
                                          .bb-inner.default
                                            .bb-container.container
                                              .row
                                                .row-wrapper.clearfix
                                                  .gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-heading.align-center.style-1.text-dark
                                                          h2.title
                                      .clearfix
                                                  .gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                  .gsc-column.col-lg-4.col-md-4.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-icon-box.top-left-title.text-dark
                                                          .highlight_content
                                                            .title-inner
                                                              .highlight-icon
                                                                span.icon-container.fa-1x.text-theme
                                                                  span.icon
                                                                    img(src='../images/PM-Koumbri.jpeg')
                                                              .title
                                                                | Perimetre Maraicher Koumbri
                                                        .widget.gsc-icon-box.top-left-title.text-dark
                                                          .highlight_content
                                                            .title-inner
                                                              .highlight-icon
                                                                span.icon-container.fa-1x.text-theme
                                                                  span.icon
                                                                    img(src='../images/PM-Nampossela.jpeg')
                                                              .title
                                                                | Élaboration des dossiers de consultation des entreprises
                                                  .gsc-column.col-lg-4.col-md-4.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-icon-box.top-left-title.text-dark
                                                          .highlight_content
                                                            .title-inner
                                                              .highlight-icon
                                                                span.icon-container.fa-1x.text-theme
                                                                  span.icon
                                                                    img(src='../images/Tronon-Oudoucar--Bambinar.jpeg')
                                                              .title
                                                                | Dalot lot1 Tronçon Oudoucar- Bambinar
                                                        .widget.gsc-icon-box.top-left-title.text-dark
                                                          .highlight_content
                                                            .title-inner
                                                              .highlight-icon
                                                                span.icon-container.fa-1x.text-theme
                                                                  span.icon
                                                                    img(src='../images/Mise-en-eau-du-canal-secondaire-et-parcelle-par-Bassin.jpg')
                                                              .title
                                                                | Contrôle et coordination de l’exécution des travaux
                                                  .gsc-column.col-lg-4.col-md-4.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-icon-box.top-left-title.text-dark
                                                          .highlight_content
                                                            .title-inner
                                                              .highlight-icon
                                                                span.icon-container.fa-1x.text-theme
                                                                  span.icon
                                                                    img(src='../images/IMG_Page-2.jpg')
                                                              .title
                                                                | Études d’exécution pour le compte des entreprises
                                                  .gsc-column.col-lg-4.col-md-4.col-sm-12.col-xs-12
                                                    .column-inner.bg-size-cover
                                                      .column-content-inner
                                                        .widget.gsc-icon-box.top-left-title.text-dark
                                                          .highlight_content
                                                            .title-inner
                                                              .highlight-icon
                                                                span.icon-container.fa-1x.text-theme
                                                                  span.icon
                                                                    img(src='../images/PM-Deguena-Fla-wr.jpeg')
                                                              .title
                                                                | Études d’exécution pour le compte des entreprises
