extends layout

block content
  br
  .clearfix
    .gsc-tab-views.style-1
      .clearfix.text-center
       div
       ul.nav.nav-tabs
          h2.title
            span(style="text-transform:uppercase") Nos Projets
          ol
           li
             a(href="/projets") Nos Projets&nbsp
           span /
           li 
           li 
            | &nbspProjets
    br
    br
   #nos-projets
    .main.main-page(role='main')
    .clearfix
      .help.show
      .container
        .content-inner
          div
      .clearfix
        .clearfix
          #content.content.content-full
            .container
              .content-main-inner
                .row
                  #page-main-content.main-content.col-md-12.col-xs-12
                    .main-content-inner
                      .content-main
                        div
                          #block-gavias-buildpro-content.block.block-system.block-system-main-block.no-title
                            .content.block-content
                              .views-element-container
                                .portfolio-filter-v2.gva-view.view-page.js-view-dom-id-fc709304a7689d651c1f680516cfeddb659ed828fc6b3b8f8f687656662fb217
                                  div
                                    nav.portfolio-filter
                                      ul.nav.nav-tabs
                                        //- li.11
                                        //-   a.btn-filter.254jl(href='#', onclick="filter()")
                                        //-     //-  (href='#' data-filter='.11')
                                        //-     span Bâtiments civils et industriels.
                                        li.15
                                          a.btn-filter.254jl(href='#' data-filter='.15')
                                            span Aménagements Hydro-agricoles et développement rural
                                        li.12
                                          a.btn-filter.254jl(href='#' data-filter='.12')
                                            span Infrastructures de transport
                                        li.14
                                          a.btn-filter.254jl(href='#' data-filter='.14')
                                            span Approvisionnement en eau et assainissement
                        .clearfix.banner
                          .gsc-tab-views.style-1.row-wrapper.clearfix
                            .clearfix.text-center
                            div
                            ul.nav.nav-tabs
                                h2.title
                                  span(style="text-transform:uppercase") PROJET AGEROUTE SENEGAL
                                ol
                                 li
                                    a(href="/") Acceuil&nbsp
                                  span /
                                 li 
                                 li 
                                  | &nbspAgeroute Sénégal
                          br
                          .gva-portfolio-items.clearfix
                            .row
                              .isotope-items.view-portfolio(data-pid='254jl' data-drupal-views-infinite-scroll-content-wrapper-gvaloadmore='' style='position: relative; height: 4203.26px;')
                                .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 0px; top: 0px;')
                                  .views-field.views-field-nothing
                                    span.field-content
                                      .portfolio-item.v2.margin-bottom-30
                                        .image
                                          a(href='/ageroutesenegal')
                                            img(src='../images/Radier-de-60-lot1-Tronon-Sametoulou--Samkatan.jpeg' alt='Tronon-Sametoutou' typeof='Image')
                                        .content
                                          .content-inner
                                            .title
                                              a(href='/ageroutesenegal' ) Radier-de-60-lot1-Tronon-Sametoulou--Samkatan
                                            .category
                                              a(href='/ageroutesenegal' ) Ageroute Sénégal
                                .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 322px; top: 0px;')
                                  .views-field.views-field-nothing
                                    a(href='/ageroutesenegal' )
                                      span.field-content
                                    .portfolio-item.v2.margin-bottom-30
                                      a(href='/ageroutesenegal' )
                                      .image
                                        a(href='/ageroutesenegal' )
                                        a(href='/ageroutesenegal')
                                          img(src='../images/radier-de-40m-lot-2-tronon-Dioudoubou---Boraya.jpeg' alt='tronon-Dioudoubou' typeof='Image')
                                      .content
                                        .content-inner
                                          .title
                                            a(href='/ageroutesenegal' ) radier-de-40m-lot-2-tronon-Dioudoubou---Boraya 
                                          .category
                                            a(href='/ageroutesenegal' ) Ageroute Sénégal
                                .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 644px; top: 0px;')
                                  .views-field.views-field-nothing
                                    a(href='/ageroutesenegal' )
                                      span.field-content
                                    .portfolio-item.v2.margin-bottom-30
                                      a(href='/ageroutesenegal' )
                                      .image
                                        a(href='/ageroutesenegal' )
                                        a(href='/ageroutesenegal')
                                          img(src='../images/Dalot-3x200x200x-bec-de-canard-lot2-tronon-Kougne-sina.jpeg' alt='tronon-Kougne-sina' typeof='Image')
                                      .content
                                        .content-inner
                                          .title
                                            a(href='/ageroutesenegal' ) Dalot-3x200x200x bec de canard lot2 tronon-Kougne-sina
                                          .category
                                            a(href='/ageroutesenegal' ) Ageroute Sénégal
                                .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 0px; top: 323px;')
                                  .views-field.views-field-nothing
                                    a(href='/ageroutesenegal' )
                                      span.field-content
                                    .portfolio-item.v2.margin-bottom-30
                                      a(href='/ageroutesenegal' )
                                      .image
                                        a(href='/ageroutesenegal' )
                                        a(href='/ageroutesenegal')
                                          img(src='../images/Dalot3x200x150-lot1-digue-route.jpeg' alt='lot1-digue-route' typeof='Image')
                                      .content
                                        .content-inner
                                          .title
                                            a(href='/ageroutesenegal' ) Dalot3x200x150 lot1 digue route
                                          .category
                                            a(href='/ageroutesenegal' ) Ageroute Sénégal
                                .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 322px; top: 323px;')
                                  .views-field.views-field-nothing
                                    a(href='/ageroutesenegal' )
                                      span.field-content
                                    .portfolio-item.v2.margin-bottom-30
                                      a(href='/ageroutesenegal' )
                                      .image
                                        a(href='/ageroutesenegal' )
                                        a(href='/ageroutesenegal')
                                          img(src='../images/Digue-route-Tronon-Oudoucar---Bambinar.jpeg' alt='Tronon-Oudoucar' typeof='Image')
                                      .content
                                        .content-inner
                                          .title
                                            a(href='/ageroutesenegal' ) Digue route Tronon Oudoucar Bambinar 
                                          .category
                                            a(href='/ageroutesenegal' ) Ageroute Sénégal
                                .col-lg-4.col-md-4.col-sm-4.col-xs-12.14(data-uk-filter=' 14' style='position: absolute; left: 644px; top: 323px;')
                                  .views-field.views-field-nothing
                                    a(href='/ageroutesenegal' )
                                      span.field-content
                                    .portfolio-item.v2.margin-bottom-30
                                      a(href='/ageroutesenegal' )
                                      .image
                                        a(href='/ageroutesenegal' )
                                        a(href='/ageroutesenegal')
                                          img(src='../images/Piste-Oudoucar---Bambinar.jpeg' alt='Piste-Oudoucar---Bambinar' typeof='Image')
                                      .content
                                        .content-inner
                                          .title
                                            a(href='/ageroutesenegal' )
                                              | Piste Oudoucar Bambinar
                                          .category
                                            a(href='/ageroutesenegal' ) Ageroute Sénégal
                        .clearfix.banner
                          .gsc-tab-views.style-1.row-wrapper.clearfix
                            .clearfix.text-center
                            div
                            ul.nav.nav-tabs
                              h2.title
                                span(style="text-transform:uppercase") PROJET SODAGRI PLAINE DE ANAMBE
                              ol
                               li
                                  a(href="/") Acceuil&nbsp
                                span /
                               li 
                               li 
                                | &nbspSodagri Plaine de Anambe
                          br
                          .isotope-items.view-portfolio(data-pid='254jl' data-drupal-views-infinite-scroll-content-wrapper-gvaloadmore='' style='position: relative; height: 4203.26px;')
                                .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 0px; top: 0px;')
                                  .views-field.views-field-nothing
                                    span.field-content
                                      .portfolio-item.v2.margin-bottom-30
                                        .image
                                          a(href='/sodagri' )
                                            img(src='../images/Chenal-damn-avec-Pompes-imergs.jpeg' alt='Pompes-imergs' typeof='Image')
                                        .content
                                          .content-inner
                                            .title
                                              a(href='/sodagri') Chenal damn avec Pompes imergées
                                            .category
                                              a(href='/sodagri') Sodagri Plaine De Anambé
                                .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 322px; top: 0px;')
                                  .views-field.views-field-nothing
                                    a(href='/sodagri')
                                      span.field-content
                                    .portfolio-item.v2.margin-bottom-30
                                      a(href='/sodagri')
                                      .image
                                        a(href='/sodagri')
                                        a(href='projets')
                                          img(src='../images/Mise-en-du-bassin-de-dissipation-secteur-3.jpeg' alt='dissipation-secteur-3' typeof='Image')
                                      .content
                                        .content-inner
                                          .title
                                            a(href='projets' ) Mise en du bassin de dissipation secteur-3 
                                          .category
                                            a(href='projets' ) Sodagri Plaine De Anambé
                                .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 644px; top: 0px;')
                                  .views-field.views-field-nothing
                                    a(href='projets' )
                                      span.field-content
                                    .portfolio-item.v2.margin-bottom-30
                                      a(href='projets' )
                                      .image
                                        a(href='projets' )
                                        a(href='/sodagri' )
                                          img(src='../images/pose-de-pompage-et-bassin-de-dissipation-Secteur-3.jpeg' alt='poste de pompage' typeof='Image')
                                      .content
                                        .content-inner
                                          .title
                                            a(href='/sodagri') poste de pompage et bassin de dissipation Secteur-3.jpeg
                                          .category
                                            a(href='/sodagri') Sodagri Plaine De Anambé
                                .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 0px; top: 323px;')
                                  .views-field.views-field-nothing
                                    a(href='/sodagri')
                                      span.field-content
                                    .portfolio-item.v2.margin-bottom-30
                                      a(href='/sodagri')
                                      .image
                                        a(href='/sodagri')
                                        a(href='/sodagri' )
                                          img(src='../images/installation-des-poteaux.jpeg' alt='poteaux' typeof='Image')
                                      .content
                                        .content-inner
                                          .title
                                            a(href='/sodagri') installation de poteaux électriques
                                          .category
                                            a(href='/sodagri') Sodagri Plaine De Anambé
                                .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 322px; top: 323px;')
                                  .views-field.views-field-nothing
                                    a(href='/sodagri')
                                      span.field-content
                                    .portfolio-item.v2.margin-bottom-30
                                      a(href='/sodagri')
                                      .image
                                        a(href='/sodagri')
                                        a(href='/sodagri' )
                                          img(src='../images/installation-des-poteaux--elec.jpeg' alt='poteaux--elec' typeof='Image')
                                      .content
                                        .content-inner
                                          .title
                                            a(href='/sodagri') Pose de poteaux électriques 
                                          .category
                                            a(href='/sodagri') Sodagri Plaine De Anambé
                                .col-lg-4.col-md-4.col-sm-4.col-xs-12.14(data-uk-filter=' 14' style='position: absolute; left: 644px; top: 323px;')
                                  .views-field.views-field-nothing
                                    a(href='/sodagri')
                                      span.field-content
                                    .portfolio-item.v2.margin-bottom-30
                                      a(href='/sodagri')
                                      .image
                                        a(href='/sodagri')
                                        a(href='/sodagri' )
                                          img(src='../images/Piste--dacce-Anamb---Diaob.jpeg' alt='dacce-Anamb-Diaob' typeof='Image')
                                      .content
                                        .content-inner
                                          .title
                                            a(href='/sodagri')
                                              | Piste dacce-Anamb-Diaob
                                          .category
                                            a(href='/sodagri') Sodagri Plaine De Anambé
                                .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 644px; top: 0px;')
                                  .views-field.views-field-nothing
                                    a(href='projets' )
                                      span.field-content
                                    .portfolio-item.v2.margin-bottom-30
                                      a(href='projets' )
                                      .image
                                        a(href='projets' )
                                        a(href='/sodagri' )
                                          img(src='../images/Mise-en-eau-du-canal-secondaire-S5.jpg' alt='canal-secondaire-S5' typeof='Image')
                                      .content
                                        .content-inner
                                          .title
                                            a(href='/sodagri') Mise-en-eau-du-canal-secondaire-S5
                                          .category
                                            a(href='/sodagri') Sodagri Plaine De Anambé
                                .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 0px; top: 323px;')
                                  .views-field.views-field-nothing
                                    a(href='/sodagri')
                                      span.field-content
                                    .portfolio-item.v2.margin-bottom-30
                                      a(href='/sodagri')
                                      .image
                                        a(href='/sodagri')
                                        a(href='/sodagri' )
                                          img(src='../images/parcelle-plane.jpeg' alt='parcelle-plane' typeof='Image')
                                      .content
                                        .content-inner
                                          .title
                                            a(href='/sodagri') parcelle plane
                                          .category
                                            a(href='/sodagri') Sodagri Plaine De Anambé
                                .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 322px; top: 323px;')
                                  .views-field.views-field-nothing
                                    a(href='/sodagri')
                                      span.field-content
                                    .portfolio-item.v2.margin-bottom-30
                                      a(href='/sodagri')
                                      .image
                                        a(href='/sodagri')
                                        a(href='/sodagri' )
                                          img(src='../images/piste-dexploitation.jpg' alt='piste-dexploitation' typeof='Image')
                                      .content
                                        .content-inner
                                          .title
                                            a(href='/sodagri') piste d'exploitation 
                                          .category
                                            a(href='/sodagri') Sodagri Plaine De Anambé
                        .clearfix.banner
                                .gsc-tab-views.style-1.row-wrapper.clearfix
                                  .clearfix.text-center
                                  div
                                  ul.nav.nav-tabs
                                      h2.title
                                        span(style="text-transform:uppercase") PROJET PERIMETRE MARAICHER
                                      ol
                                       li
                                          a(href="/") Acceuil&nbsp
                                        span /
                                       li 
                                       li 
                                        | &nbspPérimètre Maraîcher
                                 br
                            .isotope-items.view-portfolio(data-pid='254jl' data-drupal-views-infinite-scroll-content-wrapper-gvaloadmore='' style='position: relative; height: 4203.26px;')
                               .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 322px; top: 323px;')
                                    .views-field.views-field-nothing
                                      a(href='/perimetre' )
                                        span.field-content
                                      .portfolio-item.v2.margin-bottom-30
                                        a(href='/perimetre' )
                                        .image
                                          a(href='/perimetre' )
                                          a(href='/perimetre')
                                            img(src='../images/PM-Deguena-Fla-wr.jpeg' alt='PM-Deguena-Fla-wr' typeof='Image')
                                        .content
                                          .content-inner
                                            .title
                                              a(href='/perimetre' ) PERIMETRE MARAICHER-Deguena-Fla-wr 
                                            .category
                                              a(href='/perimetre' ) Périmetre maraîcher
                               .col-lg-4.col-md-4.col-sm-4.col-xs-12.14(data-uk-filter=' 14' style='position: absolute; left: 644px; top: 323px;')
                                    .views-field.views-field-nothing
                                      a(href='/perimetre' )
                                        span.field-content
                                      .portfolio-item.v2.margin-bottom-30
                                        a(href='/perimetre' )
                                        .image
                                          a(href='/perimetre' )
                                          a(href='/perimetre')
                                            img(src='../images/PM-Lofin.jpeg' alt='PM-Lofin' typeof='Image')
                                        .content
                                          .content-inner
                                            .title
                                              a(href='/perimetre' )
                                                | PERIMETRE MARAICHER-Lofin
                                            .category
                                              a(href='/perimetre' ) Périmetre maraîcher
                               .col-lg-4.col-md-4.col-sm-4.col-xs-12.14(data-uk-filter=' 14' style='position: absolute; left: 644px; top: 323px;')
                                    .views-field.views-field-nothing
                                      a(href='/perimetre' )
                                        span.field-content
                                      .portfolio-item.v2.margin-bottom-30
                                        a(href='/perimetre' )
                                        .image
                                          a(href='/perimetre' )
                                          a(href='/perimetre')
                                            img(src='../images/PM-Koumbri.jpeg' alt='PM-Koumbri' typeof='Image')
                                        .content
                                          .content-inner
                                            .title
                                              a(href='/perimetre' )
                                                | PERIMETRE MARAICHER Koumbri
                                            .category
                                              a(href='/perimetre' ) Périmetre maraîcher
      