extends layout

block content  
          br 
          .clearfix
            .gsc-tab-views.style-1
              .clearfix.text-center
                div
                ul.nav.nav-tabs
                  h2.title
                    span(style="text-transform:uppercase") Qui sommes nous?
                  ol
                    li
                      a(href="/") Acceuil&nbsp
                    span /
                    li 
                    li 
                      | &nbspÀ propos de SAED sarl                     
            br
            div
            .bb-container.container
             .row
              .row-wrapper.clearfix
                .gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12
                 .column-inner.bg-size-cover
                  .content.propos
                    .container-carousel-tab-view
                     #myCarousel.carousel.slide.propos(data-ride='carousel')
                      // Indicators
                      ol.carousel-indicators
                        li.active(data-target='#myCarousel' data-slide-to='0')
                        li(data-target='#myCarousel' data-slide-to='1')
                        li(data-target='#myCarousel' data-slide-to='2')
                      // Wrapper for slides
                      .carousel-inner
                        .item.active(style='width: 700px;')
                          img(src='../images/PM-Deguena-Fla-wr.jpeg' alt='Deguena')
                          .carousel-caption
                            h3 Deguena
                            p Périmètre maraicher Deguena
                        .item(style='width: 700px;')
                          img(src='../images/Chenal-damn-avec-Pompes-imergs.jpeg' alt='Pompes')
                          .carousel-caption
                            h3 Anambe
                            p Pompe imergée
                        .item(style='width: 700px;')
                          img(src='../images/DSC00300.JPG' alt='Odoucar')
                          .carousel-caption
                            h3 Odoucar-Bambinar
                            p Route Tronon-Odoucar-Bambinar
                      // Left and right controls
                      a.left.carousel-control(href='#myCarousel' data-slide='prev')
                        span.glyphicon.glyphicon-chevron-left
                        span.sr-only Previous
                      a.right.carousel-control(href='#myCarousel' data-slide='next')
                        span.glyphicon.glyphicon-chevron-right
                        span.sr-only Next
                    
                
                    .gsc-tab-views.style-2(style="padding-top:70px")
                        ul.nav.nav-tabs.right-view
                          li.active
                            a(data-toggle='tab' href='#tab-item-rxhpx1') Qui sommes nous
                          li
                            a(data-toggle='tab' href='#tab-item-rxhpx2') Notre Equipe
                          li
                            a(data-toggle='tab' href='#tab-item-rxhpx3') Nos partenaires
                          li
                            a(data-toggle='tab' href='#tab-item-rxhpx4') Notre mission 
                          li
                            a(data-toggle='tab' href='#tab-item-rxhpx5') Nos moyens matériels 
                          li
                            a(data-toggle='tab' href='#tab-item-rxhpx6') Nos références 
                          li
                            a(data-toggle='tab' href='#tab-item-rxhpx7') Nos Projets                    
                    .flex-container-propos
                          .flex-child
                            .left(style="width:100%")
                                h2 Presentation de la SAED sarl
                                br
                                | La 
                                strong S.A.E.D sarl 
                                | est un bureau d’études privé, formé d’Ingénieurs et de Techniciens de compétences diverses, familiarisés avec les techniques modernes de travail.
                                br
                                | La 
                                strong S.A.E.D sarl 
                                | a été créée en janvier 1999 et inscrit au registre du commerce de Bamako sous le numéro 
                                strong 14 585 du 16 /03 /1999 
                                | régularisé le 
                                strong 02/02/05 
                                | sous le numéro 
                                strong MA-BKO-2005-B-425.
                                br
                                | Le siège social de la 
                                strong S.A.E.D sarl
                                | est à Bamako, quartier ACI SOTUBA.
                                br
                                br
                                br
                                | La S.A.E.D sarl répond aux interrogations préliminaires des clients en réalisant les prestations suivantes:
                                ul.feature-list.MsoNormal(style='text-align: justify')
                                  li
                                    strong Études de conception,
                                  li
                                    strong Assistance pour la dévolution des travaux,
                                  li
                                    strong Contrôle et réception des travaux,
                                  li
                                    strong En fin la SAED collabore efficacement avec les maîtres d’ouvrages dans différentes tâches.
                                 br
                                
                                h2 Nos domaines d'intervention
                                div
                                .column-content(style="width:100%; font-size:x-small")
                                  ul.feature-list
                                    li
                                      h3.MsoNormal(style='text-align: justify')
                                      span(style="color:#1d85a7") 
                                      strong(style="mso-bidi-font-weight: normal, font-weight: bold") Engagement
                                    li
                                      strong Mission d’assistance,
                                    li
                                      strong Mission de formation et de sensibilisation des communautés rurales
                                    li
                                      strong Génie civil, Travaux d’aménagements de route et les travaux de bâtiment
                                    li
                                      strong Aménagement d’espace,
                                    li
                                      strong Hydraulique urbaine et industrielle,
                                    li
                                      strong Hydraulique villageoise et pastorale,
                                    li
                                      strong Aménagement hydro agricole,
                                    li
                                      strong Formation aux nouvelles technologies dans le domaine des aménagements routiers et de l’espace (Micro piste et AutoCAD),
                                    li
                                      strong Développement urbain,
                                    li
                                      strong Développement rural et gestion des ressources naturelles,
                                br            
                        
                                .column-content-inner.presentation(style="background-image:url('../images/engineering.jpg'); background-repeat:no-repeat; background-position:center bottom")
                                  h5 Presentation de la SAED sarl
                                  | Vous pouvez télécharger notre 
                                  br
                                  | plaquette de présentation pour en 
                                  br
                                  | savoir plus sur nous.
                                  br
                                  
                                  div
                                  .action
                                  a.btn-theme(target="_blank" href="../assets/PRESENTATION SAED du 02-02-2020.pdf") Telecharger
                                br
                                .gbb-row-wrapper
                                  .gbb-row.bg-size-default(style="background-image:url('../images/engineering.jpg'); background-repeat:no-repeat; background-position:center bottom")
                                    

                                              .flex-child.table
                                                  .left
                                                    table(style='height: 874px;', width='380')
                                                      tbody
                                                        tr
                                                          td(style='width: 421px;', colspan='2')
                                                            p Nom ou raison sociale
                                                          td(style='width: 230px;')
                                                            p &nbsp;SAED
                                                        tr
                                                          td(style='width: 421px;', colspan='2')
                                                            p Forme juridique actuelle
                                                          td(style='width: 230px;')
                                                            p SARL
                                                        tr
                                                          td(style='width: 421px;', colspan='2')
                                                            p Capital
                                                            p D&eacute;tenu&nbsp; &agrave; 50% par Yacouba TRAORE (Directeur)
                                                            p Et 50% par Kod&eacute;gou Kodjo ELO (Directeur Adjoint)
                                                          td(style='width: 230px;')
                                                            p 1&nbsp;500&nbsp;000 Fcfa
                                                        tr
                                                          td(style='width: 421px;', colspan='2')
                                                            p N&deg; Inscription au Registre du commerce
                                                          td(style='width: 230px;')
                                                            p
                                                              | RC&nbsp;: 14&nbsp;585 du 16/03/1999 r&eacute;gularis&eacute; le 02/02/05 sous le num&eacute;ro MA-BKO-2005-B-425.
                                                        tr
                                                          td(style='width: 421px;', colspan='2')
                                                            p N&deg; DNSI
                                                          td(style='width: 230px;')
                                                            p N&deg; 6851017138
                                                        tr
                                                          td(style='width: 421px;', colspan='2')
                                                            p Date de cr&eacute;ation
                                                          td(style='width: 230px;')
                                                            p 1999
                                                        tr
                                                          td(style='width: 421px;', colspan='2')
                                                            p Adresse exacte (n&deg; de rue et b&acirc;timent)
                                                          td(style='width: 230px;')
                                                            p Di&eacute;libougou ACI&nbsp; SOTUBA
                                                        tr
                                                          td(style='width: 421px;', colspan='2')
                                                            p Bo&icirc;te postale
                                                            p Ville &ndash; R&eacute;gion ou Province
                                                          td(style='width: 230px;')
                                                            p B.P: E 1409
                                                            p Bamako / Koulikoro
                                                        tr
                                                          td(style='width: 421px;', colspan='2')
                                                            p T&eacute;l&eacute;phone
                                                            p &nbsp;
                                                            p E-mail
                                                          td(style='width: 230px;')
                                                            p 20 71 73 21/76 47 53 13/66 71 45 10/ 63 98 11 61
                                                            p
                                                              span#cloak3086e946b08a0c58a2d7b9a8f98471f6
                                                                a(href='mailto:info@saedmali.com') info@saedmali.com
                                                        tr
                                                          td(style='width: 421px;', colspan='2')
                                                            p Carte d&rsquo;Agr&eacute;ment des TP-N&deg;
                                                            p Date de Validit&eacute;
                                                          td(style='width: 230px;')
                                                            p N&deg; 99-007/IC/DNI-GU
                                                        tr
                                                          td(style='width: 421px;', colspan='2')
                                                            p N&deg; Caisse de S&eacute;curit&eacute; Sociale
                                                          td(style='width: 230px;')
                                                            p N&deg; 83221946/1
                                                        tr
                                                          td(style='width: 421px;', colspan='2')
                                                            p N&deg; d&rsquo;identification fiscale (Compte Contribuable)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                          td(style='width: 230px;')
                                                            p N&deg; 081101749M
                                                        tr
                                                          td(style='width: 657px;', colspan='3')
                                                            p
                                                              strong Nom et pr&eacute;noms des responsables ayant habilit&eacute; &agrave; signer les documents
                                                        tr
                                                          td(style='width: 313px;')
                                                            p TRAORE Yacouba
                                                          td(style='width: 338px;', colspan='2')
                                                            p Directeur
                                                        tr
                                                          td(style='width: 313px;')
                                                            p ELO Kodjo Kod&eacute;gou
                                                          td(style='width: 338px;', colspan='2')
                                                            p Directeur Adjoint
                            br
