extends layout

block content                          
          .clearfix
            .gsc-tab-views.style-1
              .clearfix.text-center
                ul.nav.nav-tabs
                  h2.title
                    span QUI SOMMES NOUS
                  h4
                    | Société Africaine d'Etudes pour le developpement  
          div
          .container-carousel-tab-view
            #myCarousel.carousel.slide(data-ride='carousel')
              // Indicators
              ol.carousel-indicators
                li.active(data-target='#myCarousel' data-slide-to='0')
                li(data-target='#myCarousel' data-slide-to='1')
                li(data-target='#myCarousel' data-slide-to='2')
              // Wrapper for slides
              .carousel-inner
                .item.active(style='width: 616.656px;')
                  img(src='../images/PM-Deguena-Fla-wr.jpeg' alt='Chania')
                  .carousel-caption
                    h3 Deguena
                    p Périmètre maraicher Deguena
                .item(style='width: 616.656px;')
                  img(src='../images/Chenal-damn-avec-Pompes-imergs.jpeg' alt='Chicago')
                  .carousel-caption
                    h3 Anambe
                    p Pompe imergée
                .item(style='width: 616.656px;')
                  img(src='../images/DSC00300.JPG' alt='New York')
                  .carousel-caption
                    h3 Odoucar-Bambinar
                    p Route Tronon-Odoucar-Bambinar
              // Left and right controls
              a.left.carousel-control(href='#myCarousel' data-slide='prev')
                span.glyphicon.glyphicon-chevron-left
                span.sr-only Previous
              a.right.carousel-control(href='#myCarousel' data-slide='next')
                span.glyphicon.glyphicon-chevron-right
                span.sr-only Next

            .gsc-tab-views.style-2
                ul.nav.nav-tabs
                  li.active
                    a(data-toggle='tab' href='#tab-item-rxhpx1') Qui sommes nous
                  li
                    a(data-toggle='tab' href='#tab-item-rxhpx2') Notre Equipe
                  li
                    a(data-toggle='tab' href='#tab-item-rxhpx3') Nos partenaires
                  li
                    a(data-toggle='tab' href='#tab-item-rxhpx4') Notre mission 
                  li
                    a(data-toggle='tab' href='#tab-item-rxhpx5') Nos moyens matériels 
                  li
                    a(data-toggle='tab' href='#tab-item-rxhpx6') Nos références 
                  li
                    a(data-toggle='tab' href='#tab-item-rxhpx7') Nos Projets                    
          .flex-container-propos
                  .flex-child
                    .left
                        h5 Presentation de la SAED
                        h6
                        span La S.A.E.D. est un bureau d’études privé, formé d’Ingénieurs et de Techniciens de compétences diverses, familiarisés avec les techniques modernes de travail.
                        br
                        | La S.A.E.D. a été créée en janvier 1999 et inscrit au registre du commerce de Bamako sous le numéro 14 585 du 16 /03 /1999 régularisé le 02/02/05 sous le numéro MA-BKO-2005-B-425.
                        br
                        | Le siège social de la S.A.E.D. est à Bamako, quartier ACI SOTUBA.
                  .flex-child
                    .right
                      h5 Presentation de la SAED
                      | Vous pouvez télécharger notre 
                      br
                      | plaquette de présentation pour en 
                      br
                      | savoir plus sur nous.
