extends layout

block content
  br
  .clearfix
    .gsc-tab-views.style-1
      .clearfix.text-center
       div
       ul.nav.nav-tabs
          h2.title
            span(style="text-transform:uppercase") Electrification ville de rarous
          ol
           li
             a(href="/projets") Nos Projets&nbsp
          //-  span /
          //-  li 
          //-  li 
          //-   | &nbspProjets
    br
    .gva-portfolio-items.clearfix
     .gbb-row-wrapper
      .gbb-row.bg-size-default(style="background-image:url('../images/engineering.jpg'); background-repeat:no-repeat; background-position:center bottom")
        .bb-inner.remove_padding
          .bb-container.container
            .row
              .row-wrapper.clearfix
                .gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .gva-portfolio-items.clearfix
                      .row
                          .isotope-items.view-portfolio(data-pid='254jl' data-drupal-views-infinite-scroll-content-wrapper-gvaloadmore='' style='position: relative; height: 4203.26px;')
                            .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 0px; top: 0px;')
                              .views-field.views-field-nothing
                                span.field-content
                                  .portfolio-item.v2.margin-bottom-30
                                    .image
                                      a(href='/rarous')
                                        img(src='../images/rarous/IMG-20201112-WA0145.jpg' alt='Tronon-Sametoutou' typeof='Image')
                                    .content
                                      .content-inner
                                        .title
                                          a(href='/rarous' ) Electrification Ville de Rarous
                                        .category
                                          a(href='/rarous' ) Projet Rarous
                            .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 322px; top: 0px;')
                              .views-field.views-field-nothing
                                a(href='/rarous' )
                                  span.field-content
                                .portfolio-item.v2.margin-bottom-30
                                  a(href='/rarous' )
                                  .image
                                    a(href='/rarous' ) 
                                    a(href='/rarous')  
                                      img(src='../images/rarous/IMG-20201112-WA0141.jpg' alt='tronon-Dioudoubou' typeof='Image')
                                  .content
                                    .content-inner
                                      .title
                                        a(href='/rarous' ) Electrification Ville de Rarous
                                      .category
                                        a(href='/rarous' ) Projet Rarous
                            .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 644px; top: 0px;')
                              .views-field.views-field-nothing
                                a(href='/rarous' )
                                  span.field-content
                                .portfolio-item.v2.margin-bottom-30
                                  a(href='/rarous' )
                                  .image
                                    a(href='/rarous' )
                                    a(href='/rarous')
                                      img(src='../images/rarous/IMG-20201112-WA0143.jpg' alt='tronon-Kougne-sina' typeof='Image')
                                  .content
                                    .content-inner
                                      .title
                                        a(href='/rarous' ) Electrification Ville de Rarous
                                      .category
                                        a(href='/rarous' ) Projet Rarous
                            .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 0px; top: 323px;')
                              .views-field.views-field-nothing
                                a(href='/rarous' )
                                  span.field-content
                                .portfolio-item.v2.margin-bottom-30
                                  a(href='/rarous' )
                                  .image
                                    a(href='/rarous' )
                                    a(href='/rarous')
                                      img(src='../images/rarous/IMG-20201112-WA0155.jpg' alt='lot1-digue-route' typeof='Image')
                                  .content
                                    .content-inner
                                      .title
                                        a(href='/rarous' ) Electrification Ville de Rarous
                                      .category
                                        a(href='/rarous' ) Projet Rarous
                            .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 322px; top: 323px;')
                              .views-field.views-field-nothing
                                a(href='/rarous' )
                                  span.field-content
                                .portfolio-item.v2.margin-bottom-30
                                  a(href='/rarous' )
                                  .image
                                    a(href='/rarous' )
                                    a(href='/rarous')
                                      img(src='../images/rarous/IMG-20201112-WA0159.jpg' alt='Tronon-Oudoucar' typeof='Image')
                                  .content
                                    .content-inner
                                      .title
                                        a(href='/rarous' ) Electrification Ville de Rarous 
                                      .category
                                        a(href='/rarous' ) Projet Rarous
                            .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 544px; top: 323px;')
                              .views-field.views-field-nothing
                                a(href='/rarous' )
                                  span.field-content
                                .portfolio-item.v2.margin-bottom-30
                                  a(href='/rarous' )
                                  .image
                                    a(href='/rarous' )
                                    a(href='/rarous')
                                      img(src='../images/rarous/IMG-20201112-WA0158.jpg' alt='Piste-Oudoucar--Bambinar' typeof='Image')
                                  .content
                                    .content-inner
                                      .title
                                        a(href='/rarous' ) Electrification Ville de Rarous
                                      .category
                                        a(href='/rarous' ) Projet Rarous