extends layout

block content
  br
  .clearfix
    .gsc-tab-views.style-1
      .clearfix.text-center
       div
       ul.nav.nav-tabs
          h2.title
            span(style="text-transform:uppercase") Recrutement
          //- ol
          //-  li
          //-    a(href="/projets") Nos Projets&nbsp
          //-  span /
          //-  li 
          //-  li 
          //-   | &nbspProjets
    br
    br
    .recrutement 
     h3 Pas d'offre pour le moment