extends layout

block content
  br
  .clearfix
    .gsc-tab-views.style-1
      .clearfix.text-center
       div
       ul.nav.nav-tabs
          h2.title
            span(style="text-transform:uppercase") NOS RÉFÉRENCES - en Projet Intégré
          ol
           li
             a(href="/reference-alimentation-en-eau-potable-et-pastorale") Alimentation eau potable et Pastorale&nbsp
           span -&nbsp
           li
             a(href="/reference-piste-rurale-amelioree") Piste rurale et améliorée&nbsp
           span -&nbsp
           li
             a(href="/reference-amenagement-hydro-agricole") Aménagement Hydro Agricole&nbsp
           span -&nbsp
           li
             a(href="/reference-barrage") Barrage&nbsp
           span -&nbsp
           li
             a(href="/reference-routes-bitumees") Routes Bitumées&nbsp
           span -&nbsp
           li
             a(href="/reference-batiments-infrastructures") Bâtiments Infrastructures&nbsp
           span &nbsp
    br
    
    table.row-wrapper.clearfix(style='width: 921px;')
      thead
        tr
          td(style='background-color: #1d85a7; width: 78px;', colspan='2')
            p
              span(style='color: #ffffff;')
                strong Date d&eacute;but
          td(style='background-color: #1d85a7; width: 60px;')
            p
              span(style='color: #ffffff;')
                strong Date fin
          td(style='background-color: #1d85a7; width: 124px;')
            p
              span(style='color: #ffffff;')
                strong Pays
          td(style='background-color: #1d85a7; width: 307px;')
            p
              span(style='color: #ffffff;')
                strong Mission
          td(style='background-color: #1d85a7; width: 157px;')
            p
              span(style='color: #ffffff;')
                strong Client
          td(style='background-color: #1d85a7; width: 175px;')
            p
              span(style='color: #ffffff;')
                strong Financement
                tbody
                        tr
                          td(style='width: 29px;')
                            p 1
                          td(style='width: 54px;')
                            p 2015
                          td(style='width: 45px;')
                            p En cours
                          td(style='width: 66px;')
                            p SENEGAL
                          td(style='width: 403px;')
                            p
                              | Ma&icirc;trise d&rsquo;&oelig;uvre charg&eacute; d&rsquo;&eacute;tudier et de contr&ocirc;ler la r&eacute;alisation d&rsquo;infrastructures hydro agricoles pour le compte du PADAER dans la r&eacute;gion de K&eacute;dougou au S&eacute;n&eacute;gal 2015-
                          td(style='width: 151px;')
                            p
                              strong Programme d&rsquo;Appui au D&eacute;veloppement Agricole
                            p
                              strong et &agrave; l&rsquo;Entreprenariat Rural (PADAER)
                          td(style='width: 125px;')
                            p FIDA
                        tr
                          td(style='width: 29px;')
                            p 2
                          td(style='width: 54px;')
                            p 2015
                          td(style='width: 45px;')
                            p 2015
                          td(style='width: 66px;')
                            p S&eacute;n&eacute;gal
                          td(style='width: 403px;')
                            p Contr&ocirc;le et Supervision des travaux :
                            p
                              | - R&eacute;alisation des travaux de r&eacute;habilitation des secteurs 1, 2, 3, 5du p&eacute;rim&egrave;tre am&eacute;nag&eacute; (3180 ha) et des travaux d&rsquo;entretien des barrages du bassin de l&rsquo;Anamb&eacute;&nbsp;;
                            p
                              | - De pose d&rsquo;&eacute;quipements hydrom&eacute;caniques, l&rsquo;&eacute;lectrification et la maintenance des stations de pompage et de des barrages&nbsp;;
                            p
                              | - Des travaux d&rsquo;am&eacute;nagement de 200 ha de petits p&eacute;rim&egrave;tres irrigu&eacute;s au niveau des vall&eacute;es des communaut&eacute;s rurales de Sinthiang Koundara, de Bonconto et de Wassadou dans le d&eacute;partement de v&eacute;lingara-Region de Kolda.
                          td(style='width: 151px;')
                            p
                              strong Soci&eacute;t&eacute; de D&eacute;veloppement Agricole et Industrielle du S&eacute;n&eacute;gal
                            p
                              strong (SODAGRI)
                          td(style='width: 125px;')
                            p Banque mondiale et Coop&eacute;ration Espagnole
                        tr
                          td(style='width: 29px;')
                            p 3
                          td(style='width: 54px;')
                            p 2013
                          td(style='width: 45px;')
                            p 2014
                          td(style='width: 66px;')
                            p Mali
                          td(style='width: 403px;')
                            p
                              | Prestation de Services pour le Contr&ocirc;le et la surveillance des Travaux d&rsquo;ex&eacute;cution des microprojets dans la r&eacute;gion de Kayes. CT N&deg;0146 DGMP 2013
                          td(style='width: 151px;')
                            p
                              strong PADEC
                          td(style='width: 125px;')
                            p
                              strong Budget National
                        tr
                          td(style='width: 29px;')
                            p 4
                          td(style='width: 54px;')
                            p 2012
                          td(style='width: 45px;')
                            p 2014
                          td(style='width: 66px;')
                            p TOGO
                          td(style='width: 403px;')
                            p
                              | ETUDES, CONTR&Ocirc;LE ET DE SURVEILLANCE DES TRAVAUX D&apos;AMENAGEMENT HYDRO AGRICOLES DU PROJET DE DEVELOPPEMENT DE LA PRODUCTION RIZICOLE DANS LA REGION DE LA KARA (PDPR-K)
                          td(style='width: 151px;')
                            p
                              | MINISTERE DELEGUE AUPRES DU MINISTRE DE L&rsquo;AGRICULTURE, DE L&rsquo;ELEVAGE ET DE LA&nbsp; PECHE, CHARGE DES INFRASTRUCTURES RURALES
                          td(style='width: 125px;')
                            p BADEA et Budget national
                        tr
                          td(style='width: 29px;')
                            p 5
                          td(style='width: 54px;')
                            p 2012
                          td(style='width: 45px;')
                            p En cours
                          td(style='width: 66px;')
                            p TOGO
                          td(style='width: 403px;')
                            p
                              | &Eacute;tudes, le contr&ocirc;le et la surveillance des travaux du Projet de d&eacute;veloppement rural int&eacute;gr&eacute; de la Plaine de M&ocirc; (PDRI-M&ocirc;) (Am&eacute;nagement de 5 bas-fonds et 3 ZAAP (Zone d&rsquo;Am&eacute;nagement Agricole Planifi&eacute;) avec les pistes d&rsquo;acc&egrave;s, ex&eacute;cution de 61 forages positifs et 5 adductions d&rsquo;eau sommaire)
                          td(style='width: 151px;')
                            p
                              | MINISTERE DELEGUE AUPRES DU MINISTRE DE L&rsquo;AGRICULTURE, DE L&rsquo;ELEVAGE ET DE LA&nbsp; PECHE, CHARGE DES INFRASTRUCTURES RURALES
                          td(style='width: 125px;')
                            p BOAD
                        tr
                          td(style='width: 29px;')
                            p 6
                          td(style='width: 54px;')
                            p 2011
                          td(style='width: 45px;')
                            p 2011
                          td(style='width: 66px;')
                            p Mali
                          td(style='width: 403px;')
                            p
                              | &Eacute;tudes techniques d&rsquo;ex&eacute;cution (Implantation g&eacute;ophysique de forage) et contr&ocirc;le des travaux de r&eacute;alisation de 15 forages, 10 puits villageois et10 puits citernes pour le compte du Projet d&rsquo;Appui au D&eacute;veloppement de l&rsquo;&Eacute;levage au Nord-Est du Mali 
                              strong (PADENEM -Phase II) Gao. Avenant
                          td(style='width: 151px;')
                            p PADENEM
                          td(style='width: 125px;')
                            p FAD (Fonds Africain de D&eacute;veloppement)
                        tr
                          td(style='width: 29px;')
                            p 7
                          td(style='width: 54px;')
                            p 2010
                          td(style='width: 45px;')
                            p 2013
                          td(style='width: 66px;')
                            p Mali
                          td(style='width: 403px;')
                            p
                              | &Eacute;tudes Techniques, Contr&ocirc;le et la surveillance des Travaux de Construction et de R&eacute;habilitation des infrastructures au niveau des centres de Madina Diassa de r&eacute;alisation de 6 aires d&rsquo;abattage, de 3 mini laiteries, 5 march&eacute;s a b&eacute;tail et d&rsquo;une piste de 70km dans la zone d&rsquo;intervention du PROGEBE
                          td(style='width: 151px;')
                            p
                              strong PROGEBE
                          td(style='width: 125px;')
                            p
                              strong FAD 
                            p (Fonds Africaine de D&eacute;veloppement)
                        tr
                          td(style='width: 29px;')
                            p 8
                          td(style='width: 54px;')
                            p 2010
                          td(style='width: 45px;')
                            p 2012
                          td(style='width: 66px;')
                            p Mali
                          td(style='width: 403px;')
                            p
                              | Prestation de Services pour le Contr&ocirc;le et la surveillance des Travaux d&rsquo;ex&eacute;cution des microprojets dans la r&eacute;gion de Kayes.
                          td(style='width: 151px;')
                            p
                              strong PADEC
                          td(style='width: 125px;')
                            p
                              strong FAD 
                            p (Fonds Africaine de D&eacute;veloppement)
                        tr
                          td(style='width: 29px;')
                            p 9
                          td(style='width: 54px;')
                            p 2007
                          td(style='width: 45px;')
                            p 2011
                          td(style='width: 66px;')
                            p Mali
                          td(style='width: 403px;')
                            p &nbsp;Nom de la Mission&nbsp;:
                            p
                              | &Eacute;tudes, contr&ocirc;le et renforcement de capacit&eacute;s du Projet d&rsquo;Appui au D&eacute;veloppement de l&rsquo;&Eacute;levage au Nord &ndash; Est du Mali Phase II (PADENEM).
                            p
                              | Projet Int&eacute;gr&eacute; &ndash; &eacute;tudes, contr&ocirc;le et surveillance des travaux d&rsquo;hydraulique villageoise et pastorale de 25 forages, 40 contre puits, 10 stations solaires,&nbsp; 50Km de Piste, la r&eacute;habilitation de 30 puits pastoraux, le surcreusement de 15 mares dans la r&eacute;gion de Gao et la commune de Gossi.
                          td(style='width: 151px;')
                            p PADENEM
                          td(style='width: 125px;')
                            p FAD (Fonds Africain de D&eacute;veloppement)
                            // fin NOS REFERENCES - en Projet Intégré
