extends layout

block content
  br
  .clearfix
    .gsc-tab-views.style-1
      .clearfix.text-center
       div
       ul.nav.nav-tabs
          h2.title
            span(style="text-transform:uppercase") NOS RÉFÉRENCES
    br
    .clearfix(style="margin:15px")
     .gsc-tab-views.style-references(style="background-image:url('../images/engineering.jpg'); background-repeat:no-repeat; background-position:center bottom")
      .clearfix.text-center
      ul.nav.nav-tabs.references(style='text-align: justify')
        li
         a(href="/reference-alimentation-en-eau-potable-et-pastorale") Alimentation eau potable et Pastorale&nbsp
        li
         a(href="/reference-piste-rurale-amelioree") Piste rurale et améliorée&nbsp
        li
         a(href="/reference-amenagement-hydro-agricole") Aménagement Hydro Agricole&nbsp
        li
         a(href="/reference-barrage") Barrage&nbsp
        li
         a(href="/reference-projet-integre") Projet Integré&nbsp
        li
         a(href="/reference-batiments-infrastructures") Bâtiments Infrastructures&nbsp
        li
         a(href="/reference-routes-bitumees") Routes Bitumées&nbsp
        br
      
