extends layout

block content
  br
  .clearfix
    .gsc-tab-views.style-1
      .clearfix.text-center
       div
       ul.nav.nav-tabs
          h2.title
            span(style="text-transform:uppercase") NOS RÉFÉRENCES - en Piste rurale et améliorée
          ol
           li
             a(href="/reference-alimentation-en-eau-potable-et-pastorale") Alimentation eau potable et Pastorale&nbsp
           span -&nbsp
           li
             a(href="/reference-projet-integre") Projet Integré&nbsp
           span -&nbsp
           li
             a(href="/reference-amenagement-hydro-agricole") Aménagement Hydro Agricole&nbsp
           span -&nbsp
           li
             a(href="/reference-barrage") Barrage&nbsp
           span -&nbsp
           li
             a(href="/reference-routes-bitumees") Routes Bitumées&nbsp
           span -&nbsp
           li
             a(href="/reference-batiments-infrastructures") Bâtiments Infrastructures&nbsp
           span &nbsp
    br
    table.row-wrapper.clearfix(style='width: 921px;')
      thead
        tr
          td(style='background-color: #1d85a7; width: 78px;', colspan='2')
            p
              span(style='color: #ffffff;')
                strong Date d&eacute;but
          td(style='background-color: #1d85a7; width: 60px;')
            p
              span(style='color: #ffffff;')
                strong Date fin
          td(style='background-color: #1d85a7; width: 124px;')
            p
              span(style='color: #ffffff;')
                strong Pays
          td(style='background-color: #1d85a7; width: 307px;')
            p
              span(style='color: #ffffff;')
                strong Mission
          td(style='background-color: #1d85a7; width: 157px;')
            p
              span(style='color: #ffffff;')
                strong Client
          td(style='background-color: #1d85a7; width: 175px;')
            p
              span(style='color: #ffffff;')
                strong Financement
                tbody
                  tr
                    td(style='width: 30px;')
                      p 1
                      p &nbsp;
                    td(style='width: 54px;')
                      p 2018
                    td(style='width: 44px;')
                      p 2018
                    td(style='width: 80px;')
                      p Mali
                    td(style='width: 384px;')
                      p
                        | Etudes techniques apd definitive des 700km de pistes et ouvrages de franchissement dans le cadre du projet de developpement integre du Kaarta/Sefeto - cercle de Kita- region de Kayes- phase I
                    td(style='width: 162px;')
                      p
                        strong ADRS
                    td(style='width: 129px;')
                      p
                        strong Budget National
                  tr
                    td(style='width: 30px;')
                      p 2
                    td(style='width: 54px;')
                      p 2017
                    td(style='width: 44px;')
                      p 2017
                    td(style='width: 80px;')
                      p Mali
                    td(style='width: 384px;')
                      p
                        | &Eacute;tudes d&rsquo;Avant-Projet Sommaire (APS) et d&rsquo;Avant-Projet D&eacute;taille (APD) et d&rsquo;&eacute;laboration du Dossier d&rsquo;Appel d&rsquo;Offres (DAO) des Travaux relatifs &agrave; la r&eacute;alisation des pistes (160 km), ouvrages de franchissement, des adductions d&rsquo;eau potable dans le&nbsp;&nbsp; KAARTA/SEFETO- cercle de Kita- r&eacute;gion de Kayes&nbsp;: Phase I.
                    td(style='width: 162px;')
                      p
                        strong ADRS
                    td(style='width: 129px;')
                      p
                        strong Budget National
                  tr
                    td(style='width: 30px;')
                      p 3
                    td(style='width: 54px;')
                      p 2017
                    td(style='width: 44px;')
                      p 2018
                    td(style='width: 80px;')
                      p TOGO
                    td(style='width: 384px;')
                      p
                        | Etude des pistes rurales (315 km) dans la R&eacute;gion de la Kara dans le cadre du programme de d&eacute;veloppement communautaire (PUDC)
                    td(style='width: 162px;')
                      p
                        strong PUDC
                    td(style='width: 129px;')
                      p
                        strong PNUD
                  tr
                    td(style='width: 30px;')
                      p 4
                    td(style='width: 54px;')
                      p 2012
                    td(style='width: 44px;')
                      p &nbsp;
                    td(style='width: 80px;')
                      p TOGO
                    td(style='width: 384px;')
                      p
                        | &Eacute;tudes d&rsquo;ex&eacute;cution, la pr&eacute;paration du dossier d&rsquo;appel d&rsquo;offres (DAO), contr&ocirc;le et surveillance des travaux de de pistes rurales dans la plaine de M&ocirc;.
                    td(style='width: 162px;')
                      p
                        strong
                          | MINISTERE DELEGUE AUPRES DU MINISTRE DE L&rsquo;AGRICULTURE, DE L&rsquo;ELEVAGE ET DE LA&nbsp; PECHE, CHARGE DES INFRASTRUCTURES RURALES
                    td(style='width: 129px;')
                      p
                        strong BOAD
                  tr
                    td(style='width: 30px;')
                      p 5
                    td(style='width: 54px;')
                      p 2012
                    td(style='width: 44px;')
                      p 2012
                    td(style='width: 80px;')
                      p Mali
                    td(style='width: 384px;')
                      p
                        | &Eacute;tudes d&rsquo;avant-projet d&eacute;taill&eacute; (APD), production de dossier d&rsquo;appel d&rsquo;offres (DAO), contr&ocirc;le et surveillance des travaux de r&eacute;habilitation de pistes et construction d&rsquo;ouvrages de franchissement dans la r&eacute;gion de Koulikoro.
                    td(style='width: 162px;')
                      p
                        strong CTB MALI
                    td(style='width: 129px;')
                      p
                        strong CTB
                      p
                        strong (Agence Belge de d&eacute;veloppement)
                  tr
                    td(style='width: 30px;')
                      p 6
                    td(style='width: 54px;')
                      p 2011
                    td(style='width: 44px;')
                      p 2012
                    td(style='width: 80px;')
                      p Mali
                    td(style='width: 384px;')
                      p Etablissement des plans d&rsquo;ex&eacute;cution de la route MACINA-DIAFARABE (43.7 Km).
                    td(style='width: 162px;')
                      p
                        strong CGGC
                    td(style='width: 129px;')
                      p
                        strong Budget National
                  tr
                    td(style='width: 30px;')
                      p 7
                    td(style='width: 54px;')
                      p 2011
                    td(style='width: 44px;')
                      p 2011
                    td(style='width: 80px;')
                      p Mali
                    td(style='width: 384px;')
                      p
                        | Contr&ocirc;le et surveillance des travaux d&rsquo;am&eacute;nagement des pistes de liaison entre les villages situ&eacute;s sur la rive droite du canal principal du p&eacute;rim&egrave;tre irrigu&eacute; de Baguin&eacute;da
                    td(style='width: 162px;')
                      p
                        strong Office du P&eacute;rim&egrave;tre Irrigu&eacute; de Baguin&eacute;da (Minist&egrave;re de l&rsquo;Agriculture)
                    td(style='width: 129px;')
                      p
                        strong Budget National
                  tr
                    td(style='width: 30px;')
                      p 8
                    td(style='width: 54px;')
                      p 2009
                    td(style='width: 44px;')
                      p 2012
                    td(style='width: 80px;')
                      p Mali
                    td(style='width: 384px;')
                      p
                        | &Eacute;tudes techniques (y compris les &eacute;tudes d&rsquo;impact socio&eacute;conomiques), Contr&ocirc;le et surveillance des Travaux de r&eacute;alisation de 130 km de pistes rurales dans la zone de Kayes Sud pour le compte du PADEPA-KS.
                    td(style='width: 162px;')
                      p
                        strong PADEPA-KS
                    td(style='width: 129px;')
                      p
                        strong FAD
                      p (Fonds Africaine de D&eacute;veloppement)
                  tr
                    td(style='width: 30px;')
                      p 9
                    td(style='width: 54px;')
                      p 2009
                    td(style='width: 44px;')
                      p 2012
                    td(style='width: 80px;')
                      p Mali
                    td(style='width: 384px;')
                      p
                        | &Eacute;tudes techniques, Contr&ocirc;le et de la surveillance des Travaux de R&eacute;habilitation des Infrastructures&nbsp; au niveau&nbsp; du Centre de Madina Diassa ; de R&eacute;alisation de 6 Aires d&rsquo;abattage ; de 3 mini laiteries, et de 5 March&eacute;s &agrave; b&eacute;tail et d&rsquo;une Piste&nbsp; de 70 Km dans la zone d&rsquo;intervention&nbsp; du PROGEBE.
                    td(style='width: 162px;')
                      p
                        strong Minist&egrave;re de l&rsquo;&Eacute;levage et de la&nbsp; P&ecirc;che
                    td(style='width: 129px;')
                      p
                        strong FAD
                      p (Fonds Africaine de D&eacute;veloppement)
                  tr
                    td(style='width: 30px;')
                      p 10
                    td(style='width: 54px;')
                      p 2009
                    td(style='width: 44px;')
                      p 2009
                    td(style='width: 80px;')
                      p Mali
                    td(style='width: 384px;')
                      p
                        | &Eacute;tudes techniques du projet de construction du pont de Tofassadaga et de l&rsquo;Am&eacute;nagement de ses voies d&rsquo;acc&egrave;s dans le cercle de Kita.
                    td(style='width: 162px;')
                      p
                        strong AGETIPE-MALI
                    td(style='width: 129px;')
                      p Budget National
                  tr
                    td(style='width: 30px;')
                      p 11
                    td(style='width: 54px;')
                      p 2009
                    td(style='width: 44px;')
                      p 2009
                    td(style='width: 80px;')
                      p Mali
                    td(style='width: 384px;')
                      p &Eacute;tudes techniques pour&nbsp; les travaux de construction du pont
                      p de Wassala dans le cercle de Bafoulab&eacute;.
                    td(style='width: 162px;')
                      p
                        strong AGETIPE-MALI
                    td(style='width: 129px;')
                      p Budget National
                  tr
                    td(style='width: 30px;')
                      p 12
                    td(style='width: 54px;')
                      p 2008
                    td(style='width: 44px;')
                      p 2009
                    td(style='width: 80px;')
                      p Mali
                    td(style='width: 384px;')
                      p
                        | &Eacute;tudes techniques des pistes de liaison (100 km) entre les villages situ&eacute;s sur la rive droite du canal principal du p&eacute;rim&egrave;tre irrigu&eacute; de Baguin&eacute;da.
                    td(style='width: 162px;')
                      p
                        strong Office du P&eacute;rim&egrave;tre Irrigu&eacute; de Baguin&eacute;da
                    td(style='width: 129px;')
                      p Budget National
                  tr
                    td(style='width: 30px;')
                      p 13
                    td(style='width: 54px;')
                      p 2005
                    td(style='width: 44px;')
                      p 2006
                    td(style='width: 80px;')
                      p Mali
                    td(style='width: 384px;')
                      p
                        | &Eacute;tudes technique et Suivi des travaux de construction d&rsquo;un pont &agrave; poutre de 50 m de port&eacute;e &agrave; Siraninkoto dans la commune de Djidian Cercle de Kita.
                    td(style='width: 162px;')
                      p
                        strong AGETIPE-MALI
                    td(style='width: 129px;')
                      p Budget National
                            // fin Références en Piste rurale et améliorée