extends layout

block content
  br
  .clearfix
    .gsc-tab-views.style-1
      .clearfix.text-center
       div
       ul.nav.nav-tabs
          h2.title
            span(style="text-transform:uppercase") NOS RÉFÉRENCES - en Bâtiments et Infrastructures Diverses
          ol
           li
             a(href="/reference-alimentation-en-eau-potable-et-pastorale") Alimentation eau potable et Pastorale&nbsp
           span -&nbsp
           li
             a(href="/reference-projet-integre") Projet Integré&nbsp
           span -&nbsp
           li
             a(href="/reference-amenagement-hydro-agricole") Aménagement Hydro Agricole&nbsp
           span -&nbsp
           li
             a(href="/reference-barrage") Barrage&nbsp
           span -&nbsp
           li
             a(href="/reference-routes-bitumees") Routes Bitumées&nbsp
           span -&nbsp
           li
             a(href="/reference-piste-rurale-amelioree") Piste Rurale et Améliorée&nbsp
           span &nbsp
    br
    table.row-wrapper.clearfix(style='width: 921px;')
        thead
          tr
            td(style='background-color: #1d85a7; width: 78px;', colspan='2')
              p
                span(style='color: #ffffff;')
                  strong Date d&eacute;but
            td(style='background-color: #1d85a7; width: 60px;')
              p
                span(style='color: #ffffff;')
                  strong Date fin
            td(style='background-color: #1d85a7; width: 124px;')
              p
                span(style='color: #ffffff;')
                  strong Pays
            td(style='background-color: #1d85a7; width: 307px;')
              p
                span(style='color: #ffffff;')
                  strong Mission
            td(style='background-color: #1d85a7; width: 157px;')
              p
                span(style='color: #ffffff;')
                  strong Client
            td(style='background-color: #1d85a7; width: 175px;')
              p
                span(style='color: #ffffff;')
                  strong Financement
                  tbody
                          tr
                            td(style='width: 32px;')
                              p &nbsp;
                            td(style='width: 42px;')
                              p &nbsp;
                            td(style='width: 60px;')
                              p &nbsp;
                            td(style='width: 118px;')
                              p &nbsp;
                            td(style='width: 301px;')
                              p &nbsp;
                            td(style='width: 157px;')
                              p
                                strong &nbsp;
                            td(style='width: 164px;')
                              p &nbsp;
                          tr
                            td(style='width: 32px;')
                              p 1
                            td(style='width: 42px;')
                              p 2015
                            td(style='width: 60px;')
                              p 2016
                            td(style='width: 118px;')
                              p Mali
                            td(style='width: 301px;')
                              p
                                | Relatif aux &eacute;tudes techniques d&apos;Avant-Projet D&eacute;taill&eacute; ainsi que le contr&ocirc;le et la surveillance des travaux de construction de Magasins a Kita /CMDT Filiale ouest-SA
                            td(style='width: 157px;')
                              p
                                strong CMDT
                            td(style='width: 164px;')
                              p
                                strong CMDT
                          tr
                            td(style='width: 32px;')
                              p 2
                            td(style='width: 42px;')
                              p 2010
                            td(style='width: 60px;')
                              p 2013
                            td(style='width: 118px;')
                              p Mali
                            td(style='width: 301px;')
                              p
                                | &Eacute;tudes Techniques, Contr&ocirc;le et la surveillance des Travaux de Construction et de R&eacute;habilitation des infrastructures au niveau des centres de Madina Diassa de r&eacute;alisation de 6 aires d&rsquo;abattage, de 3 mini laiteries, 5 march&eacute;s a b&eacute;tail et d&rsquo;une piste de 70km dans la zone d&rsquo;intervention du PROGEBE
                            td(style='width: 157px;')
                              p
                                strong PROGEBE
                            td(style='width: 164px;')
                              p
                                strong FAD
                              p (Fonds Africaine de D&eacute;veloppement)
                          tr
                            td(style='width: 32px;')
                              p 3
                            td(style='width: 42px;')
                              p 2010
                            td(style='width: 60px;')
                              p 2013
                            td(style='width: 118px;')
                              p Mali
                            td(style='width: 301px;')
                              p
                                | &Eacute;tudes Techniques, Contr&ocirc;le et la surveillance des Travaux de Construction et de R&eacute;habilitation des B&acirc;timents des Services d&eacute;concentr&eacute;s du MEP et des Infrastructures de l&rsquo;Elevage dans la zone de Kayes pour le compte du PADEPA-KS
                            td(style='width: 157px;')
                              p
                                strong PADEPA-KS
                            td(style='width: 164px;')
                              p
                                strong FAD
                              p (Fonds Africaine de D&eacute;veloppement)
                          tr
                            td(style='width: 32px;')
                              p 4
                            td(style='width: 42px;')
                              p 2008
                            td(style='width: 60px;')
                              p 2010
                            td(style='width: 118px;')
                              p Mali
                            td(style='width: 301px;')
                              p
                                | &Eacute;tudes Architecturales et Techniques (APS, APD, DAO), contr&ocirc;le et suivi des travaux de construction du Lyc&eacute;e de TENENKOU dans la R&eacute;gion de MOPTI en sous traitance avec&nbsp; SETEM - BENIN.
                            td(style='width: 157px;')
                              p
                                strong AGETIPE -MALI
                            td(style='width: 164px;')
                              p Banque Mondiale
                          tr
                            td(style='width: 32px;')
                              p 5
                            td(style='width: 42px;')
                              p 2006
                            td(style='width: 60px;')
                              p 2007
                            td(style='width: 118px;')
                              p Mali
                            td(style='width: 301px;')
                              p
                                | &Eacute;tudes techniques, contr&ocirc;le et surveillance des travaux&nbsp; de r&eacute;alisation de la station FM de KOULIKORO, Gao et Tombouctou.
                            td(style='width: 157px;')
                              p
                                strong Minist&egrave;re de la communication et des nouvelles technologies. (BTESA)
                            td(style='width: 164px;')
                              p Fonds espagnole
                          tr
                            td(style='width: 32px;')
                              p 7
                            td(style='width: 42px;')
                              p 2003
                            td(style='width: 60px;')
                              p 2003
                            td(style='width: 118px;')
                              p Mali
                            td(style='width: 301px;')
                              p
                                | &Eacute;tudes,&nbsp; contr&ocirc;le et surveillance des travaux de construction d&rsquo;Acad&eacute;mies d&rsquo;Enseignement avec h&eacute;bergement dans la localit&eacute; de Kita, Kati,&nbsp; Koutiala San; Douentza, rive droite de Bamako et l&rsquo;Institut de Langues de Bamako.
                            td(style='width: 157px;')
                              p
                                strong AGETIPE -MALI
                            td(style='width: 164px;')
                              p Banque Mondiale
                          tr
                            td(style='width: 32px;')
                              p 8
                            td(style='width: 42px;')
                              p 2003
                            td(style='width: 60px;')
                              p 2003
                            td(style='width: 118px;')
                              p Mali
                            td(style='width: 301px;')
                              p
                                | &Eacute;tudes, contr&ocirc;le et surveillance des travaux d&rsquo;am&eacute;nagement des Agences des Banques de l&rsquo;Habitat du Mali (BHM) &agrave; Mopti.
                            td(style='width: 157px;')
                              p
                                strong BHM
                            td(style='width: 164px;')
                              p
                                strong BHM
                          tr
                            td(style='width: 32px;')
                              p 9
                            td(style='width: 42px;')
                              p 2003
                            td(style='width: 60px;')
                              p 2003
                            td(style='width: 118px;')
                              p Mali
                            td(style='width: 301px;')
                              p
                                | &Eacute;tudes, Suivi et contr&ocirc;le des travaux d&rsquo;am&eacute;nagement des Agences des Banques de l&rsquo;Habitat du Mali (BHM) &agrave; Tombouctou.
                            td(style='width: 157px;')
                              p
                                strong BHM
                            td(style='width: 164px;')
                              p
                                strong BHM
                          tr
                            td(style='width: 32px;')
                              p 10
                            td(style='width: 42px;')
                              p 2003
                            td(style='width: 60px;')
                              p 2003
                            td(style='width: 118px;')
                              p Mali
                            td(style='width: 301px;')
                              p
                                | &Eacute;tudes et suivi d&rsquo;ex&eacute;cution de projet de construction d&rsquo;un Centre de Sant&eacute; Communautaire de Songo dans la Commune rurale de Doucombo Cercle de Bandiangara R&eacute;gion de Mopti.
                            td(style='width: 157px;')
                              p
                                strong PAIB/AFAR
                            td(style='width: 164px;')
                              p Banque Mondiale
                          tr
                            td(style='width: 32px;')
                              p 11
                            td(style='width: 42px;')
                              p 2002
                            td(style='width: 60px;')
                              p 2004
                            td(style='width: 118px;')
                              p Mali
                            td(style='width: 301px;')
                              p
                                | &Eacute;tudes et Suivi du projet de construction neuve d&rsquo;une salle de conf&eacute;rence de 50 places au si&egrave;ge de l&rsquo;assembl&eacute;e r&eacute;gionale de Koulikoro
                            td(style='width: 157px;')
                              p
                                strong Assembl&eacute;e r&eacute;gionale de Koulikoro
                            td(style='width: 164px;')
                              p Budget National
                          tr
                            td(style='width: 32px;')
                              p 12
                            td(style='width: 42px;')
                              p 2002
                            td(style='width: 60px;')
                              p 2002
                            td(style='width: 118px;')
                              p Mali
                            td(style='width: 301px;')
                              p
                                | &Eacute;tudes et suivi d&rsquo;ex&eacute;cution de projet de construction de 8 blocs de 3 salles de classes, 8 blocs de direction magasin, 8 blocs Latrines dans la r&eacute;gion de Kayes.
                            td(style='width: 157px;')
                              p
                                strong AGETIPE -MALI
                            td(style='width: 164px;')
                              p Budget National
                          tr
                            td(style='width: 32px;')
                              p 13
                            td(style='width: 42px;')
                              p 2002
                            td(style='width: 60px;')
                              p 2002
                            td(style='width: 118px;')
                              p Mali
                            td(style='width: 301px;')
                              p
                                | &Eacute;tudes et suivi des travaux&nbsp; de&nbsp; r&eacute;habilitation de la direction du lyc&eacute;e Dow&eacute;l&eacute; Marico de Dioila.
                            td(style='width: 157px;')
                              p
                                strong Assembl&eacute;e r&eacute;gionale de Koulikoro
                            td(style='width: 164px;')
                              p Budget National
                          tr
                            td(style='width: 32px;')
                              p 14
                            td(style='width: 42px;')
                              p 2002
                            td(style='width: 60px;')
                              p 2002
                            td(style='width: 118px;')
                              p Mali
                            td(style='width: 301px;')
                              p
                                | &Eacute;tudes et suivi d&rsquo;ex&eacute;cution de projet de construction de 12 salles de classe 4 Bureaux magasins et 4 blocs de 3Latrines &agrave; M&egrave;n&egrave;-M&egrave;n&egrave;, Dantiand&eacute;, Toup&eacute;r&eacute; et Indell dans la Commune deWadouba, Kend&eacute; et Ondougou Cercle de Bandiangara R&eacute;gion de Mopti
                            td(style='width: 157px;')
                              p
                                strong PAIB/AFAR
                            td(style='width: 164px;')
                              p Banque Mondiale
                          tr
                            td(style='width: 32px;')
                              p 15
                            td(style='width: 42px;')
                              p 2002
                            td(style='width: 60px;')
                              p 2002
                            td(style='width: 118px;')
                              p Mali
                            td(style='width: 301px;')
                              p
                                | &Eacute;tudes et suivi d&rsquo;ex&eacute;cution de projet de construction d&rsquo;un Centre de Sant&eacute; Communautaire de Ondougouda dans la Commune de Ondougou Cercle de Bandiangara R&eacute;gion de Mopti.
                            td(style='width: 157px;')
                              p
                                strong PAIB
                            td(style='width: 164px;')
                              p Banque Mondiale
                          tr
                            td(style='width: 32px;')
                              p 16
                            td(style='width: 42px;')
                              p 2001
                            td(style='width: 60px;')
                              p 2002
                            td(style='width: 118px;')
                              p Mali
                            td(style='width: 301px;')
                              p
                                | &Eacute;tudes techniques et contr&ocirc;le (supervision) des travaux du projet de la cl&ocirc;ture et bureau des passeports de la direction g&eacute;n&eacute;ral de la police, le commissariat du 2eme arrondissement de S&eacute;gou, la cl&ocirc;ture de commissariat de kaye-ndi &agrave;&nbsp; Kayes, le r&eacute;am&eacute;nagement du commissariat du 11&egrave;me arrondissement de Bamako en sous traitance avec le Cabinet d&rsquo;Architecture la GUEPE
                            td(style='width: 157px;')
                              p
                                strong GUEPE/BMCD
                            td(style='width: 164px;')
                              p FOND PROPRE
                          tr
                            td(style='width: 32px;')
                              p 17
                            td(style='width: 42px;')
                              p 2000
                            td(style='width: 60px;')
                              p 2001
                            td(style='width: 118px;')
                              p Mali
                            td(style='width: 301px;')
                              p
                                | &Eacute;tudes techniques et contr&ocirc;le (supervision) des travaux du projet de construction de l&rsquo;h&ocirc;tel ROYAL sise &agrave; Faladi&eacute; Bamako&nbsp; en sous traitance avec le Cabinet d&rsquo;Architecture la GUEPE.
                            td(style='width: 157px;')
                              p
                                strong GUEPE/BMCD
                            td(style='width: 164px;')
                              p FOND PROPRE
                          tr
                            td(style='width: 32px;')
                              p 18
                            td(style='width: 42px;')
                              p 2000
                            td(style='width: 60px;')
                              p 2001
                            td(style='width: 118px;')
                              p Mali
                            td(style='width: 301px;')
                              p
                                | &Eacute;tudes techniques et contr&ocirc;le (supervision) des travaux du projet de construction des palais de justice de Mopti, Sikasso et Koutiala&nbsp; en sous traitance avec le Cabinet d&rsquo;Architecture la GUEPE
                            td(style='width: 157px;')
                              p
                                strong GUEPE/BMCD
                            td(style='width: 164px;')
                              p FOND PROPRE
                          tr
                            td(style='width: 32px;')
                              p 19
                            td(style='width: 42px;')
                              p 2000
                            td(style='width: 60px;')
                              p 2000
                            td(style='width: 118px;')
                              p Mali
                            td(style='width: 301px;')
                              p
                                | &Eacute;tudes et suivi d&rsquo;ex&eacute;cution de projet de construction de 14 blocs de 3 salles de classes, 14 blocs de direction magasin, 14 blocs Latrines &agrave; travers les r&eacute;gions de Kayes et Koulikoro
                            td(style='width: 157px;')
                              p
                                strong AGETIPE -MALI
                            td(style='width: 164px;')
                              p Budget National
                          tr
                            td(style='width: 32px;')
                              p 19
                            td(style='width: 42px;')
                              p 2000
                            td(style='width: 60px;')
                              p 2000
                            td(style='width: 118px;')
                              p Mali
                            td(style='width: 301px;')
                              p
                                | &Eacute;tudes et suivi d&rsquo;ex&eacute;cution de projet de construction de&nbsp; 9 Salles de classes en pierres taill&eacute;e&nbsp; &agrave; FIKO, PIGNA, BOUI dans le cercle de Bandiagara/ ex-arrondissement de Goundaka r&eacute;gion de Mopti
                            td(style='width: 157px;')
                              p
                                strong PAIB
                            td(style='width: 164px;')
                              p Banque Mondiale
                          tr
                            td(style='width: 32px;')
                              p 20
                            td(style='width: 42px;')
                              p 1999
                            td(style='width: 60px;')
                              p 1999
                            td(style='width: 118px;')
                              p Mali
                            td(style='width: 301px;')
                              p
                                | &Eacute;tudes et Suivi de l&rsquo;extension de l&rsquo;Agence BMCD de S&eacute;gou en sous traitance avec le Cabinet d&rsquo;Architecture la GUEPE
                            td(style='width: 157px;')
                              p GUEPE/BMCD
                            td(style='width: 164px;')
                              p FOND PROPRE
                          // fin NOS REFERENCES En Bâtiments et infrastructures diverses