extends layout

block content
  .clearfix
    .gsc-tab-views.style-1
      .clearfix.text-center
       div
       ul.nav.nav-tabs
          h2.title
            span(style="text-transform:uppercase") Nos références
          ol
           li
             a(href="/index") Acceuil&nbsp
           span /
           li 
           li 
            | &nbspRéférences
             
  
          
