extends layout

block content
  br
  .clearfix
    .gsc-tab-views.style-1
      .clearfix.text-center
       div
       ul.nav.nav-tabs
          h2.title
            span(style="text-transform:uppercase") NOS RÉFÉRENCES - En Barrage
          ol
           li
             a(href="/reference-amenagement-hydro-agricole") Aménagement Hydro Agricole&nbsp
           span -&nbsp
           li
             a(href="/reference-projet-integre") Projet Integré&nbsp
           span -&nbsp
           li
             a(href="/reference-batiments-infrastructures") Bâtiments et infrastructures&nbsp
           span -&nbsp
           li
             a(href="/reference-alimentation-en-eau-potable-et-pastorale") Alimentation eau potable&nbsp
           span -&nbsp
           li
             a(href="/reference-routes-bitumees") Routes Bitumées&nbsp
           span -&nbsp
           li
             a(href="/reference-piste-rurale-amelioree") Piste Rurale et Améliorée&nbsp
           span &nbsp

           
    .page-header
     
     div#table
              table.row-wrapper.clearfix
                        thead
                          tr
                            td(style='background-color: #1d85a7; width: 78px;', colspan='2')
                              p
                                span(style='color: #ffffff;')
                                  strong Date début
                            td(style='background-color: #1d85a7; width: 60px;')
                              p
                                span(style='color: #ffffff;')
                                  strong Date fin
                            td(style='background-color: #1d85a7; width: 115px;')
                              p
                                span(style='color: #ffffff;')
                                  strong Pays
                            td(style='background-color: #1d85a7; width: 307px;')
                              p
                                span(style='color: #ffffff;')
                                  strong Mission
                            td(style='background-color: #1d85a7; width: 157px;')
                              p
                                span(style='color: #ffffff;')
                                  strong Client
                            td(style='background-color: #1d85a7; width: 175px;')
                              p
                                span(style='color: #ffffff;')
                                  strong Financement
                        tbody
                          tr
                            td(style='width: 28px;')
                              p 1
                            td(style='width: 50px;')
                              p 2015
                            td(style='width: 60px;')
                              p 2015
                            td(style='width: 115px;')
                              p Mali
                            td(style='width: 307px;')
                              p
                                | contrôle et la surveillance des travaux de réhabilitation de huit (08) Micro -Barrages dans la région de Kayes, dans le cadre du projet Irrigation de Proximité du PAPAM
                            td(style='width: 157px;')
                              p
                                strong AGETIER-Mali
                            td(style='width: 175px;')
                              p FIDA
                          tr
                            td(style='width: 28px;')
                              p 2
                            td(style='width: 50px;')
                              p 2015
                            td(style='width: 60px;')
                              p 2015
                            td(style='width: 115px;')
                              p Mali
                            td(style='width: 307px;')
                              p
                                | Contrôle et surveillance des Travaux d'aménagement de la plaine de Kadjila et du bas fond (barrage) de Molasso,cercle et région de Sikasso
                            td(style='width: 157px;')
                              p
                                strong Ministère du Développement Rural
                            td(style='width: 175px;')
                              p UE et la Coopération Allemand
                          tr
                            td(style='width: 28px;')
                              p 3
                            td(style='width: 50px;')
                              p 2012
                            td(style='width: 60px;')
                              p 2013
                            td(style='width: 115px;')
                              p Burkina Faso
                            td(style='width: 307px;')
                              p
                                | ETUDE DÉACTUALISATION, SUIVI ET CONTRÔLE DES TRAVAUX DE CONSTRUCTION DU BARRAGE DE WABESSAN, PROVINCE DE SISSILI, REGION DU CENTRE OUEST
                            td(style='width: 157px;')
                              p
                                strong AGETEER
                            td(style='width: 175px;')
                              p Budget de l'État gestion 2012 Burkina
                          tr
                            td(style='width: 28px;')
                              p 4
                            td(style='width: 50px;')
                              p 2012
                            td(style='width: 60px;')
                              p 2013
                            td(style='width: 115px;')
                              p Burkina Faso
                            td(style='width: 307px;')
                              p
                                | ETUDE D'ACTUALISATION, SUIVI, CONTRÔLE DES TRAVAUX DE CONSTRUCTION DU BARRAGE DE SARRE COMMUNE DE KOMBISSIRI, PROVINCE DU BAZEGA, REGION DU CENTRE SUD
                            td(style='width: 157px;')
                              p
                                strong AGETEER
                            td(style='width: 175px;')
                              p Budget de l'état gestion 2012 Burkina
                          tr
                            td(style='width: 28px;')
                              p 5
                            td(style='width: 50px;')
                              p 2010
                            td(style='width: 60px;')
                              p 2010
                            td(style='width: 115px;')
                              p Mali
                            td(style='width: 307px;')
                              p
                                | Études techniques de préfaisabilité de la microcentrale de BILY dans la région de Kayes.
                            td(style='width: 157px;')
                              p
                                strong Ministère de l'énergie, des mines et de l'eau
                            td(style='width: 175px;')
                              p banque mondiale (IDA)
                          tr
                            td(style='width: 28px;')
                              p 6
                            td(style='width: 50px;')
                              p 2008
                            td(style='width: 60px;')
                              p 2008
                            td(style='width: 115px;')
                              p Mali
                            td(style='width: 307px;')
                              p
                                | Études techniques de faisabilité de la microcentrale hydro électrique de Faroko1 dans la région de Sikasso.
                            td(style='width: 157px;')
                              p
                                strong Ministère de l'énergie, des mines et de l'eau
                            td(style='width: 175px;')
                              p Budget National
                              p 2008