extends layout

block content
  br
  .clearfix
    .gsc-tab-views.style-1
      .clearfix.text-center
       div
       ul.nav.nav-tabs
          h2.title
            span(style="text-transform:uppercase") NOS RÉFÉRENCES - En Alimentation en eau Potable et Pastorale
          ol
           strong
           li
             a(href="/reference-amenagement-hydro-agricole") Aménagement Hydro Agricole&nbsp
           span -&nbsp
           li
             a(href="/reference-projet-integre") Projet Integré&nbsp
           span -&nbsp
           li
             a(href="/reference-batiments-infrastructures") Bâtiments et infrastructures&nbsp
           span -&nbsp
           li
             a(href="/reference-barrage") Barrage&nbsp
           span -&nbsp
           li
             a(href="/reference-routes-bitumees") Routes Bitumées&nbsp
           span -&nbsp
           li
             a(href="/reference-piste-rurale-amelioree") Piste Rurale et Améliorée&nbsp
           span &nbsp
    br
    div(itemprop='articleBody')
    table.row-wrapper.clearfix(style='width: 921px;')
              thead
                tr
                  td(style='background-color: #1d85a7; width: 78px;', colspan='2')
                    p
                      span(style='color: #ffffff;')
                        strong Date d&eacute;but
                  td(style='background-color: #1d85a7; width: 60px;')
                    p
                      span(style='color: #ffffff;')
                        strong Date fin
                  td(style='background-color: #1d85a7; width: 124px;')
                    p
                      span(style='color: #ffffff;')
                        strong Pays
                  td(style='background-color: #1d85a7; width: 307px;')
                    p
                      span(style='color: #ffffff;')
                        strong Mission
                  td(style='background-color: #1d85a7; width: 157px;')
                    p
                      span(style='color: #ffffff;')
                        strong Client
                  td(style='background-color: #1d85a7; width: 175px;')
                    p
                      span(style='color: #ffffff;')
                        strong Financement
                        tbody
                      tr
                        td(width='32')
                          p 1
                        td(width='55')
                          p 2017
                        td(width='45')
                          p &nbsp;
                        td(width='76')
                          p S&eacute;n&eacute;gal
                        td(width='435')
                          p
                            | &Eacute;tudes APD / DAO et le Suivi des Travaux de Construction de 8 Forages et la R&eacute;habilitation de 2 Forages dans les R&eacute;gion de Saint-Louis, Matam et Louga.
                        td(width='166')
                          p
                            strong PRAPS / MEPA
                        td(width='123')
                          p Banque Mondiale
                      tr
                        td(width='32')
                          p 2
                        td(width='55')
                          p 2017
                        td(width='45')
                          p 2018
                        td(width='76')
                          p Mali
                        td(width='435')
                          p
                            | &Eacute;tudes et contr&ocirc;le des travaux de construction&nbsp; de&nbsp; 58 PMH, de 04 AES et de r&eacute;habilitation de 02 PMH&nbsp;&nbsp; dans la r&eacute;gion de S&eacute;gou, cercle de Niono
                        td(width='166')
                          p
                            strong PRRE/AGETIER-MALI
                        td(width='123')
                          p Banque Mondiale
                      tr
                        td(width='32')
                          p 3
                        td(width='55')
                          p 2017
                        td(width='45')
                          p 2017
                        td(width='76')
                          p Mali
                        td(width='435')
                          p
                            | &Eacute;tudes d&rsquo;Avant-Projet Sommaire (APS) et d&rsquo;Avant-Projet D&eacute;taille (APD) et d&rsquo;&eacute;laboration du Dossier d&rsquo;Appel d&rsquo;Offres (DAO) des Travaux relatifs &agrave; la r&eacute;alisation des pistes (160km), 12 ouvrages de franchissement, 3 adductions d&rsquo;eau potable et 27 SHVA dans le&nbsp;&nbsp; KAARTA/SEFETO- cercle de Kita- r&eacute;gion de Kayes&nbsp;: Phase I.
                        td(width='166')
                          p
                            strong ADRS
                        td(width='123')
                          p
                            strong Budget National
                      tr
                        td(width='32')
                          p 4
                        td(width='55')
                          p 2016
                        td(width='45')
                          p &nbsp;
                        td(width='76')
                          p S&eacute;n&eacute;gal
                        td(width='435')
                          p
                            | Etudes compl&eacute;mentaires et supervision des travaux d&rsquo;hydraulique dans les r&eacute;gions de Matam, Tambacounda, K&eacute;dougou et Kolda /&nbsp; March&eacute; N&deg;&nbsp;: C3022/16-DK&nbsp;; Contrat de Maitrise d&rsquo;&oelig;uvre; ; N&deg;&nbsp;: M2-C1BR-001/2014 / M&eacute;moire Technique Principal
                        td(width='166')
                          p
                            strong AGETIP SENEGAL
                        td(width='123')
                          p BID/UEMOA
                      tr
                        td(width='32')
                          p 5
                        td(width='55')
                          p 2015
                        td(width='45')
                          p 2015
                        td(width='76')
                          p Mali
                        td(width='435')
                          p
                            | Contr&ocirc;le et surveillance les travaux de r&eacute;habilitation de 23 mini r&eacute;seaux d&rsquo;AEP et d&rsquo;AES (adduction d&rsquo;eau potable, adduction d&rsquo;eau sommaire) dans les r&eacute;gions de S&eacute;gou, Mopti, Tombouctou, Gao et Kidal.
                        td(width='166')
                          p
                            strong UNICEF
                        td(width='123')
                          p
                            strong UNICEF
                      tr
                        td(width='32')
                          p 6
                        td(width='55')
                          p 2014
                        td(width='45')
                          p 2015
                        td(width='76')
                          p Mali
                        td(width='435')
                          p
                            | les &eacute;tudes techniques, le contr&ocirc;le et la surveillance des&nbsp; travaux du Projet d&rsquo;Am&eacute;lioration du Cadre de Vie dans certains Quartiers des Communes II, III, IV, V et VI.
                        td(width='166')
                          p
                            strong AGETIPE- MALI
                        td(width='123')
                          p Budget National
                          p &nbsp;
                      tr
                        td(width='32')
                          p 7
                        td(width='55')
                          p 2012
                        td(width='45')
                          p 2016
                        td(width='76')
                          p Togo
                        td(width='435')
                          p
                            | &Eacute;tudes, le contr&ocirc;le et la surveillance des travaux du Projet de d&eacute;veloppement rural int&eacute;gr&eacute; de la Plaine de M&ocirc; (PDRI-M&ocirc;) (61 forages positifs et 5 adductions d&rsquo;eau sommaire)
                        td(width='166')
                          p
                            strong
                              | MINISTERE DELEGUE AUPRES DU MINISTRE DE L&rsquo;AGRICULTURE, DE L&rsquo;ELEVAGE ET DE LA&nbsp; PECHE, CHARGE DES INFRASTRUCTURES RURALES
                        td(width='123')
                          p Budget de l&rsquo;&Eacute;tat Togolaise sur accord de pr&ecirc;t de la BOAD
                      tr
                        td(width='32')
                          p 8
                        td(width='55')
                          p 2012
                        td(width='45')
                          p 2012
                        td(width='76')
                          p Burkina Faso
                        td(width='435')
                          p
                            | Maitrise d&rsquo;&oelig;uvre technique de r&eacute;habilitation de deux cents (200) Forages dans la r&eacute;gion de la Boucle du Mouhoun (Lot 1).
                        td(width='166')
                          p
                            strong AGETEER
                        td(width='123')
                          p Budget de l&rsquo;&Eacute;tat gestion 2012 Burkina
                      tr
                        td(width='32')
                          p 9
                        td(width='55')
                          p 2011
                        td(width='45')
                          p 2013
                        td(width='76')
                          p Mali
                        td(width='435')
                          p
                            | &Eacute;tudes, implantations et contr&ocirc;le des travaux de r&eacute;alisation de&nbsp; forages positifs, &eacute;quip&eacute;s de PMH, de SHVA, d&rsquo;AES et de puits citernes, de construction de puits modernes dans r&eacute;gion de Koulikoro.
                        td(width='166')
                          p
                            strong Minist&egrave;re de l&rsquo;&Eacute;nergie et de l&rsquo;Eau
                        td(width='123')
                          p
                            strong FAD 
                          p (Fonds Africaine de D&eacute;veloppement)
                      tr
                        td(width='32')
                          p 10
                        td(width='55')
                          p 2011
                        td(width='45')
                          p 2012
                        td(width='76')
                          p Mali
                        td(width='435')
                          p
                            | &Eacute;tudes et Contr&ocirc;le des travaux de r&eacute;alisation de trois(3) Puits a grand Diam&egrave;tre dans les villages d&rsquo;Ama, Oualam et Dendya et de deux (02) Puits Citernes dans les villages de Koumbena et de Bounty &ndash; Cercle de Douentza &ndash; R&eacute;gion de Mopti
                        td(width='166')
                          p
                            strong CRS
                        td(width='123')
                          p USAID/ office food for peace
                      tr
                        td(width='32')
                          p 11
                        td(width='55')
                          p 2011
                        td(width='45')
                          p 2012
                        td(width='76')
                          p Mali
                        td(width='435')
                          p
                            | &Eacute;tudes techniques Contr&ocirc;le et supervision des travaux d&rsquo;adduction d&rsquo;eau des sites des logements sociaux de la r&eacute;gion de Sikasso (Bougouni et Koutiala) lot N&deg;03
                        td(width='166')
                          p
                            strong Minist&egrave;re de l&rsquo;Urbanisme et de l&rsquo;Habitat
                        td(width='123')
                          p Budget National
                          p Exercice 2011-2012 CF: 740
                      tr
                        td(width='32')
                          p 12
                        td(width='55')
                          p 2010
                        td(width='45')
                          p 2016
                        td(width='76')
                          p Mali
                        td(width='435')
                          p
                            | &Eacute;tudes techniques d&rsquo;ex&eacute;cution d&rsquo;approvisionnement en eau potable et d&rsquo;assainissement dans les r&eacute;gions de GAO, KOUILKORO et de SEGOU.
                          p
                            | Interm&eacute;diation sociale dans la r&eacute;gion de S&eacute;gou, cercles de S&eacute;gou et de Baraoueli.
                        td(width='166')
                          p
                            strong MINISTERE DE L&rsquo;ENERGIE ET DE L&rsquo;EAU
                        td(width='123')
                          p
                            strong FAD 
                          p (Fonds Africaine de D&eacute;veloppement)
                      tr
                        td(width='32')
                          p 13
                        td(width='55')
                          p 2009
                        td(width='45')
                          p 2011
                        td(width='76')
                          p S&eacute;n&eacute;gal
                        td(width='435')
                          p
                            | &Eacute;tudes techniques d&rsquo;ex&eacute;cution contr&ocirc;le et surveillance des travaux de r&eacute;alisation de 150 forages MFT &eacute;quip&eacute;s de Pompes a Motricit&eacute; Humaine dans les R&eacute;gions de MATAM, TAMBACOUNDA et KEDOUGOU dans l&rsquo;espace UEMOA
                        td(width='166')
                          p
                            strong AGETIP SENEGAL
                        td(width='123')
                          p
                            strong UEMOA
                      tr
                        td(width='32')
                          p 14
                        td(width='55')
                          p 2009
                        td(width='45')
                          p 2011
                        td(width='76')
                          p Benin
                        td(width='435')
                          p
                            | &Eacute;tudes de faisabilit&eacute; de 25 Adduction d&rsquo;Eau Villageoises (AEV) &agrave; partir des forages dans le d&eacute;partement de l&rsquo;Atlantique, dans le cadre du programme d&rsquo;Alimentation en Eau Potable (AEP) et de l&rsquo;Assainissement en milieu rural (PAEPA) sur le financement de la BAD.
                        td(width='166')
                          p
                            strong MINISTERE DE L&rsquo;ENERGIE ET DE L&rsquo;EAU au BENIN
                        td(width='123')
                          p
                            strong FAD 
                          p (Fonds Africaine de D&eacute;veloppement)
                      tr
                        td(width='32')
                          p 15
                        td(width='55')
                          p 2007
                        td(width='45')
                          p 2011
                        td(width='76')
                          p Mali
                        td(width='435')
                          p
                            | &Eacute;tudes techniques d&rsquo;ex&eacute;cution (Implantation g&eacute;ophysique de forage) et contr&ocirc;le des travaux de r&eacute;alisation de 25 forages, 40 puits villageois, 25 puits citernes et 10 AEP solaires pour le compte du Projet d&rsquo;Appui au D&eacute;veloppement de l&rsquo;&Eacute;levage au Nord-Est du Mali (PADENEM - Phase II) Gao
                        td(width='166')
                          p
                            strong PADENEM
                        td(width='123')
                          p
                            strong FAD 
                          p (Fonds Africaine de D&eacute;veloppement)
                      tr
                        td(width='32')
                          p 16
                        td(width='55')
                          p 2006
                        td(width='45')
                          p 2007
                        td(width='76')
                          p Mali
                        td(width='435')
                          p
                            | &Eacute;tudes techniques et contr&ocirc;les des travaux de l&rsquo;adduction d&rsquo;eau des sites de 120 logements sociaux tranche 2006 &agrave; Sikasso.
                        td(width='166')
                          p
                            strong Minist&egrave;re de l&rsquo;habitat et de l&rsquo;urbanisme
                        td(width='123')
                          p Budget National
                          p Exercice 2006-2007
                      tr
                        td(width='32')
                          p 17
                        td(width='55')
                          p 2006
                        td(width='45')
                          p 2007
                        td(width='76')
                          p Mali
                        td(width='435')
                          p
                            | &Eacute;tudes techniques et contr&ocirc;les des travaux de l&rsquo;adduction d&rsquo;eau des sites de 30 logements sociaux tranchent 2006 &agrave; Koutiala.
                        td(width='166')
                          p
                            strong Minist&egrave;re de l&rsquo;habitat et de l&rsquo;urbanisme
                        td(width='123')
                          p Budget National
                          p Exercice 2006-2007
                    // fin Références En Alimentation en Eau Potable et Pastorale
