extends layout

block content
  br
  .clearfix
    .gsc-tab-views.style-1
      .clearfix.text-center
       div
       ul.nav.nav-tabs
          h2.title
            span(style="text-transform:uppercase") NOS RÉFÉRENCES - en Routes Bitumées
          ol
           li
             a(href="/reference-alimentation-en-eau-potable-et-pastorale") Alimentation eau potable et Pastorale&nbsp
           span -&nbsp
           li
             a(href="/reference-piste-rurale-amelioree") Piste rurale et améliorée&nbsp
           span -&nbsp
           li
             a(href="/reference-amenagement-hydro-agricole") Aménagement Hydro Agricole&nbsp
           span -&nbsp
           li
             a(href="/reference-barrage") Barrage&nbsp
           span -&nbsp
           li
             a(href="/reference-projet-integre") Projet Integré&nbsp
           span -&nbsp
           li
             a(href="/reference-batiments-infrastructures") Bâtiments Infrastructures&nbsp
           span &nbsp
    br
    table.row-wrapper.clearfix(style='width: 921px;')
      thead
        tr
          td(style='background-color: #1d85a7; width: 78px;', colspan='2')
            p
              span(style='color: #ffffff;')
                strong Date d&eacute;but
          td(style='background-color: #1d85a7; width: 60px;')
            p
              span(style='color: #ffffff;')
                strong Date fin
          td(style='background-color: #1d85a7; width: 124px;')
            p
              span(style='color: #ffffff;')
                strong Pays
          td(style='background-color: #1d85a7; width: 307px;')
            p
              span(style='color: #ffffff;')
                strong Mission
          td(style='background-color: #1d85a7; width: 157px;')
            p
              span(style='color: #ffffff;')
                strong Client
          td(style='background-color: #1d85a7; width: 175px;')
            p
              span(style='color: #ffffff;')
                strong Financement
                tbody
                  tr
                    td(style='width: 30px;')
                      p 1
                    td(style='width: 54px;')
                      p 2017
                    td(style='width: 45px;')
                      p En cours
                    td(style='width: 87px;')
                      p Mali
                    td(style='width: 385px;')
                      p
                        | Etudes techniques d&rsquo;Avant Projet Sommaire (APS) et d&rsquo;Avant Projet D&eacute;taill&eacute; (APD) des travaux d&rsquo;am&eacute;nagement du grand contournement de Bamako&nbsp;: liaison RN3 (Nosombougou)-Dabani-Safo-RN27-3&egrave;me Pont de Bamako-RN6-Sirakoro M&eacute;gu&eacute;tana-RN7 et la bretelle Banconi-Dialakorodji-Safo, d&rsquo;une longueur totale de 90 Km environ
                    td(style='width: 161px;')
                      p
                        strong Minist&egrave;re de l&rsquo;&Eacute;quipement des Transports et du D&eacute;senclavement 
                    td(style='width: 119px;')
                      p Budget National
                      p (BN) 100%
                  tr
                    td(style='width: 30px;')
                      p 2
                    td(style='width: 54px;')
                      p 2016
                    td(style='width: 45px;')
                      p En cours
                    td(style='width: 87px;')
                      p Mali
                    td(style='width: 385px;')
                      p
                        | Contr&ocirc;le et surveillance&nbsp; des travaux d&apos;Am&eacute;nagements en 2x2 voies de la route Bamako-Koulikoro (sur 45 Km)
                    td(style='width: 161px;')
                      p
                        strong Minist&egrave;re de l&rsquo;&Eacute;quipement des Transports et du D&eacute;senclavement
                    td(style='width: 119px;')
                      p BOAD&nbsp;:&nbsp; 77.62%
                      p Budget National
                      p (BN)&nbsp;: 22.38%
                  tr
                    td(style='width: 30px;')
                      p 6
                    td(style='width: 54px;')
                      p 2016
                    td(style='width: 45px;')
                      p 2016
                    td(style='width: 87px;')
                      p Mali
                    td(style='width: 385px;')
                      p
                        | Contr&ocirc;le et la surveillance des travaux d&rsquo;am&eacute;nagement de la section urbaine de la route Banamba-Touba
                    td(style='width: 161px;')
                      p
                        strong Minist&egrave;re des transports et des infrastructures routi&egrave;res.
                    td(style='width: 119px;')
                      p Budget National
                      p (BN) 100%
                  tr
                    td(style='width: 30px;')
                      p 3
                    td(style='width: 54px;')
                      p 2015
                    td(style='width: 45px;')
                      p 2016
                    td(style='width: 87px;')
                      p Mali
                    td(style='width: 385px;')
                      p
                        | Contr&ocirc;le et surveillance&nbsp; des travaux d&apos;Am&eacute;nagements&nbsp; des voies urbaines et ouvrages de drainage en commune II du District de Bamako
                    td(style='width: 161px;')
                      p
                        strong Mairie du District de Bamako
                    td(style='width: 119px;')
                      p AFD
                  tr
                    td(style='width: 30px;')
                      p 4
                    td(style='width: 54px;')
                      p 2014
                    td(style='width: 45px;')
                      p 2014
                    td(style='width: 87px;')
                      p Mali
                    td(style='width: 385px;')
                      p
                        | &Eacute;TUDES TECHNIQUES D&rsquo;APD AINSI QUE LE CONTROLE ET LA SURVEILLANCE DES TRAVAUX D&rsquo;AM&Eacute;NAGEMENT DE LA VOIE D&rsquo;ACC&Egrave;S AUX USINES DE LA CMDT &Agrave; SIKASSO
                    td(style='width: 161px;')
                      p
                        strong Compagnie Malienne pour le D&eacute;veloppement des Textiles (CMDT)
                    td(style='width: 119px;')
                      p CMDT
                  tr
                    td(style='width: 30px;')
                      p 5
                    td(style='width: 54px;')
                      p 2013
                    td(style='width: 45px;')
                      p 2014
                    td(style='width: 87px;')
                      p Mali
                    td(style='width: 385px;')
                      p
                        | Prestation de services pour les &Eacute;tudes d&rsquo;Avant-Projet D&eacute;taill&eacute; (APD) et production de Dossier d&rsquo;Appel d&rsquo;Offre (DAO) des Travaux d&rsquo;Am&eacute;nagement de Voies Urbaines et Ouvrages de Drainage en Commune II de District de Bamako
                    td(style='width: 161px;')
                      p
                        strong Mairie du District de Bamako
                    td(style='width: 119px;')
                      p AFD
                  tr
                    td(style='width: 30px;')
                      p 6
                    td(style='width: 54px;')
                      p 2012
                    td(style='width: 45px;')
                      p 2014
                    td(style='width: 87px;')
                      p Mali
                    td(style='width: 385px;')
                      p
                        | Contr&ocirc;le et surveillance des travaux de construction et de bitumage de la route Banamba (Liaison RN27-Touba) 13,530 km
                    td(style='width: 161px;')
                      p
                        strong Minist&egrave;re des transports et des infrastructures routi&egrave;res.
                    td(style='width: 119px;')
                      p Budget National
                      p (BN) 100%
                  tr
                    td(style='width: 30px;')
                      p 7
                    td(style='width: 54px;')
                      p 2011
                    td(style='width: 45px;')
                      p 2012
                    td(style='width: 87px;')
                      p Mali
                    td(style='width: 385px;')
                      p
                        | &Eacute;tudes techniques Contr&ocirc;le et supervision des travaux de viabilisations de voirie et de drainage des eaux pluviales des sites des logements sociaux de la r&eacute;gion de Sikasso (Bougouni et Koutiala) lot N&deg;03
                    td(style='width: 161px;')
                      p
                        strong Minist&egrave;re de l&rsquo;Urbanisme et de l&rsquo;Habitat
                    td(style='width: 119px;')
                      p Budget National
                      p Exercice 2011-2012 CF: 740
                  tr
                    td(style='width: 30px;')
                      p 8
                    td(style='width: 54px;')
                      p 2009
                    td(style='width: 45px;')
                      p 2009
                    td(style='width: 87px;')
                      p Mali
                    td(style='width: 385px;')
                      p
                        | &Eacute;tudes d&rsquo;avant-projet d&eacute;taill&eacute; (APD) avec production du dossier d&rsquo;appel d&rsquo;offre (DAO) des travaux de construction des voies reliant le troisi&egrave;me pont de Bamako &agrave; la RN6 (route de S&eacute;gou) et &agrave; la RN27 (Route de Koulikoro).
                    td(style='width: 161px;')
                      p
                        strong Minist&egrave;re de l&rsquo;&Eacute;quipement et des Transports.
                    td(style='width: 119px;')
                      p Budget National
                      p Exercice 2009
                  tr
                    td(style='width: 30px;')
                      p 9
                    td(style='width: 54px;')
                      p 2006
                    td(style='width: 45px;')
                      p 2007
                    td(style='width: 87px;')
                      p Mali
                    td(style='width: 385px;')
                      p
                        | &Eacute;tudes techniques Contr&ocirc;le et supervision des travaux de viabilisations de voirie et de drainage des eaux pluviales et us&eacute;es des logements sociaux de Sikasso et Koutiala
                    td(style='width: 161px;')
                      p
                        strong Minist&egrave;re de l&rsquo;Urbanisme et de l&rsquo;Habitat.
                    td(style='width: 119px;')
                      p Budget National
                      p Exercice 2006-2007 &amp; OMH
                  tr
                    td(style='width: 30px;')
                      p 10
                    td(style='width: 54px;')
                      p 2006
                    td(style='width: 45px;')
                      p 2007
                    td(style='width: 87px;')
                      p Mali
                    td(style='width: 385px;')
                      p
                        | Les &eacute;tudes et la Surveillance des travaux d&rsquo;entretien courant et de bitumage&nbsp; des routes de la r&eacute;gion de S&eacute;gou 2i&egrave;me&nbsp; semestres 2006 au profit de la Direction R&eacute;gionale des Routes de S&eacute;gou.
                    td(style='width: 161px;')
                      p
                        strong AGEROUTE-Mali
                    td(style='width: 119px;')
                      p Autorit&eacute; Routi&egrave;re
                  tr
                    td(style='width: 30px;')
                      p 11
                    td(style='width: 54px;')
                      p 2005
                    td(style='width: 45px;')
                      p 2006
                    td(style='width: 87px;')
                      p Mali
                    td(style='width: 385px;')
                      p
                        | &Eacute;tudes techniques, Contr&ocirc;le et surveillance des travaux d&rsquo;assainissement et de pavage de la rue 466 du Badialan I en commune III du District de Bamako
                    td(style='width: 161px;')
                      p
                        strong APEJ-Mali
                    td(style='width: 119px;')
                      p APEJ
                  tr
                    td(style='width: 30px;')
                      p 12
                    td(style='width: 54px;')
                      p 2005
                    td(style='width: 45px;')
                      p 2005
                    td(style='width: 87px;')
                      p Mali
                    td(style='width: 385px;')
                      p
                        | &Eacute;tudes techniques et suivi des travaux de drainage et d&rsquo;am&eacute;nagement de la rue 527 de Bagadadji&nbsp; en commune II du District de Bamako de la promenade des Angevins &agrave; la rue Mardji&eacute; Niar&eacute; (rue 428 Niar&eacute;la).
                    td(style='width: 161px;')
                      p
                        strong MAIRIE DU DISTRICT DE BAMAKO
                    td(style='width: 119px;')
                      p Fonds PPTE
          // Fin Références en Routes Bitumées
