extends layout

block content

   .clearfix
     .gsc-tab-views.style-1
      .clearfix.text-center
      div
      ul.nav.nav-tabs
          h2.title
            span(style="text-transform:uppercase") Nos Références
          ol
            li
              a(href="/") Acceuil&nbsp
            span /
            li 
            li 
             | &nbspRéférences
    .clearfix.propos
              .node__content.clearfix
                .field.field--name-field-block-builder.field--type-blockbuilder.field--label-hidden.field__item
                  .gavias-blockbuilder-content
                    .gavias-blockbuilder-content
                      .gbb-row-wrapper
                        .gbb-row.bg-size-cover(style='')
                          .bb-inner.remove_padding
                            .bb-container.container
                              .row
                                .row-wrapper.clearfix
                                  .gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                    .column-inner.bg-size-cover
                                      .column-content-inner
                                        .gsc-our-gallery
                                          .owl-carousel.init-carousel-owl.owl-loaded.owl-drag(data-items='1' data-items_lg='1' data-items_md='1' data-items_sm='2' data-items_xs='1' data-loop='1' data-speed='500' data-auto_play='1' data-auto_play_speed='2000' data-auto_play_timeout='5000' data-auto_play_hover='1' data-navigation='1' data-rewind_nav='0' data-pagination='0' data-mouse_drag='1' data-touch_drag='1')
                                            .owl-stage-outer
                                              .owl-stage(style='transform: translate3d(-1233.31px, 0px, 0px); transition: all 0s ease 0s; width: 3700px;')
                                                .owl-item.cloned(style='width: 616.656px;')
                                                  .item 
      div

                    
                        style.
                          h1, h2, h3, h4, h5, h6, .site-title {
                          font-family: 'Open Sans', sans-serif;
                          }
                          body.site {
                          border-top: 3px solid #0ef021;
                          background-color: #13a3f0;
                          }
                        
                          .nav-list > .active > a,
                          .nav-list > .active > a:hover,
                          .dropdown-menu li > a:hover,
                          .dropdown-menu .active > a,
                          .dropdown-menu .active > a:hover,
                          .nav-pills > .active > a,
                          .nav-pills > .active > a:hover,
                          .btn-primary {
                          background: #0ef021;
                          }
                          div.mod_search93 input[type="search"]{ width:auto; }
                        | &#x9;
                        script(src='./En barrage - Page 3_files/jquery.min.js.download')
                        | &#x9;
                        script(src='./En barrage - Page 3_files/jquery-noconflict.js.download')
                        | &#x9;
                        script(src='./En barrage - Page 3_files/jquery-migrate.min.js.download')
                        | &#x9;
                        script(src='./En barrage - Page 3_files/caption.js.download')
                        | &#x9;
                        script(src='./En barrage - Page 3_files/bootstrap.min.js.download')
                        | &#x9;
                        script(src='./En barrage - Page 3_files/template.js.download')
                        //if lt IE 9
                          script(src='/media/jui/js/html5.js?c070c3a51b5e514e70ae0bee5852d42b')
                        //if lt IE 9
                          script(src='/media/system/js/html5fallback.js?c070c3a51b5e514e70ae0bee5852d42b')
                        | &#x9;
                        script.
                          jQuery(window).on('load',  function() {
                          new JCaption('img.caption');
                          });
                      body.site.com_content.view-article.no-layout.no-task.itemid-113
                        // Body
                        #top.body
                          .container
                            // Header
                            .row-fluid
                              main#content.span9(role='main')
                                // Begin Content
                                .item-page(itemscope='', itemtype='https://schema.org/Article')
                                  meta(itemprop='inLanguage', content='fr-FR')
                                  | &#x9;
                                  | &#x9;&#x9;
                                  | &#x9;&#x9;&#x9;
                                  .page-header
                                    h2(itemprop='headline')
                                      | NOS REFERENCES - En barrage
                                  | &#x9;&#x9;&#x9;
                                  div(itemprop='articleBody')
                                    table(style='width: 921px;')
                                      thead
                                        tr
                                          td(style='background-color: #1d85a7; width: 78px;', colspan='2')
                                            p
                                              span(style='color: #ffffff;')
                                                strong Date d&eacute;but
                                          td(style='background-color: #1d85a7; width: 60px;')
                                            p
                                              span(style='color: #ffffff;')
                                                strong Date fin
                                          td(style='background-color: #1d85a7; width: 124px;')
                                            p
                                              span(style='color: #ffffff;')
                                                strong Pays
                                          td(style='background-color: #1d85a7; width: 307px;')
                                            p
                                              span(style='color: #ffffff;')
                                                strong Mission
                                          td(style='background-color: #1d85a7; width: 157px;')
                                            p
                                              span(style='color: #ffffff;')
                                                strong Client
                                          td(style='background-color: #1d85a7; width: 175px;')
                                            p
                                              span(style='color: #ffffff;')
                                                strong Financement
                                      tbody
                                        tr
                                          td(style='width: 28px;')
                                            p 1
                                          td(style='width: 50px;')
                                            p 2015
                                          td(style='width: 60px;')
                                            p 2015
                                          td(style='width: 124px;')
                                            p Mali
                                          td(style='width: 307px;')
                                            p
                                              | contr&ocirc;le et la surveillance des travaux de r&eacute;habilitation de&nbsp; huit (08) Micro -Barrages dans la r&eacute;gion de Kayes, dans le cadre du projet Irrigation de Proximit&eacute; du PAPAM
                                          td(style='width: 157px;')
                                            p
                                              strong AGETIER-Mali
                                          td(style='width: 175px;')
                                            p FIDA
                                        tr
                                          td(style='width: 28px;')
                                            p 2
                                          td(style='width: 50px;')
                                            p 2015
                                          td(style='width: 60px;')
                                            p 2015
                                          td(style='width: 124px;')
                                            p Mali
                                          td(style='width: 307px;')
                                            p
                                              | Contr&ocirc;le et surveillance des Travaux d&rsquo;am&eacute;nagement de la plaine de Kadjila et du bas fond (barrage) de Molasso,cercle et&nbsp; r&eacute;gion de Sikasso
                                          td(style='width: 157px;')
                                            p
                                              strong Minist&egrave;re du D&eacute;veloppement Rural
                                          td(style='width: 175px;')
                                            p UE et la Coop&eacute;ration Allemand
                                        tr
                                          td(style='width: 28px;')
                                            p 3
                                          td(style='width: 50px;')
                                            p 2012
                                          td(style='width: 60px;')
                                            p 2013
                                          td(style='width: 124px;')
                                            p Burkina Faso
                                          td(style='width: 307px;')
                                            p
                                              | ETUDE D&rsquo;ACTUALISATION, SUIVI ET CONTR&Ocirc;LE&nbsp; DES TRAVAUX DE CONSTRUCTION DU BARRAGE DE WABESSAN, PROVINCE DE SISSILI, REGION DU CENTRE OUEST
                                          td(style='width: 157px;')
                                            p
                                              strong AGETEER
                                          td(style='width: 175px;')
                                            p Budget de l&rsquo;&Eacute;tat gestion 2012 Burkina
                                        tr
                                          td(style='width: 28px;')
                                            p 4
                                          td(style='width: 50px;')
                                            p 2012
                                          td(style='width: 60px;')
                                            p 2013
                                          td(style='width: 124px;')
                                            p Burkina Faso
                                          td(style='width: 307px;')
                                            p
                                              | ETUDE D&rsquo;ACTUALISATION, SUIVI, CONTR&Ocirc;LE&nbsp; DES TRAVAUX DE CONSTRUCTION DU BARRAGE DE SARRE COMMUNE DE KOMBISSIRI, PROVINCE DU BAZEGA, REGION DU CENTRE SUD
                                          td(style='width: 157px;')
                                            p
                                              strong AGETEER
                                          td(style='width: 175px;')
                                            p Budget de l&rsquo;&Eacute;tat gestion 2012 Burkina
                                        tr
                                          td(style='width: 28px;')
                                            p 5
                                          td(style='width: 50px;')
                                            p 2010
                                          td(style='width: 60px;')
                                            p 2010
                                          td(style='width: 124px;')
                                            p Mali
                                          td(style='width: 307px;')
                                            p
                                              | &Eacute;tudes techniques de pr&eacute;faisabilit&eacute; de la microcentrale de BILY dans la r&eacute;gion de Kayes.
                                          td(style='width: 157px;')
                                            p
                                              strong Minist&egrave;re de l&rsquo;&eacute;nergie, des mines et de l&rsquo;eau
                                          td(style='width: 175px;')
                                            p banque mondiale (IDA)
                                        tr
                                          td(style='width: 28px;')
                                            p 6
                                          td(style='width: 50px;')
                                            p 2008
                                          td(style='width: 60px;')
                                            p 2008
                                          td(style='width: 124px;')
                                            p Mali
                                          td(style='width: 307px;')
                                            p
                                              | &Eacute;tudes techniques de faisabilit&eacute; de la microcentrale hydro &eacute;lectrique de Faroko1 dans la r&eacute;gion de Sikasso.
                                          td(style='width: 157px;')
                                            p
                                              strong Minist&egrave;re de l&rsquo;&eacute;nergie, des mines et de l&rsquo;eau
                                          td(style='width: 175px;')
                                            p Budget National
                                            p 2008
                                        tr
                                          td(style='width: 28px;') &nbsp;
                                          td(style='width: 50px;') &nbsp;
                                          td(style='width: 60px;') &nbsp;
                                          td(style='width: 124px;') &nbsp;
                                          td(style='width: 307px;') &nbsp;
                                          td(style='width: 157px;') &nbsp;
                                          td(style='width: 175px;') &nbsp;
                           // fin nos refferences en BARRAGE
    title En am&eacute;nagement hydro-agricole
    style.
      h1, h2, h3, h4, h5, h6, .site-title {
      font-family: 'Open Sans', sans-serif;
      }
      body.site {
      border-top: 3px solid #0ef021;
      background-color: #13a3f0;
      }

      .nav-list > .active > a,
      .nav-list > .active > a:hover,
      .dropdown-menu li > a:hover,
      .dropdown-menu .active > a,
      .dropdown-menu .active > a:hover,
      .nav-pills > .active > a,
      .nav-pills > .active > a:hover,
      .btn-primary {
      background: #0ef021;
      }
    #top.body
      .container
        .row-fluid
          main#content.span9(role='main')
            // Begin Content
            .moduletable
              .custom
                p &nbsp;
            | &#x9;
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            #system-message-container
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .item-page(itemscope='', itemtype='https://schema.org/Article')
              meta(itemprop='inLanguage', content='fr-FR')
              | &#x9;
              | &#x9;&#x9;
              | &#x9;&#x9;&#x9;
              .page-header
                h2(itemprop='headline')
                  | NOS REFERENCES - En am&eacute;nagement hydro-agricole
              | &#x9;&#x9;&#x9;
              div(itemprop='articleBody')
                table(style='width: 932px;')
                  thead
                    tr
                      td(style='background-color: #1d85a7; text-align: center; width: 77px;', colspan='2')
                        p
                          span(style='color: #ffffff;')
                            strong Date d&eacute;but
                      td(style='background-color: #1d85a7; text-align: center; width: 64px;')
                        p
                          span(style='color: #ffffff;')
                            strong Date fin
                      td(style='background-color:#1d85a7; text-align: center; width: 99px;')
                        p
                          span(style='color: #ffffff;')
                            strong Pays
                      td(style='background-color: #1d85a7; text-align: center; width: 319px;')
                        p
                          span(style='color: #ffffff;')
                            strong Mission
                      td(style='background-color: #1d85a7; text-align: center; width: 160px;')
                        p
                          span(style='color: #ffffff;')
                            strong Client
                      td(style='background-color: #1d85a7; text-align: center; width: 179px;')
                        p
                          span(style='color: #ffffff;')
                            strong Financement
                  tbody
                    tr
                      td(style='width: 27px;')
                        p 1
                      td(style='width: 50px;')
                        p 2018
                      td(style='width: 64px;')
                        p &nbsp;
                      td(style='width: 99px;')
                        p TOGO
                      td(style='width: 319px;')
                        p
                          | &Eacute;tudes d&rsquo;avant-projet d&eacute;taill&eacute;, &eacute;laboration des DAO et EIES des travaux d&rsquo;am&eacute;nagement de 910 hectares de bas-fonds valid&eacute;s en 2013 dans la R&eacute;gion Centrale
                      td(style='width: 160px;')
                        p
                          strong PADAT
                      td(style='width: 179px;')
                        p BOAD
                    tr
                      td(style='width: 27px;')
                        p 2
                      td(style='width: 50px;')
                        p 2018
                      td(style='width: 64px;')
                        p 2018
                      td(style='width: 99px;')
                        p TOGO
                      td(style='width: 319px;')
                        p
                          | &Eacute;tude techniques et environnementales de r&eacute;alisation des zones d&rsquo;am&eacute;nagement agricoles planifi&eacute;es (ZAAP) dans le cadre du programme de d&eacute;veloppement communautaire (PUDC)
                      td(style='width: 160px;')
                        p
                          strong PUDC-TOGO
                      td(style='width: 179px;')
                        p PNUD
                    tr
                      td(style='width: 27px;')
                        p 3
                      td(style='width: 50px;')
                        p 2017
                      td(style='width: 64px;')
                        p En cours
                      td(style='width: 99px;')
                        p S&eacute;n&eacute;gal
                      td(style='width: 319px;')
                        p
                          | &Eacute;tudes, Contr&ocirc;le et &agrave; la surveillance des&nbsp; Travaux d&rsquo;Am&eacute;nagement de 4000 ha de nouvelles vall&eacute;es dans les R&eacute;gions de S&eacute;dhiou et Kolda.
                      td(style='width: 160px;')
                        p
                          strong PAPSEN
                      td(style='width: 179px;')
                        p Cr&eacute;dit concessionnel SENEGAL/ITALI
                    tr
                      td(style='width: 27px;')
                        p 4
                      td(style='width: 50px;')
                        p 2016
                        p &nbsp;
                      td(style='width: 64px;')
                        p En cours
                      td(style='width: 99px;')
                        p S&eacute;n&eacute;gal
                      td(style='width: 319px;')
                        p &Eacute;tudes APD / DAO et le Suivi des Travaux de Construction de 10 Mares Pastorales
                      td(style='width: 160px;')
                        p
                          strong PRAPS / MEPA
                      td(style='width: 179px;')
                        p Banque Mondiale
                    tr
                      td(style='width: 27px;')
                        p 5
                      td(style='width: 50px;')
                        p 2016
                      td(style='width: 64px;')
                        p &nbsp;
                        p 2017
                      td(style='width: 99px;')
                        p TOGO
                      td(style='width: 319px;')
                        p
                          | Contr&ocirc;le et surveillance des travaux d&rsquo;am&eacute;nagement de 500 hectares de p&eacute;rim&egrave;tres agro sylvo pastoraux et halieutiques au Togo&nbsp;: Mission 2&nbsp;: sites de Agbandi, Koutoukpa et Gap&eacute; Kpodji
                      td(style='width: 160px;')
                        p
                          strong AGETUR-TOGO
                      td(style='width: 179px;')
                        p UEMOA
                    tr
                      td(style='width: 27px;')
                        p 6
                      td(style='width: 50px;')
                        p 2016
                      td(style='width: 64px;')
                        p &nbsp;
                        p 2017
                      td(style='width: 99px;')
                        p TOGO
                      td(style='width: 319px;')
                        p
                          | Contr&ocirc;le et surveillance des travaux d&rsquo;am&eacute;nagement de 500 hectares de p&eacute;rim&egrave;tres agro sylvo pastoraux et halieutiques au Togo&nbsp;: Mission 1&nbsp;: sites de Sadori et Possoa
                      td(style='width: 160px;')
                        p
                          strong AGETUR-TOGO
                      td(style='width: 179px;')
                        p UEMOA
                    tr
                      td(style='width: 27px;')
                        p 7
                      td(style='width: 50px;')
                        p 2016
                      td(style='width: 64px;')
                        p &nbsp;
                        p En cours
                      td(style='width: 99px;')
                        p Mali
                      td(style='width: 319px;')
                        p
                          | Services de Consultants Relatifs aux &Eacute;tudes Techniques d&eacute;taill&eacute;es au Contr&ocirc;le et &agrave; la surveillance des&nbsp; Travaux d&rsquo;Am&eacute;nagement Hydro &ndash;Agricoles de 1256 HA de p&eacute;rim&egrave;tres
                        p
                          | Irrigues en Zone OHVN (Figuiratomo-Selingu&eacute;, Balanzan, Koursal&eacute; et S&eacute;guela) dans le Cadre du PRESAN-KL
                      td(style='width: 160px;')
                        p
                          strong AGETIER-MALI
                      td(style='width: 179px;')
                        p Don GAFSP
                    tr
                      td(style='width: 27px;')
                        p 8
                      td(style='width: 50px;')
                        p 2015
                      td(style='width: 64px;')
                        p En cours
                      td(style='width: 99px;')
                        p Mali
                      td(style='width: 319px;')
                        p
                          | Service de consultants relatifs aux &eacute;tudes d&apos;Am&eacute;nagements de 10 000 HA de Plaines a Vocation Agro Pastorale de Rive Droite du Niger dans le cercle de Djenne,
                      td(style='width: 160px;')
                        p
                          strong AGETIER-MALI
                      td(style='width: 179px;')
                        p Financement national / pr&ecirc;t n&deg;064
                    tr
                      td(style='width: 27px;')
                        p 9
                      td(style='width: 50px;')
                        p 2015
                      td(style='width: 64px;')
                        p 2016
                      td(style='width: 99px;')
                        p Mali
                      td(style='width: 319px;')
                        p
                          | Etudes techniques APS/APD/DAO, le suivi et contr&ocirc;le des travaux de balisage de la piste pastorale entre Bla et San dans la R&eacute;gion de S&eacute;gou.
                      td(style='width: 160px;')
                        p
                          strong AGETIER-MALI
                      td(style='width: 179px;')
                        p Royaume de DANEMARK
                    tr
                      td(style='width: 27px;')
                        p 10
                      td(style='width: 50px;')
                        p 2015
                      td(style='width: 64px;')
                        p 2015
                      td(style='width: 99px;')
                        p Mali
                      td(style='width: 319px;')
                        p
                          | &Eacute;tudes d&rsquo;avant-projet d&eacute;taille (APD) et production du dossier d&rsquo;appel d&rsquo;offres des travaux d&rsquo;am&eacute;nagements de vingt-deux (22) bas-fonds dans la r&eacute;gion de Kayes dans le cadre du projet irrigation de proximit&eacute; du PAPAM
                      td(style='width: 160px;')
                        p
                          strong AGETIER-MALI&nbsp; (PAPAM)
                      td(style='width: 179px;')
                        p FIDA
                    tr
                      td(style='width: 27px;')
                        p 11
                      td(style='width: 50px;')
                        p 2015
                      td(style='width: 64px;')
                        p 2015
                      td(style='width: 99px;')
                        p Mali
                      td(style='width: 319px;')
                        p
                          | Contr&ocirc;le et la surveillance des travaux&nbsp; d&rsquo;am&eacute;nagements&nbsp; de dix&nbsp; (10) petits p&eacute;rim&egrave;tres maraichers&nbsp; dans la r&eacute;gion de Koulikoro, dans le cadre du projet irrigation de proximit&eacute; du PAPAM
                      td(style='width: 160px;')
                        p
                          strong AGETIER-MALI&nbsp; (PAPAM
                      td(style='width: 179px;')
                        p FIDA
                    tr
                      td(style='width: 27px;')
                        p 12
                      td(style='width: 50px;')
                        p 2015
                      td(style='width: 64px;')
                        p 2015
                      td(style='width: 99px;')
                        p Mali
                      td(style='width: 319px;')
                        p
                          | Contr&ocirc;le et surveillance des Travaux d&rsquo;am&eacute;nagement de la plaine de Kadjila et du bas fond de Molasso,cercle et&nbsp; r&eacute;gion de Sikasso
                      td(style='width: 160px;')
                        p Minist&egrave;re du D&eacute;veloppement Rural
                      td(style='width: 179px;')
                        p UE et la Coop&eacute;ration Allemand
                    tr
                      td(style='width: 27px;')
                        p 13
                      td(style='width: 50px;')
                        p 2015
                      td(style='width: 64px;')
                        p En cours
                      td(style='width: 99px;')
                        p TOGO / R&eacute;gion de KARA
                      td(style='width: 319px;')
                        p
                          | &Eacute;tude d&apos;avant-projet d&eacute;taill&eacute; et &eacute;laboration des prescriptions techniques des travaux d&rsquo;am&eacute;nagement de 697 hectares de bas-fonds valid&eacute;s en 2012 dans les R&eacute;gions de la Kara (pr&eacute;fecture de Dankpen) et des Savanes du Togo
                      td(style='width: 160px;')
                        p
                          strong Projet d&rsquo;Appui au D&eacute;veloppement Agricole au TOGO (PADAT)
                      td(style='width: 179px;')
                        p Don GAFSP
                    tr
                      td(style='width: 27px;')
                        p 14
                      td(style='width: 50px;')
                        p 2014
                      td(style='width: 64px;')
                        p 2014
                      td(style='width: 99px;')
                        p Mali / Tombouctou
                      td(style='width: 319px;')
                        p
                          | &Eacute;tudes techniques des Travaux d&rsquo;Extension de 200 HA de la Plaine de Saoune &agrave; Dire
                      td(style='width: 160px;')
                        p
                          | Direction Nationale du G&eacute;nie Rural repr&eacute;sentant le MINISTERE DU DEVELOPPEMENT RURAL
                      td(style='width: 179px;')
                        p Financement national 100 %
                    tr
                      td(style='width: 27px;')
                        p 15
                      td(style='width: 50px;')
                        p 2014
                      td(style='width: 64px;')
                        p 2014
                      td(style='width: 99px;')
                        p Mali / Sikasso
                      td(style='width: 319px;')
                        p
                          | &eacute;valuation des impacts et la mobilisation sociale autour du processus de r&eacute;alisation et de gestion des&nbsp; am&eacute;nagements piscicoles&nbsp; dans les cercles de&nbsp; Koutiala,&nbsp; Yorosso, Sikasso, Kadiolo et Yanfolila.
                      td(style='width: 160px;')
                        p Projet de D&eacute;veloppement de la Fili&egrave;re Aquacole &laquo;&nbsp;PRODEFA&nbsp;&raquo;
                      td(style='width: 179px;')
                        p 100 % PRODEFA
                    tr
                      td(style='width: 27px;')
                        p 16
                      td(style='width: 50px;')
                        p 2013
                      td(style='width: 64px;')
                        p 2015
                      td(style='width: 99px;')
                        p Burkina Faso
                      td(style='width: 319px;')
                        p
                          | R&eacute;alisation des &eacute;tudes d&rsquo;am&eacute;nagement hydro agricole et halieutiques de 600 hectares dans la r&eacute;gion du centre Nord
                      td(style='width: 160px;')
                        p AGETEER
                      td(style='width: 179px;')
                        p UEMOA
                    tr
                      td(style='width: 27px;')
                        p &nbsp;
                        p 17
                      td(style='width: 50px;')
                        p 2012
                      td(style='width: 64px;')
                        p 2014
                      td(style='width: 99px;')
                        p Burkina Faso
                      td(style='width: 319px;')
                        p
                          | Suivi-contr&ocirc;le des travaux de r&eacute;alisation de p&eacute;rim&egrave;tres de type semi californien dans les r&eacute;gions de la Boucle du Mouhoun, des Hauts Bassins, du Centre Nord, du Nord, du Plateau Central et du Sud-Ouest (lot1)
                      td(style='width: 160px;')
                        p AGETEER
                      td(style='width: 179px;')
                        p Financement national
                    tr
                      td(style='width: 27px;')
                        p 18
                      td(style='width: 50px;')
                        p 2011
                      td(style='width: 64px;')
                        p 2011
                      td(style='width: 99px;')
                        p Mali / Tomina
                      td(style='width: 319px;')
                        p Le Contr&ocirc;le et la surveillance des travaux d&rsquo;am&eacute;nagement de la plaine de Tomina.
                      td(style='width: 160px;')
                        p CARE INTERNATIONAL AU MALI
                      td(style='width: 179px;')
                        p CARE-Mali
                    tr
                      td(style='width: 27px;')
                        p 19
                      td(style='width: 50px;')
                        p 2011
                      td(style='width: 64px;')
                        p 2011
                      td(style='width: 99px;')
                        p Mali / Tomina
                      td(style='width: 319px;')
                        p &Eacute;tudes topographiques et d&rsquo;am&eacute;nagement de la plaine de Tomina.
                      td(style='width: 160px;')
                        p CARE INTERNATIONAL AU MALI
                      td(style='width: 179px;')
                        p CARE-Mali
                    tr
                      td(style='width: 27px;')
                        p 20
                      td(style='width: 50px;')
                        p 2010
                      td(style='width: 64px;')
                        p 2012
                      td(style='width: 99px;')
                        p Mali
                      td(style='width: 319px;')
                        p
                          | Travaux de contr&ocirc;le et surveillance de dix-sept&nbsp; (17) P&eacute;rim&egrave;tres Irrigu&eacute;s villageoises (P.I.V) dans les cercles de BOUREM et de GOURMA-RHAROUS Lot1 et Lot 2
                      td(style='width: 160px;')
                        p Commissariat de la s&eacute;curit&eacute; alimentaire
                      td(style='width: 179px;')
                        p FIDA
                    tr
                      td(style='width: 27px;')
                        p 21
                      td(style='width: 50px;')
                        p 2010
                      td(style='width: 64px;')
                        p 2010
                      td(style='width: 99px;')
                        p Mali / Gao
                      td(style='width: 319px;')
                        p
                          | &Eacute;tudes d&rsquo;avant-projet d&eacute;taill&eacute; (APD), l&rsquo;&eacute;laboration de dossier d&rsquo;appel d&rsquo;offre des travaux (DAO), le contr&ocirc;le et la surveillance des travaux pour l&rsquo;am&eacute;nagement des bas-fonds, mares, plaines inondables et p&eacute;rim&egrave;tres mara&icirc;chers dans la R&eacute;gion de Kayes, Koulikoro, Sikasso, S&eacute;gou et Gao, r&eacute;partis en cinq lots&nbsp;: Lot 05 Gao.
                      td(style='width: 160px;')
                        p Minist&egrave;re de l&rsquo;Agriculture
                      td(style='width: 179px;')
                        p Budget national 100 %
                    tr
                      td(style='width: 27px;')
                        p 22
                      td(style='width: 50px;')
                        p 2010
                      td(style='width: 64px;')
                        p 2010
                      td(style='width: 99px;')
                        p Mali / Mopti
                      td(style='width: 319px;')
                        p
                          | &Eacute;tudes d&rsquo;Avant-Projet D&eacute;taill&eacute; et d&rsquo;&Eacute;laboration du Dossier de consultation des entreprises relatives aux travaux de surcreusement du chenal de Mayel.
                      td(style='width: 160px;')
                        p FODESA
                      td(style='width: 179px;')
                        p FIDA (Fonds International de D&eacute;veloppement Agricole)
                    tr
                      td(style='width: 27px;')
                        p 23
                      td(style='width: 50px;')
                        p 2010
                      td(style='width: 64px;')
                        p 2010
                      td(style='width: 99px;')
                        p Mali/Tombouctou
                      td(style='width: 319px;')
                        p
                          | &Eacute;tudes techniques d&rsquo;avant-projet d&eacute;taill&eacute; y compris la station de pompage, le Contr&ocirc;le et la Surveillance&nbsp; du canal principal du p&eacute;rim&egrave;tre de N&rsquo;GORFONDOU dans le cercle de Dir&eacute;, r&eacute;gion de Tombouctou.
                      td(style='width: 160px;')
                        p
                          | Initiatives Int&eacute;gr&eacute;es pour la Croissance &Eacute;conomique&nbsp; au Mali 
                          strong (IICEM)
                          | .
                      td(style='width: 179px;')
                        p USAID
                    tr
                      td(style='width: 27px;')
                        p 24
                      td(style='width: 50px;')
                        p 2010
                      td(style='width: 64px;')
                        p 2010
                      td(style='width: 99px;')
                        p Mali/Tombouctou
                      td(style='width: 319px;')
                        p
                          | &Eacute;tudes techniques d&rsquo;avant-projet d&eacute;taill&eacute; y compris la station de pompage du p&eacute;rim&egrave;tre&nbsp; de (500 ha) dans le lac Horo avec un canal d&rsquo;irrigation sur 14 km divis&eacute; en deux lots de 7 km chacun, le Contr&ocirc;le et la Surveillance des Travaux.
                      td(style='width: 160px;')
                        p
                          | Initiatives Int&eacute;gr&eacute;es pour la Croissance &Eacute;conomique&nbsp; au Mali 
                          strong (IICEM)
                          | .
                      td(style='width: 179px;')
                        p USAID
                    tr
                      td(style='width: 27px;')
                        p 25
                      td(style='width: 50px;')
                        p 2009
                      td(style='width: 64px;')
                        p 2009
                      td(style='width: 99px;')
                        p Mali/Tombouctou
                      td(style='width: 319px;')
                        p
                          | &Eacute;tudes techniques y compris les stations de pompage, le Contr&ocirc;le et la Surveillance des Travaux d&rsquo;Am&eacute;nagement hydro-agricole (P&eacute;rim&egrave;tre Irrigu&eacute; Villageois) dans les localit&eacute;s de&nbsp;: Kabara, Tonka, Kondi, Kessoubibi, Nianfunk&eacute;, Sibo, AdinaKoira, Findoukaina et Bagadadji la r&eacute;gion de Tombouctou.
                      td(style='width: 160px;')
                        p
                          | Initiatives Int&eacute;gr&eacute;es pour la Croissance &Eacute;conomique au Mali 
                          strong (IICEM)
                          | .
                      td(style='width: 179px;')
                        p USAID
                    tr
                      td(style='width: 27px;')
                        p 26
                      td(style='width: 50px;')
                        p 2009
                      td(style='width: 64px;')
                        p 2009
                      td(style='width: 99px;')
                        p Mali/ Kayes /Y&eacute;liman&eacute;
                      td(style='width: 319px;')
                        p
                          | &Eacute;tudes techniques (&eacute;tudes de bases, &eacute;tudes d&rsquo;avant-projet d&eacute;taill&eacute; et dossier d&rsquo;appel d&rsquo;offres) pour l&rsquo;am&eacute;nagement de la plaine inondable de Banamakan Ontongolo dans le cercle de Y&eacute;liman&eacute; r&eacute;gion de Kayes.
                      td(style='width: 160px;')
                        p FAO (Organisation des Nations Unies pour l&rsquo;Alimentation et l&rsquo;Agriculture)
                      td(style='width: 179px;')
                        p FAO
                    tr
                      td(style='width: 27px;')
                        p 27
                      td(style='width: 50px;')
                        p 2009
                      td(style='width: 64px;')
                        p 2010
                      td(style='width: 99px;')
                        p Mali/ Mopti
                      td(style='width: 319px;')
                        p
                          | Contr&ocirc;le et surveillance des travaux du p&eacute;rim&egrave;tre moyen de Mopti Nord (contrat N&deg;S1-BTN2-148-04/2006) pour le compte de l&rsquo;Office Riz Mopti &agrave; travers le Programme d&rsquo;Appui au D&eacute;veloppement&nbsp; Rural de la R&eacute;gion de Mopti (PADER). (200 ha).
                      td(style='width: 160px;')
                        p
                          strong AGETIER pour le compte de PADER/ORM
                      td(style='width: 179px;')
                        p Budget sp&eacute;cial d&rsquo;investissement
                    tr
                      td(style='width: 27px;')
                        p 28
                      td(style='width: 50px;')
                        p 2008
                      td(style='width: 64px;')
                        p 2009
                      td(style='width: 99px;')
                        p Mali/ Mopti
                      td(style='width: 319px;')
                        p
                          | &Eacute;tudes&nbsp; d&rsquo;am&eacute;nagement du petit&nbsp; p&eacute;rim&egrave;tre irrigu&eacute; villageois de NEIMA y compris la station de pompage dans la zone Office Riz Mopti.
                      td(style='width: 160px;')
                        p OFFICE RIZ&nbsp; MOPTI
                      td(style='width: 179px;')
                        p Budget National
                    tr
                      td(style='width: 27px;')
                        p 29
                      td(style='width: 50px;')
                        p 2007
                      td(style='width: 64px;')
                        p 2007
                      td(style='width: 99px;')
                        p Mali / S&eacute;gou
                      td(style='width: 319px;')
                        p
                          | &Eacute;tudes techniques, Contr&ocirc;le et Surveillance des d&rsquo;am&eacute;nagement des p&eacute;rim&egrave;tres mara&icirc;chers dans les villages de Baraouli, Kalankabougou (dans le cercle de Baraouli); Boukiw&egrave;r&egrave; (dans le cercle de Macina); Doucouninkoro, Yolo, Tio (dans le cercle de S&eacute;gou); Pour&eacute; (cercle de Tominia).
                      td(style='width: 160px;')
                        p DNGR
                      td(style='width: 179px;')
                        p Budget National
                    tr
                      td(style='width: 27px;')
                        p 30
                      td(style='width: 50px;')
                        p 2007
                      td(style='width: 64px;')
                        p 2007
                      td(style='width: 99px;')
                        p Mali / Mopti
                      td(style='width: 319px;')
                        p
                          | &Eacute;tudes&nbsp; compl&egrave;tes des casiers pastoraux de&nbsp;: Ib&eacute;temi (350ha),Soufouroulaye-Diabi (1350ha), et Karbaye (900 ha)
                      td(style='width: 160px;')
                        p PADER &ndash; MOPTI
                      td(style='width: 179px;')
                        p FAD (Fonds Africain de D&eacute;veloppement)
                    tr
                      td(style='width: 27px;')
                        p 31
                      td(style='width: 50px;')
                        p 2007
                      td(style='width: 64px;')
                        p 2007
                      td(style='width: 99px;')
                        p Mali / Mopti
                      td(style='width: 319px;')
                        p
                          | &Eacute;tudes&nbsp; de renforcement&nbsp; des petits&nbsp; p&eacute;rim&egrave;tres irrigu&eacute;s villageois (PPIV) pour le compte du Projet d&rsquo;Appui au D&eacute;veloppement Rural de la R&eacute;gion de Mopti.
                      td(style='width: 160px;')
                        p PADER &ndash; MOPTI
                      td(style='width: 179px;')
                        p FAD (Fonds Africain de D&eacute;veloppement)
                    tr
                      td(style='width: 27px;')
                        p 32
                      td(style='width: 50px;')
                        p 2007
                      td(style='width: 64px;')
                        p 2007
                      td(style='width: 99px;')
                        p Mali / Koulikoro
                      td(style='width: 319px;')
                        p
                          | &Eacute;tudes techniques, contr&ocirc;le et surveillance des travaux d&rsquo;am&eacute;nagement de 60 ha de la plaine de Gu&eacute;l&eacute;ba Cercle de Kati
                      td(style='width: 160px;')
                        p AGETIER
                      td(style='width: 179px;')
                        p Budget National
                    tr
                      td(style='width: 27px;')
                        p 33
                      td(style='width: 50px;')
                        p 2007
                      td(style='width: 64px;')
                        p 2007
                      td(style='width: 99px;')
                        p Mali / Koulikoro
                      td(style='width: 319px;')
                        p
                          | &Eacute;tudes&nbsp; techniques, contr&ocirc;le et&nbsp; surveillance des travaux d&rsquo;am&eacute;nagement&nbsp; de 60 ha de la plaine de K&eacute;ni&eacute;gu&eacute;. Cercle de Kati.
                      td(style='width: 160px;')
                        p AGETIER
                      td(style='width: 179px;')
                        p Budget National
                    tr
                      td(style='width: 27px;')
                        p 34
                      td(style='width: 50px;')
                        p 2006
                      td(style='width: 64px;')
                        p 2009
                      td(style='width: 99px;')
                        p Niger
                      td(style='width: 319px;')
                        p
                          | &Eacute;tudes techniques, contr&ocirc;le dans le cadre du Projet PADL (Projet Int&eacute;gr&eacute;),&nbsp; le diagnostic, l&rsquo;animation et l&rsquo;encadrement des travaux d&rsquo;am&eacute;nagement des cuvettes et bas-fonds et la r&eacute;cup&eacute;ration des terres d&eacute;grad&eacute;es&nbsp; dans la zone d&rsquo;intervention du PADL-DIFFA.
                      td(style='width: 160px;')
                        p Minist&egrave;re de l&rsquo;Hydraulique
                      td(style='width: 179px;')
                        p BAD
                    tr
                      td(style='width: 27px;')
                        p 35
                      td(style='width: 50px;')
                        p 2006
                      td(style='width: 64px;')
                        p 2007
                      td(style='width: 99px;')
                        p Mali/ S&eacute;gou
                      td(style='width: 319px;')
                        p
                          | Suivi des Travaux compl&eacute;mentaires du p&eacute;rim&egrave;tre hydro - agricole de Koumouna dans la zone office du Niger.
                      td(style='width: 160px;')
                        p AGETIER
                      td(style='width: 179px;')
                        p Budget National
                   .pager  
                       |  &#x9;&#x9;&#x9;&#x9;&#x9;
                  .clearfix
                // End Content

                                 
                // Left and right controls
                a.left.carousel-control(href='#myCarousel' data-slide='prev')
                  span.glyphicon.glyphicon-chevron-left
                  span.sr-only Previous
                a.right.carousel-control(href='#myCarousel' data-slide='next')
                  span.glyphicon.glyphicon-chevron-right
                  span.sr-only Next
  
  
