extends layout

block content
    //- div
    //-   #block-gavias-buildpro-simplenewssubscription.simplenews-subscriptions-block-835cd89f-b15a-48ec-b0a6-401ae3d0beb2.simplenews-subscriber-form.block.block-simplenews.block-simplenews-subscription-block(data-drupal-selector='simplenews-subscriptions-block-835cd89f-b15a-48ec-b0a6-401ae3d0beb2')
    //-     h2.block-title
    //-       span NewsLetter
    //-     form.centered.mt-10.ml-10.mr-10(action='/signup' method='POST', style="width:80%; margin-left:auto; margin-right:auto")
    //-       .form-group
    //-         input#firstname.form-input(type='text' Placeholder="Prénom" name='firstName' required="")
    //-       .form-group
    //-         input#lastname.form-input(type='text' Placeholder="Nom de Famille" name='lastName' required="")
    //-       .form-group
    //-         input#email.form-input(type='text' Placeholder="Email" name='email' required="")
    //-       .form-group
    //-         input.btn.btn-primary(type='submit' value='Souscrire')