extends layout

block content
  br
  .clearfix.banner
      .gsc-tab-views.style-1
        .clearfix.text-center
        div
        ul.nav.nav-tabs
          h2.title
            span(style="text-transform:uppercase") PROJET SODAGRI PLAINE DE ANAMBE
          ol
            li
              a(href="/") Acceuil&nbsp
            span /
            li 
            li 
             | &nbspSodagri Plaine de Anambe
      br
      .gbb-row-wrapper
       .gbb-row.bg-size-default(style="background-image:url('../images/engineering.jpg'); background-repeat:no-repeat; background-position:center bottom")
        .bb-inner.remove_padding
          .bb-container.container
            .row
              .row-wrapper.clearfix
                .gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12
                 .isotope-items.view-portfolio(data-pid='254jl' data-drupal-views-infinite-scroll-content-wrapper-gvaloadmore='' style='position: relative; height: 4203.26px;')
                      .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 0px; top: 0px;')
                        .views-field.views-field-nothing
                          span.field-content
                            .portfolio-item.v2.margin-bottom-30
                              .image
                                a(href='/sodagri')
                                  img(src='../images/Chenal-damn-avec-Pompes-imergs.jpeg' alt='Pompes-imergs' typeof='Image')
                              .content
                                .content-inner
                                  .title
                                    a(href='/sodagri' ) Chenal damn avec Pompes imergées
                                  .category
                                    a(href='/sodagri' ) Sodagri Plaine De Anambé
                      .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 322px; top: 0px;')
                        .views-field.views-field-nothing
                          a(href='/sodagri' )
                            span.field-content
                          .portfolio-item.v2.margin-bottom-30
                            a(href='/sodagri' )
                            .image
                              a(href='/sodagri' )
                              a(href='sodagri')
                                img(src='../images/Mise-en-du-bassin-de-dissipation-secteur-3.jpeg' alt='dissipation-secteur-3' typeof='Image')
                            .content
                              .content-inner
                                .title
                                  a(href='/sodagri' ) Mise en du bassin de dissipation secteur-3 
                                .category
                                  a(href='/sodagri' ) Sodagri Plaine De Anambé
                      .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 644px; top: 0px;')
                        .views-field.views-field-nothing
                          a(href='/sodagri' )
                            span.field-content
                          .portfolio-item.v2.margin-bottom-30
                            a(href='/sodagri' )
                            .image
                              a(href='/sodagri' )
                              a(href='/sodagri')
                                img(src='../images/pose-de-pompage-et-bassin-de-dissipation-Secteur-3.jpeg' alt='poste de pompage' typeof='Image')
                            .content
                              .content-inner
                                .title
                                  a(href='/sodagri' ) poste de pompage et bassin de dissipation Secteur-3.jpeg
                                .category
                                  a(href='/sodagri' ) Sodagri Plaine De Anambé
                      .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 0px; top: 323px;')
                        .views-field.views-field-nothing
                          a(href='/sodagri' )
                            span.field-content
                          .portfolio-item.v2.margin-bottom-30
                            a(href='/sodagri' )
                            .image
                              a(href='/sodagri' )
                              a(href='/sodagri')
                                img(src='../images/installation-des-poteaux.jpeg' alt='poteaux' typeof='Image')
                            .content
                              .content-inner
                                .title
                                  a(href='/sodagri' ) installation de poteaux électriques
                                .category
                                  a(href='/sodagri' ) Sodagri Plaine De Anambé
                      .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 322px; top: 323px;')
                        .views-field.views-field-nothing
                          a(href='/sodagri' )
                            span.field-content
                          .portfolio-item.v2.margin-bottom-30
                            a(href='/sodagri' )
                            .image
                              a(href='/sodagri' )
                              a(href='/sodagri')
                                img(src='../images/installation-des-poteaux--elec.jpeg' alt='poteaux--elec' typeof='Image')
                            .content
                              .content-inner
                                .title
                                  a(href='/sodagri' ) Pose de poteaux électriques 
                                .category
                                  a(href='/sodagri' ) Sodagri Plaine De Anambé
                      .col-lg-4.col-md-4.col-sm-4.col-xs-12.14(data-uk-filter=' 14' style='position: absolute; left: 644px; top: 323px;')
                        .views-field.views-field-nothing
                          a(href='/sodagri' )
                            span.field-content
                          .portfolio-item.v2.margin-bottom-30
                            a(href='/sodagri' )
                            .image
                              a(href='/sodagri' )
                              a(href='/sodagri')
                                img(src='../images/Piste--dacce-Anamb---Diaob.jpeg' alt='dacce-Anamb-Diaob' typeof='Image')
                            .content
                              .content-inner
                                .title
                                  a(href='/sodagri' )
                                    | Piste dacce-Anamb-Diaob
                                .category
                                  a(href='/sodagri' ) Sodagri Plaine De Anambé
                      .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 644px; top: 0px;')
                        .views-field.views-field-nothing
                          a(href='/sodagri' )
                            span.field-content
                          .portfolio-item.v2.margin-bottom-30
                            a(href='/sodagri' )
                            .image
                              a(href='/sodagri' )
                              a(href='/sodagri')
                                img(src='../images/Mise-en-eau-du-canal-secondaire-S5.jpg' alt='canal-secondaire-S5' typeof='Image')
                            .content
                              .content-inner
                                .title
                                  a(href='/sodagri' ) Mise-en-eau-du-canal-secondaire-S5
                                .category
                                  a(href='/sodagri' ) Sodagri Plaine De Anambé
                      .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 0px; top: 323px;')
                        .views-field.views-field-nothing
                          a(href='/sodagri' )
                            span.field-content
                          .portfolio-item.v2.margin-bottom-30
                            a(href='/sodagri' )
                            .image
                              a(href='/sodagri' )
                              a(href='/sodagri')
                                img(src='../images/parcelle-plane.jpeg' alt='parcelle-plane' typeof='Image')
                            .content
                              .content-inner
                                .title
                                  a(href='/sodagri' ) parcelle plane
                                .category
                                  a(href='/sodagri' ) Sodagri Plaine De Anambé
                      .col-lg-4.col-md-4.col-sm-4.col-xs-12.12(data-uk-filter=' 12' style='position: absolute; left: 322px; top: 323px;')
                        .views-field.views-field-nothing
                          a(href='/sodagri' )
                            span.field-content
                          .portfolio-item.v2.margin-bottom-30
                            a(href='/sodagri' )
                            .image
                              a(href='/sodagri' )
                              a(href='/sodagri')
                                img(src='../images/piste-dexploitation.jpg' alt='piste-dexploitation' typeof='Image')
                            .content
                              .content-inner
                                .title
                                  a(href='/sodagri' ) piste d'exploitation 
                                .category
                                  a(href='/sodagri' ) Sodagri Plaine De Anambé
      br