/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */
html {
  scroll-behavior: smooth;
}
body.footer-background #footer {
  background: #121212;
}
@media(min-width:992px) {
  header .clearfix{
    float: right;
  }
  header .clearfix > li {
    display: inline-block;
    margin: 25px 5px;
  }
  header .clearfix > li > a {
    font-size: 12px;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px){
.carousel-caption {
    left: 23%;
    right: 20%;
    padding-bottom: 30px;
 }
}
@media screen and (min-width: 200px) and (max-width:767px) {
  .carousel-caption {
    position: absolute;
    left: -45%;
    right: 15%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
   }
}

@media only screen and (min-width:200px) and (max-width:767px) {
      .gsc-tab-views.style-2 {
        display: none;
      }
      .flex-child > .right {
        display: none !important;
      }
      .carousel-inner {
        max-height: 260px;
        max-width: 800px;

     }
     .carousel.slide {
       max-height: 350px;
       max-width: 280px;
     }
     .carousel-inner > .item > img {
       max-height: 350px;
       width: 100%;
       }
       .carousel-inner > .item.active{
         /* width: 1020px; */
       }
}

.fa-users, .fa-hard-hat, .fa-building, .fa-money-bill-wave{
  color: #f5d44e;
 }
 .fa-cogs, .fa-book, .fa-file-alt, .fa-chart-pie, .fa-funnel-dollar,.fa-sitemap {
   color: #1d85a7;
 }
  #widget.widget-content {
    height: 100%;
  }
  div > iframe {
    height: 300px;
    width: 400px;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.site-branding-logo img {
  max-height: 60px;
}

.gsc-tab-views.style-1 ul.nav-tabs > li > a {
  font-size: 10px;
  color: white;
}

.portfolio-filter-v2 .portfolio-filter ul.nav > li > a {
  font-size: 10px;
}

.gsc-tab-views.style-1 ul.nav-tabs {
  background-color: #1d85a7 !important;
}
ul.nav-tabs > h2 {
  color: #fff;
}
.clearfix > .gsc-tab-views.style-1 {
  display: block;
  text-align: center;
  background-color: #1d85a7;
  max-width: 100%;
  height: 100%;
}
ul.nav.nav-tabs > h4 {
  color: #fff;
}
div > h6 {
  margin: 10px 10px;
  width: 100%;
}
.gsc-tab-views.style-1 ul.nav-tabs > li.active a {
  color: white;
}

.gv-sticky-menu {

}
.container-carousel-tab-view {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.container-carousel-tab-view, .flex-container-propos{
  display: flex;
}
#myCarousel {
  flex: 2;
  margin: 20px;
}
.gsc-tab-views.style-2 {
 /* flex: 1; */
 display: contents;
 margin: 20px;
 text-align: left;

}
.gsc-tab-views.style-2 ul.nav-tabs > li.active > a {
  color: #333333;
  background-color: #1d85a7;
  text-decoration: underline;
}
.gsc-tab-views.style-2 ul.nav.nav-tabs {
  display: grid;
  text-align: left;
  height: 525px;
  position: inherit;
}
.navigation .gva_menu > li > a {
  font-size: 12px;
  padding-left: 10px;
  padding-right: 7px;
}

.nav-tabs > li > a {
  padding: 15px 7px !important;
}

.gsc-tab-views.style-1 ul.nav-tabs > li:hover a, .gsc-tab-views.style-1 ul.nav-tabs > li:focus a, .gsc-tab-views.style-1 ul.nav-tabs > li:active a {
  background-color: #1d85a7;
  color: #009673;
  text-decoration: wavy !important;
}
.container-carousel-tab-view:first-child{
  flex: 2;
}

.flex-child:first-child {
  display: contents;
  flex: 40em;
  margin: 20px;
  background-color: #fff;
}
.flex-child > .right {
  display: grid;
  width: 290px;
  height: 250px;
  margin: 20px;
  background: #F7F8F8;
  text-align: center;
}

@media (min-width: 992px){
  .gsc-tab-views.style-2 ul.nav.nav-tabs {
    list-style: none;
    padding: 0;
    margin: 0;
 }
}
@media only screen and (min-width:200px) and (max-width:760px){
  /* .container-carousel-tab-view {
    display: unset;
    height: 200px;
    width: 350px;
  } */

  .carousel-caption, .item, .active{
    /* transform: translateX(0%); */
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  #myCarousel.carousel.slide {


  }
  .gsc-tab-views.style-2 {

  }
.nav.nav-tabs.right-view{

}
}
@media only screen and (min-width:768px) and (max-width:1020px) {
  .carousel-caption, .item, .active{
    /* transform: translateX(0%); */
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }
}

@media only screen and (min-width:760px) and (max-width:992px){
  .container-carousel-tab-view {
    display: flex;
    /* min-height: 400px;
    width: 812px; */
  }
  #myCarousel.carousel.slide {
    flex: 2;
    height: 400px;
    width: 50%;
 }
 .gsc-tab-views.style-2 {
  flex: 1;
  width: 50%;
}
 /* .carousel.slide {
   min-height: 400px;
   /* max-width: 400px; */

   .gsc-tab-views.style-2 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
   }
   .carousel-caption {
    /* left: -25%; */
    top: 52%;
    right: 20%;
    padding-bottom: 30px;
}
 }
 .carousel-inner > .item > img {
   min-height: 400px;
   /* max-width: 400px; */
   }




@media only screen and (min-width:540px) and (max-width:760px) {
  .container-carousel-tab-view {
    display: unset;
    height: 200px;
    width: 520px;
  }
}

@media only screen and (min-width:1200px) {
  #myCarousel.carousel.slide {
    width: 36%;
  }
  .container-carousel-tab-view {
    display: flex;
  }
  .carousel.slide {
    flex: 1;
    width: 36%;
  }
  .gsc-tab-views.style-2 {
    flex: 2;
    width: 50%;
  }
  .flex-container-propos {
    display: flex;
  }
  .flex-child > .left {
    flex: 1;
    width: 100%;
  }

  .flex-child > .right {
    flex: 2;
    width: 96%;
  }
  .flex-child {
    width: 50%;
  }
}
div ul.nav.nav-tabs > ol{
  display: inline-flex;
  text-align: center;
}
ul.nav.nav-tabs > ol > li {
    list-style: none;
    margin-bottom: 0 !important;
    padding: 0;
    color: #fff;
    text-align: center;
}
ul.nav.nav-tabs > ol > li > a, ul.nav.nav-tabs > ol  > span{
  list-style: none;
  margin-bottom: 0 !important;
  padding: 0;
  color: #fff;
}
.flex-container-propos .flex-child .title::after {
    content: '';
    width: 60px;
    height: 3px;
    background: #009673;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.portfolio-item.v2:after {
  background : rgba(0, 0, 0, 0.5);
}

.portfolio-filter ul.nav-tabs > li > a.active, .portfolio-filter ul.nav-tabs > li > a:hover, .portfolio-filter ul.nav-tabs > li > a:focus,.portfolio-filter ul.nav-tabs > li > a:active.gsc-tab-views.style-1 ul.nav-tabs > li.active a {
  background-color: #b4f9e9;
  color: #009673;
  text-decoration: wavy !important;
}

.gsc-tab-views.style-1 ul.nav-tabs > li > a:hover {
  color: white;
}

.style-content-row-v1 .row-wrapper {
  transform: translateY(-25%);
}

.portfolio-filter ul.nav-tabs > li > a.active, .portfolio-filter ul.nav-tabs > li > a:hover, .portfolio-filter ul.nav-tabs > li > a:focus, .portfolio-filter ul.nav-tabs > li > a:active {
  color: #1d85a7;
  background-color: #b4f9e9;
  text-decoration: wavy !important;
}

.portfolio-filter ul.nav-tabs > li > a:active {
  text-decoration: wavy !important;
}

.portfolio-filter ul.nav-tabs > li > a:focus {
  text-decoration: wavy !important;
}

.breadcrumb-content-inner .gva-breadcrumb-content .gva-block-breadcrumb.text-white .breadcrumb-links li, .breadcrumb-content-inner .gva-breadcrumb-content .gva-block-breadcrumb.text-light .breadcrumb-links li {
  text-transform: initial;
}

.lookat {
  background-color: #c5c5c5;
  text-align: -webkit-center;
  text-transform: uppercase;
  }
  .left > h2 {
    position: relative;
    display: inline-block;
    font-size: 24px;
  }
  .left > h2::after {
    content: "";
    width: 60px;
    height: 3px;
    background: #1d85a7;
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 1;
  }

/* Nos moyens */

 .moyens  > span{
  position: relative;
  display: inline-block;
}

.moyens > span::after {
    content: "";
    width: 60px;
    height: 3px;
    background: #1d85a7;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.row-wrapper.clearfix {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 3px 15px 0px rgba(1,0,0,1.3);

}
header#header.header-v1.row-wrapper.clearfix {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 3px 15px 0px rgba(1,0,0,1.3);
  background: transparent;
  /* border-radius: 10px; */
}
@media only screen and (min-width:200px) and (max-width:500px) {
  header#header.header-v1.row-wrapper.clearfix {
    display: revert;
    flex-wrap: wrap;
    box-shadow: 0px 3px 15px 0px rgba(1,0,0,1.3);
    background: transparent;

  }
}
/* .row-wrapper.clearfix.pictures {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 3px 15px 0px rgba(1,0,0,1.3);
  background: transparent;
  border-radius: 20px;
} */
.gsc-column.col-lg-7.col-md-7.col-sm-12.col-xs-12 {
  display: flex;
  position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.gavias-blockbuilder-content > h2 {
    font-weight: 700;
    margin: 0px 0px -65px 0px;
    position: relative;
    color: #333333;
    font-size: 36px;
    padding-bottom: 10px;
    text-transform: none;
    line-height: 42px;
    text-align: center;
    box-sizing: border-box;
    /* box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.3); */
}
/* notre mission */
.gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12 > p {
  text-align: left;
}
.gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12 > ul {
  list-style: none;

}
/* qui sommes nous */
 /* #myCarousel.carousel.slide.propos, .flex-child > .right */
 .column-content-inner.presentation {
  /* box-shadow: 0px 3px 15px 0px rgba(1,0,0,1.3); */
  text-align: center;
  margin: 5px;
}

@media only screen and (min-width:200px) and (max-width:280px) {
  .container-carousel-tab-view {
    max-width: 270px;
    margin: auto;
  }
}
@media only screen and (min-width:430px) and (max-width:770px){
  .container-carousel-tab-view {
    max-width: 400px;
    margin: auto;
  }
}

/* references page */
table.row-wrapper.clearfix {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  /* transform: rotateY(35deg); */
  /* margin: 0px 100px; */
}

  .flex-child.table:first-child{
    display: contents;
  }

.gsc-tab-views.style-references  > ul {
  list-style: none;
  display: grid;
  margin: auto;
  width: 50%;
  /* border: 3px solid  #1d85a7; */
  padding: 10px;
  box-shadow: 0px 3px 15px 0px rgba(1,0,0,1.3);
}
@media only screen and (max-width:420px) {
  table.row-wrapper.clearfix {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 100%; */
    overflow-x:auto;
    /* transform: rotateY(35deg); */
    /* margin: 0px 100px; */
  }
}

/* index */

.container.header-content-layout {
  display: contents !important;
}
.header-v1.row-wrapper.clearfix {
  display: block !important;
}
.contact {
  text-align: center;
}

/* #4uzi1.rev_slider.fullwidthabanner > ul >li{
  box-shadow: 2px 2px 4px 0px rgba(1,0,0,1.3) !important;
} */

/* @media only screen and (min-width:400px) and (max-width:760px) {
  .w3-content {
    height: 80rem; border: 1rem solid rgba(0,0,0,.1);
  }
  iframe.mySlides {
    width: 100%;
  }
}  */
.w3-content {
  /* overflow: scroll;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit-box; */
  overflow : auto;
   /* -webkit-overflow-scrolling : touch; */
}
.video-iframe {
  display: table;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 3px 15px 0px rgba(1,0,0,1.3);
}
.location > img {
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
@media only screen and (min-width:300px) and (max-width:500px) {
  h2 {
    font-size: small;
  }
  .gsc-tab-views.style-1 > .clearfix.text-center > .nav.nav-tabs > ol {
    font-weight: 600;
    font-size: xx-small;
  }
  ul.nav.nav-tabs.references {
    width: 300px;
    font-size: xx-small;
  }
  .gsc-tab-views.style-2 ul.nav.nav-tabs {
    /* width: 100%;
    font-size: xx-small; */
    display: none;
  }

}
@media only screen and (min-width:300px) and (max-width:820px){
  .w3-content {
    display: none;
  }
}
form.centered {
  display: block;

}
.form-group > input {
  background-color: inherit;
  width: 100%;
  color: #F7F8F8;
}

.alert {
  /*display: inline-block;*/
  margin: auto;
  width: 500px;
  text-align: center;
}
li.active{
  width: -webkit-fill-available;
}
@media only screen and (min-width:280px) and (max-width:360px){
  .carousel-caption > h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .carousel-caption  {
    /* margin-bottom: 100px; */
    margin: 125px;
    width: 100%;
    height: 100px;
  }



  #myCarousel.carousel.slide {
    width: 100%;
    margin: auto;
  }
  .gsc-tab-views.style-1 > .clearfix.text-center > .nav.nav-tabs > ol {
    padding: 0px;
    /* margin: auto;
    width: 100%; */
  }
  .flex-child.table > .left > table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
  }
}
@media only screen and (min-width:540px) and (max-width:770px){
  #myCarousel.carousel.slide {
    width: 100%;
    margin: auto;
  }
}
@media only screen and (min-width:360px) and (max-width:460px) {
  .gsc-tab-views.style-1 > .clearfix.text-center > .nav.nav-tabs > ol {
    padding: inherit;
    /* margin: auto;
    width: 100%; */
  }
  .carousel-caption {
    margin: 125px;
    width: 100%;
    height: 135px;
  }
  .carousel-caption > h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .carousel-caption  {
    margin-bottom: 90px;
  }
 }
  @media only screen and (min-width:461px) and (max-width:771px){
    .gsc-tab-views.style-1 > .clearfix.text-center > .nav.nav-tabs > ol{
      padding: inherit;
    }
    .carousel-caption > h3 {
      width: 100%;
      margin: 0px 20px;
    }
    .carousel-caption  {
      margin-bottom: -30px;
      text-align: center;
      left: inherit;
    }
    .carousel-caption > p {
      width: 100%;
      margin: 0px 20px;
    }

  #myCarousel.carousel {
   display: contents;

  }
  .carousel-indicators {
    width: 100%;
    margin-top: 100px;
  }
  .carousel.slide {
    height: 100%;
    width: 100%;
  }
  .carousel-inner {
    min-height: 400px;
    width: 100%;
  }
  .carousel-inner > .item > img {
    width: 100%;
  }
 .container-carousel-tab-view {
   display: contents;
   width: 100%;
   text-align: justify;
 }
}
.bb-inner.default {
  width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 135px;
}
@media only screen and (min-width:760px) and (max-width:991px){
  .row-wrapper.clearfi.home-page {
    display: flex;
    width: 100%;
    margin-left: -150px;
    margin-right: -150px;
  }
}
@media only screen and (min-width:280px) and (max-width:759px){
  .row-wrapper.clearfi.home-page {
    width: 100%;
    margin-left: -135px;
    margin-right: -150px;
  }
}
.recrutement {
  height: 250px;
  position: relative;
}
.recrutement > h3 {
  width: 50%;
margin-left: 33%;
margin-right: 33%;
 position: absolute;
 top: 50%;

 transform: translateY(-50%);
}
