/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */
@media(min-width:992px) {
  header .clearfix{
    float: right;  
  }
  header .clearfix > li {
    display: inline-block;
    margin: 25px 5px;
    font-size: 1em;
  }
}
